n8n/apify-flow-api.json
{
  "name": "JobRadar — Flow 4b: Apify Scrapers (XING + others)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 4,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "n_trigger",
      "name": "Schedule: Daily 04:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "notes": "30 мин после Flow 4 (04:00) чтобы не конкурировать за LLM."
    },
    {
      "id": "n_apify_xing",
      "name": "Apify: XING Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/{{ $env.APIFY_XING_ACTOR_ID }}/runs?waitForFinish=300&token={{ $env.APIFY_API_TOKEN }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"searchQuery\": \"automation engineer n8n KI\", \"location\": \"Deutschland\", \"maxItems\": 50 }",
        "options": {
          "timeout": 320000
        }
      },
      "notes": "Запускает XING actor синхронно (waitForFinish=300s).\nАктор: найти на apify.com/store → поиск 'xing jobs'.\nЗаписать ID в .env как APIFY_XING_ACTOR_ID.\nОтвет: { defaultDatasetId, status, ... }"
    },
    {
      "id": "n_apify_xing_fetch",
      "name": "Apify: Fetch XING Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.apify.com/v2/datasets/' + $json.defaultDatasetId + '/items?token=' + $env.APIFY_API_TOKEN + '&clean=true&limit=50' }}",
        "options": {
          "timeout": 30000
        }
      },
      "notes": "Забирает результаты из датасета Apify.\nОтдаёт массив объектов — один объект = одна вакансия."
    },
    {
      "id": "n_flatten_xing",
      "name": "Flatten: XING",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "jsCode": "// Apify XING actor response — массив вакансий\n// Поля могут отличаться в зависимости от актора — при необходимости адаптировать\nconst raw = $input.item.json;\nconst items = Array.isArray(raw) ? raw : [raw];\nif (items.length === 0) return [];\nreturn items\n  .filter(job => job && (job.title || job.name))\n  .map(job => ({ json: { ...job, source_label: 'xing_apify' } }));"
      }
    },
    {
      "id": "n_normalize",
      "name": "Normalize: Apify Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "jsCode": "// Нормализация вакансий из Apify-акторов в формат JobRadar.\n// source_label: 'xing_apify' | (будущие: 'linkedin_apify', etc.)\n\nconst job = $input.item.json;\nconst source = job.source_label;\n\nfunction stripHtml(html) {\n  return (html || '').replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nlet title, companyName, location, description, jobUrl, publishedAt;\n\nif (source === 'xing_apify') {\n  // Поля XING актора (адаптировать под конкретный actor)\n  title       = job.title || job.name || '';\n  companyName = job.company || job.companyName || '';\n  location    = job.location || job.city || 'Germany';\n  description = stripHtml(job.description || job.body || '').substring(0, 7000);\n  jobUrl      = job.url || job.link || '';\n  publishedAt = job.postedAt || job.date || null;\n} else {\n  throw new Error('Unknown source_label: ' + source);\n}\n\nconst now = new Date().toISOString();\nconst rawText = [\n  'Title: '    + (title       || ''),\n  'Company: '  + (companyName || ''),\n  'Location: ' + (location    || 'Germany'),\n  'Source: XING (via Apify)',\n  '',\n  'Job Description:',\n  (description || '').substring(0, 7000)\n].join('\\n');\n\nreturn [{\n  json: {\n    source_label: source,\n    normalized_input: {\n      input_source:     'scraped',\n      source_detail:    source,\n      email_account_id: null,\n      email_address:    null,\n      email_provider:   null,\n      subject:          title || null,\n      date:             publishedAt || now,\n      raw_text:         rawText,\n      raw_meta:         { url: jobUrl, label: source }\n    }\n  }\n}];"
      }
    },
    {
      "id": "n_dedup",
      "name": "Dedup Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1320,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "ZjjVGIqiRAUVlCk6",
          "name": "radar"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS cnt FROM jobs WHERE source_url = $1 AND updated_at > NOW() - INTERVAL '24 hours';",
        "options": {
          "queryReplacement": "={{ [$json.normalized_input.raw_meta.url] }}"
        }
      }
    },
    {
      "id": "n_if_fresh",
      "name": "IF: not already processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_fresh",
              "leftValue": "={{ parseInt($json.cnt) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n_skip",
      "name": "Already Processed: Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        520
      ],
      "parameters": {}
    },
    {
      "id": "n_skip_security",
      "name": "Skip Security Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ],
      "parameters": {
        "jsCode": "const ni = $('Normalize: Apify Job').item.json.normalized_input;\nreturn [{ json: { normalized_input: ni, hard_injection_detected: 'no' } }];"
      }
    },
    {
      "id": "n_llm",
      "name": "LLM Call (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen/qwen3-30b-a3b-instruct-2507', max_tokens: 2048, messages: [{ role: 'system', content: $env.JOBRADAR_SYSTEM_PROMPT }, { role: 'user', content: JSON.stringify($json.normalized_input) }] }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "n_parse",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.item.json;\nlet jobEvent;\ntry {\n  let raw = (body.choices[0].message.content || '').trim();\n  raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n  raw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  jobEvent = JSON.parse(raw);\n} catch (err) {\n  throw new Error('LLM returned invalid JSON: ' + String(body?.choices?.[0]?.message?.content || '').substring(0, 300));\n}\nif (typeof jobEvent.is_job_related !== 'boolean') throw new Error('Parse error: is_job_related must be boolean');\nif (typeof jobEvent.injection_suspected !== 'boolean') jobEvent.injection_suspected = false;\nconst ALLOWED_ACTIONS = ['create_job','update_stage','add_interview','add_deadline','log_only','flag_error','ignore'];\nif (!ALLOWED_ACTIONS.includes(jobEvent.action)) throw new Error('Parse error: invalid action: ' + jobEvent.action);\nif (jobEvent.company_id && !/^[a-z0-9][a-z0-9-]*[a-z0-9]$/.test(jobEvent.company_id)) {\n  jobEvent.company_id = jobEvent.company_id.toLowerCase().replace(/[^a-z0-9-]/g, '-').replace(/--+/g, '-').replace(/^-|-$/g, '');\n}\nif (!Array.isArray(jobEvent.tech_stack)) jobEvent.tech_stack = [];\nif (!Array.isArray(jobEvent.key_requirements)) jobEvent.key_requirements = [];\nconst JOB_RELATED_CATEGORIES = ['job_posting','hr_invite','interview_invite','test_task','offer','rejection','follow_up','platform_notification','manual_note'];\nif (JOB_RELATED_CATEGORIES.includes(jobEvent.category)) jobEvent.is_job_related = true;\njobEvent.is_job_related_str = jobEvent.is_job_related ? 'yes' : 'no';\nreturn [{ json: { job_event: jobEvent } }];"
      }
    },
    {
      "id": "n_if_related",
      "name": "IF: is_job_related",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_related",
              "leftValue": "={{ $json.job_event.is_job_related_str }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n_not_related",
      "name": "Not Job Related: Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2640,
        520
      ],
      "parameters": {}
    },
    {
      "id": "n_prepare",
      "name": "Prepare DB Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        300
      ],
      "parameters": {
        "jsCode": "const e  = $input.item.json.job_event;\nconst ni = $('Normalize: Apify Job').item.json.normalized_input;\nconst sourceLabel = $('Normalize: Apify Job').item.json.source_label;\nconst rawText  = ni.raw_text;\nconst sourceUrl = (ni.raw_meta && ni.raw_meta.url) || null;\n\nfunction sql(v)  { if (v === null || v === undefined) return 'NULL'; return \"'\" + String(v).replace(/'/g, \"''\") + \"'\"; }\nfunction num(v)  { if (v === null || v === undefined) return 'NULL'; const n = parseFloat(v); return isNaN(n) ? 'NULL' : String(n); }\nfunction bool(v) { return v === true ? 'TRUE' : 'FALSE'; }\nfunction dt(v)   { return v ? \"'\" + String(v).replace(/'/g, \"''\") + \"'\" : 'NULL'; }\nfunction en(v,t) { return v ? \"'\" + String(v).replace(/'/g, \"''\") + \"'::\" + t : 'NULL'; }\nfunction arr(vals) { if (!vals || vals.length === 0) return \"'{}'\";\n  const parts = vals.map(v => '\"' + String(v).replace(/\\\\/g,'\\\\\\\\').replace(/\"/g,'\\\\\"') + '\"');\n  return \"'\" + '{' + parts.join(',') + '}' + \"'\"; }\nfunction jsonb(v) { if (!v) return \"'{}'::jsonb\"; return \"'\" + JSON.stringify(v).replace(/'/g,\"''\") + \"'::jsonb\"; }\n\nfunction normWorkMode(v) {\n  if (!v) return null;\n  const s = String(v).toLowerCase().replace(/[-\\s]/g, '_');\n  const map = {\n    on_site: 'onsite', onsite: 'onsite', in_office: 'onsite', office: 'onsite', vor_ort: 'onsite',\n    full_remote: 'remote', fully_remote: 'remote', remote: 'remote', homeoffice: 'remote', home_office: 'remote',\n    hybrid: 'hybrid', partially_remote: 'hybrid', teilweise_remote: 'hybrid'\n  };\n  return map[s] || null;\n}\nfunction normSeniority(v) {\n  if (!v) return null;\n  const s = String(v).toLowerCase().replace(/[-\\s]/g, '_');\n  const map = {\n    intern: 'intern', internship: 'intern', praktikum: 'intern',\n    junior: 'junior', jr: 'junior',\n    middle: 'middle', mid: 'middle', medior: 'middle', intermediate: 'middle',\n    senior: 'senior', sr: 'senior',\n    lead: 'lead', tech_lead: 'lead', team_lead: 'lead',\n    principal: 'principal', staff: 'principal', architect: 'principal'\n  };\n  return map[s] || null;\n}\n\n\nreturn [{ json: { job_event: e, source_label: sourceLabel, db: {\n  company_id_sql:           sql(e.company_id           || 'unknown'),\n  company_name_sql:         sql(e.company_name         || 'Unknown Company'),\n  employer_id_sql:          sql(e.employer_id),\n  employer_name_sql:        sql(e.employer_name),\n  job_id_fuzzy_sql:         sql(e.job_id_fuzzy         || 'unknown__unknown__unknown'),\n  job_title_sql:            sql(e.job_title),\n  location_sql:             sql(e.location),\n  job_thread_key_sql:       sql(e.job_thread_key),\n  seniority_sql:            en(normSeniority(e.seniority),             'seniority_enum'),\n  work_mode_sql:            en(normWorkMode(e.work_mode),             'work_mode_enum'),\n  work_mode_raw_sql:        sql(e.work_mode_raw),\n  working_hours_sql:        sql(e.working_hours),\n  salary_currency_sql:      sql(e.salary_currency),\n  salary_min_sql:           num(e.salary_min),\n  salary_max_sql:           num(e.salary_max),\n  salary_period_sql:        en(e.salary_period,         'salary_period_enum'),\n  tech_stack_sql:           arr(e.tech_stack),\n  key_requirements_sql:     arr(e.key_requirements),\n  current_stage_sql:        en(e.stage || 'discovered', 'job_stage_enum'),\n  priority_sql:             en(e.priority,              'priority_enum'),\n  priority_level_sql:       num(e.priority_level),\n  interview_date_sql:       dt(e.interview_date),\n  response_deadline_sql:    dt(e.response_deadline),\n  application_deadline_sql: dt(e.application_deadline),\n  has_had_call_sql:         bool(e.has_had_call),\n  call_count_sql:           String(e.call_count || 0),\n  last_call_date_sql:       dt(e.last_call_date),\n  source_url_sql:           sql(sourceUrl || e.source_url || null),\n  source_input_sql:         en('scraped',               'input_source_enum'),\n  source_detail_sql:        sql(ni.source_detail        || sourceLabel),\n  summary_sql:              sql(e.summary),\n  category_sql:             en(e.category,              'job_category_enum'),\n  action_sql:               sql(e.action),\n  is_job_related_sql:       bool(e.is_job_related),\n  call_platform_sql:        en(e.call_platform,         'call_platform_enum'),\n  call_platform_raw_sql:    sql(e.call_platform_raw),\n  raw_text_sql:             sql(rawText),\n  parsed_json_sql:          jsonb(e),\n  sender_risk_level_sql:    sql('low'),\n  sender_risk_signals_sql:  arr([])\n} } }];"
      }
    },
    {
      "id": "n_db_write",
      "name": "DB: Write All",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2860,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "ZjjVGIqiRAUVlCk6",
          "name": "radar"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\nco AS (\n  INSERT INTO companies (company_id, name, meta)\n  VALUES ({{ $json.db.company_id_sql }}, {{ $json.db.company_name_sql }}, '{}')\n  ON CONFLICT (tenant_id, company_id) DO UPDATE SET updated_at = NOW()\n  RETURNING id\n),\nem AS (\n  INSERT INTO employers (employer_id, company_id, name)\n  SELECT {{ $json.db.employer_id_sql }}, {{ $json.db.company_id_sql }}, {{ $json.db.employer_name_sql }}\n  WHERE {{ $json.db.employer_id_sql }} IS NOT NULL\n  ON CONFLICT (tenant_id, employer_id) DO UPDATE SET name = COALESCE(EXCLUDED.name, employers.name), updated_at = NOW()\n  RETURNING id\n),\nj AS (\n  INSERT INTO jobs (\n    job_id_fuzzy, company_id, employer_id, job_title, location, seniority,\n    work_mode, work_mode_raw, working_hours, salary_currency, salary_min, salary_max, salary_period,\n    tech_stack, key_requirements, current_stage, priority, priority_level,\n    interview_date, response_deadline, application_deadline,\n    has_had_call, call_count, last_call_date, source_url, source_input, summary\n  ) VALUES (\n    {{ $json.db.job_id_fuzzy_sql }}, {{ $json.db.company_id_sql }}, {{ $json.db.employer_id_sql }},\n    {{ $json.db.job_title_sql }}, {{ $json.db.location_sql }}, {{ $json.db.seniority_sql }},\n    {{ $json.db.work_mode_sql }}, {{ $json.db.work_mode_raw_sql }}, {{ $json.db.working_hours_sql }},\n    {{ $json.db.salary_currency_sql }}, {{ $json.db.salary_min_sql }}, {{ $json.db.salary_max_sql }}, {{ $json.db.salary_period_sql }},\n    {{ $json.db.tech_stack_sql }}, {{ $json.db.key_requirements_sql }},\n    {{ $json.db.current_stage_sql }}, {{ $json.db.priority_sql }}, {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }}, {{ $json.db.response_deadline_sql }}, {{ $json.db.application_deadline_sql }},\n    {{ $json.db.has_had_call_sql }}, {{ $json.db.call_count_sql }}, {{ $json.db.last_call_date_sql }},\n    {{ $json.db.source_url_sql }}, {{ $json.db.source_input_sql }}, {{ $json.db.summary_sql }}\n  )\n  ON CONFLICT (tenant_id, job_id_fuzzy) DO UPDATE SET\n    current_stage = EXCLUDED.current_stage, priority = EXCLUDED.priority, priority_level = EXCLUDED.priority_level,\n    interview_date = COALESCE(EXCLUDED.interview_date, jobs.interview_date),\n    response_deadline = COALESCE(EXCLUDED.response_deadline, jobs.response_deadline),\n    application_deadline = COALESCE(EXCLUDED.application_deadline, jobs.application_deadline),\n    tech_stack = CASE WHEN array_length(EXCLUDED.tech_stack,1) > 0 THEN EXCLUDED.tech_stack ELSE jobs.tech_stack END,\n    source_url = COALESCE(EXCLUDED.source_url, jobs.source_url), summary = EXCLUDED.summary, updated_at = NOW()\n  RETURNING id, job_id_fuzzy, current_stage::text, priority::text, summary, interview_date\n),\nev AS (\n  INSERT INTO job_events (\n    job_id, job_thread_key, job_id_fuzzy, input_source, source_detail,\n    category, is_job_related, action, stage, priority, priority_level,\n    interview_date, response_deadline, application_deadline,\n    call_platform, call_platform_raw, raw_text, parsed_json,\n    sender_risk_level, sender_risk_signals\n  ) SELECT\n    (SELECT id FROM j), {{ $json.db.job_thread_key_sql }}, {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.source_input_sql }}, {{ $json.db.source_detail_sql }},\n    {{ $json.db.category_sql }}, {{ $json.db.is_job_related_sql }}, {{ $json.db.action_sql }},\n    {{ $json.db.current_stage_sql }}, {{ $json.db.priority_sql }}, {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }}, {{ $json.db.response_deadline_sql }}, {{ $json.db.application_deadline_sql }},\n    {{ $json.db.call_platform_sql }}, {{ $json.db.call_platform_raw_sql }},\n    {{ $json.db.raw_text_sql }}, {{ $json.db.parsed_json_sql }},\n    {{ $json.db.sender_risk_level_sql }}, {{ $json.db.sender_risk_signals_sql }}\n  RETURNING id\n)\nSELECT (SELECT id FROM j) AS job_id, (SELECT job_id_fuzzy FROM j) AS job_id_fuzzy,\n       (SELECT current_stage FROM j) AS stage, (SELECT priority FROM j) AS priority,\n       (SELECT summary FROM j) AS summary, (SELECT interview_date FROM j) AS interview_date,\n       (SELECT id FROM ev) AS event_id;",
        "options": {}
      }
    },
    {
      "id": "n_if_priority",
      "name": "IF: priority = high",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3080,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_priority",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n_telegram",
      "name": "Telegram: Job Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, parse_mode: 'HTML', text: ['\\u{1F4CD} <b>XING: ' + ($('Parse LLM Response').item.json.job_event.company_name || 'Unknown') + '</b>', ($('Parse LLM Response').item.json.job_event.job_title || '\\u2014'), '', 'Stage: <code>' + ($json.stage || '') + '</code>  Priority: <b>' + ($json.priority || '') + '</b>', 'Relevance: <b>' + ($('Parse LLM Response').item.json.job_event.relevance_score || '?') + '/100</b>', '', ($json.summary || '')].join('\\n') }) }}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "stub_scrapingbee",
      "name": "ScrapingBee STUB",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        700
      ],
      "parameters": {},
      "notes": "ScrapingBee — headless browser API\nБесплатно: 1000 вызовов/мес\nURL: https://app.scrapingbee.com/api/v1/?api_key=KEY&url=TARGET&render_js=true\nДокументация: https://www.scrapingbee.com/documentation\nАктивировать: получить API ключ → добавить SCRAPINGBEE_API_KEY в .env"
    },
    {
      "id": "stub_scraperapi",
      "name": "Scraper API STUB",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        820
      ],
      "parameters": {},
      "notes": "Scraper API — прокси + браузер + капча\nБесплатно: 1000 вызовов/мес\nURL: http://api.scraperapi.com/?api_key=KEY&url=TARGET&render=true\nДокументация: https://docs.scraperapi.com\nАктивировать: scraperapi.com → API ключ → SCRAPERAPI_KEY в .env"
    },
    {
      "id": "stub_scrapestack",
      "name": "Scrapestack STUB",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        940
      ],
      "parameters": {},
      "notes": "Scrapestack — REST API с прокси + автокапча\nБесплатно: 1000 запросов/мес\nURL: http://api.scrapestack.com/scrape?access_key=KEY&url=TARGET\nДокументация: https://scrapestack.com/documentation\nАктивировать: scrapestack.com → access_key → SCRAPESTACK_KEY в .env"
    },
    {
      "id": "stub_octoparse",
      "name": "Octoparse STUB",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        1060
      ],
      "parameters": {},
      "notes": "Octoparse — no-code cloud scraper\nБесплатно: базовый тариф\nИнтеграция: Octoparse Cloud API → HTTP Request\nДокументация: https://helpcenter.octoparse.com/hc/en-us/categories/4407810404249\nАктивировать: настроить задачу в Octoparse UI → получить Task ID → API ключ"
    },
    {
      "id": "stub_mozenda",
      "name": "Mozenda STUB",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        1180
      ],
      "parameters": {},
      "notes": "Mozenda — корпоративный облачный скрапер\nОт $250/мес — только для больших объёмов\nAPI: https://mozenda.com/api\nАктивировать: только при масштабировании до десятков тысяч вакансий/день"
    },
    {
      "id": "stub_scrapingbot",
      "name": "ScrapingBot STUB",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        1300
      ],
      "parameters": {},
      "notes": "ScrapingBot — множество API (HTML, Real Estate, Retail)\nБесплатно: 100 кредитов\nURL: https://api.scraping-bot.io/scrape/raw-html\nДокументация: https://www.scraping-bot.io/web-scraping-documentation\nАктивировать: scraping-bot.io → API ключ → SCRAPINGBOT_KEY в .env"
    }
  ],
  "connections": {
    "Schedule: Daily 04:30": {
      "main": [
        [
          {
            "node": "Apify: XING Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify: XING Jobs": {
      "main": [
        [
          {
            "node": "Apify: Fetch XING Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify: Fetch XING Results": {
      "main": [
        [
          {
            "node": "Flatten: XING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten: XING": {
      "main": [
        [
          {
            "node": "Normalize: Apify Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize: Apify Job": {
      "main": [
        [
          {
            "node": "Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Check": {
      "main": [
        [
          {
            "node": "IF: not already processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: not already processed": {
      "main": [
        [
          {
            "node": "Skip Security Checks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Already Processed: Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Security Checks": {
      "main": [
        [
          {
            "node": "LLM Call (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call (OpenRouter)": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "IF: is_job_related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is_job_related": {
      "main": [
        [
          {
            "node": "Prepare DB Params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Job Related: Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Params": {
      "main": [
        [
          {
            "node": "DB: Write All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Write All": {
      "main": [
        [
          {
            "node": "IF: priority = high",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: priority = high": {
      "main": [
        [
          {
            "node": "Telegram: Job Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  }
}