n8n/corporate-flow-import.json
{
  "name": "JobRadar -- Flow 2b: Corporate Career Pages",
  "nodes": [
    {
      "id": "n_trigger",
      "name": "Schedule: Daily 05:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      },
      "notes": "Runs at 05:00 CET daily. After Flow 2 (04:00) to avoid DB contention."
    },
    {
      "id": "n_gh_celonis",
      "name": "GH: Celonis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -300
      ],
      "notes": "Process Mining/Automation, Munich",
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "GET",
        "url": "https://boards-api.greenhouse.io/v1/boards/celonis/jobs?content=true",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_gh_flat_celonis",
      "name": "Flatten: GH Celonis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -300
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst jobs = Array.isArray(resp.jobs) ? resp.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'greenhouse_api',\n  _company: 'Celonis',\n  _company_slug: 'celonis',\n  title: j.title || '',\n  location: (j.location && j.location.name) || 'Remote',\n  url: j.absolute_url || '',\n  published_at: j.updated_at || null,\n  departments: Array.isArray(j.departments) ? j.departments.map(d => d.name).join(', ') : '',\n  content: j.content ? j.content.replace(/<[^>]+>/g, ' ').substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_gh_hellofresh",
      "name": "GH: HelloFresh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -100
      ],
      "notes": "Tech/Operations, Berlin",
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "GET",
        "url": "https://boards-api.greenhouse.io/v1/boards/hellofresh/jobs?content=true",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_gh_flat_hellofresh",
      "name": "Flatten: GH HelloFresh",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -100
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst jobs = Array.isArray(resp.jobs) ? resp.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'greenhouse_api',\n  _company: 'HelloFresh',\n  _company_slug: 'hellofresh',\n  title: j.title || '',\n  location: (j.location && j.location.name) || 'Remote',\n  url: j.absolute_url || '',\n  published_at: j.updated_at || null,\n  departments: Array.isArray(j.departments) ? j.departments.map(d => d.name).join(', ') : '',\n  content: j.content ? j.content.replace(/<[^>]+>/g, ' ').substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_gh_n26",
      "name": "GH: N26",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        100
      ],
      "notes": "Fintech, Berlin",
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "GET",
        "url": "https://boards-api.greenhouse.io/v1/boards/n26/jobs?content=true",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_gh_flat_n26",
      "name": "Flatten: GH N26",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        100
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst jobs = Array.isArray(resp.jobs) ? resp.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'greenhouse_api',\n  _company: 'N26',\n  _company_slug: 'n26',\n  title: j.title || '',\n  location: (j.location && j.location.name) || 'Remote',\n  url: j.absolute_url || '',\n  published_at: j.updated_at || null,\n  departments: Array.isArray(j.departments) ? j.departments.map(d => d.name).join(', ') : '',\n  content: j.content ? j.content.replace(/<[^>]+>/g, ' ').substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_gh_getyourguide",
      "name": "GH: GetYourGuide",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ],
      "notes": "Travel Tech, Berlin",
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "GET",
        "url": "https://boards-api.greenhouse.io/v1/boards/getyourguide/jobs?content=true",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_gh_flat_getyourguide",
      "name": "Flatten: GH GetYourGuide",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst jobs = Array.isArray(resp.jobs) ? resp.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'greenhouse_api',\n  _company: 'GetYourGuide',\n  _company_slug: 'getyourguide',\n  title: j.title || '',\n  location: (j.location && j.location.name) || 'Remote',\n  url: j.absolute_url || '',\n  published_at: j.updated_at || null,\n  departments: Array.isArray(j.departments) ? j.departments.map(d => d.name).join(', ') : '',\n  content: j.content ? j.content.replace(/<[^>]+>/g, ' ').substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_gh_sumup",
      "name": "GH: SumUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        500
      ],
      "notes": "Fintech/Payments, Berlin",
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "GET",
        "url": "https://boards-api.greenhouse.io/v1/boards/sumup/jobs?content=true",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_gh_flat_sumup",
      "name": "Flatten: GH SumUp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        500
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst jobs = Array.isArray(resp.jobs) ? resp.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'greenhouse_api',\n  _company: 'SumUp',\n  _company_slug: 'sumup',\n  title: j.title || '',\n  location: (j.location && j.location.name) || 'Remote',\n  url: j.absolute_url || '',\n  published_at: j.updated_at || null,\n  departments: Array.isArray(j.departments) ? j.departments.map(d => d.name).join(', ') : '',\n  content: j.content ? j.content.replace(/<[^>]+>/g, ' ').substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_gh_babbel",
      "name": "GH: Babbel STUB",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        420,
        700
      ],
      "parameters": {},
      "notes": "Babbel left Greenhouse. Now on jobs.babbel.com (Elastic App Search, CSRF-protected — not callable from n8n directly). Add as Firecrawl target when needed."
    },
    {
      "id": "n_gh_flat_babbel",
      "name": "Flatten: GH Babbel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        700
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst jobs = Array.isArray(resp.jobs) ? resp.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'greenhouse_api',\n  _company: 'Babbel',\n  _company_slug: 'babbel',\n  title: j.title || '',\n  location: (j.location && j.location.name) || 'Remote',\n  url: j.absolute_url || '',\n  published_at: j.updated_at || null,\n  departments: Array.isArray(j.departments) ? j.departments.map(d => d.name).join(', ') : '',\n  content: j.content ? j.content.replace(/<[^>]+>/g, ' ').substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_gh_contentful",
      "name": "GH: Contentful",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        900
      ],
      "notes": "Headless CMS, Berlin",
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "GET",
        "url": "https://boards-api.greenhouse.io/v1/boards/contentful/jobs?content=true",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_gh_flat_contentful",
      "name": "Flatten: GH Contentful",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        900
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst jobs = Array.isArray(resp.jobs) ? resp.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'greenhouse_api',\n  _company: 'Contentful',\n  _company_slug: 'contentful',\n  title: j.title || '',\n  location: (j.location && j.location.name) || 'Remote',\n  url: j.absolute_url || '',\n  published_at: j.updated_at || null,\n  departments: Array.isArray(j.departments) ? j.departments.map(d => d.name).join(', ') : '',\n  content: j.content ? j.content.replace(/<[^>]+>/g, ' ').substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_ab_aleph_alpha",
      "name": "Ashby: Aleph Alpha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        900
      ],
      "notes": "AI Research, Heidelberg",
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "GET",
        "url": "https://api.ashbyhq.com/posting-api/job-board/AlephAlpha",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_ab_flat_aleph_alpha",
      "name": "Flatten: Ashby Aleph Alpha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        900
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst jobs = Array.isArray(raw.jobs) ? raw.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'ashby_api',\n  _company: 'Aleph Alpha',\n  _company_slug: 'aleph-alpha',\n  title: j.title || '',\n  location: j.location || (j.address && j.address.city) || '',\n  url: j.jobUrl || '',\n  published_at: j.publishedAt || null,\n  departments: j.department || j.team || '',\n  content: j.descriptionPlain ? j.descriptionPlain.substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_fc_stub_sap",
      "name": "STUB: SAP Jobs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        420,
        1900
      ],
      "notes": "Activate: jobs.sap.com/search/?q=automation+engineer\nReplace with Firecrawl HTTP node when ready."
    },
    {
      "id": "n_fc_stub_siemens",
      "name": "STUB: Siemens Jobs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        420,
        2100
      ],
      "notes": "Activate: jobs.siemens.com/?keywords=automation\nReplace with Firecrawl HTTP node when ready."
    },
    {
      "id": "n_fc_stub_deliveryhero",
      "name": "STUB: Delivery Hero Jobs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        420,
        2300
      ],
      "notes": "Activate: careers.deliveryhero.com (custom ATS)\nReplace with Firecrawl HTTP node when ready."
    },
    {
      "id": "n_fc_stub_teamviewer",
      "name": "STUB: TeamViewer Jobs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        420,
        2500
      ],
      "notes": "Activate: teamviewer.com/en/company/careers (custom ATS)\nReplace with Firecrawl HTTP node when ready."
    },
    {
      "id": "n_fc_stub_zalando",
      "name": "STUB: Zalando Jobs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        420,
        2700
      ],
      "notes": "Activate: jobs.zalando.com -- no public API, needs Firecrawl\nReplace with Firecrawl HTTP node when ready."
    },
    {
      "id": "n_merge",
      "name": "Merge: All Corporate",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        860,
        300
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 8
      }
    },
    {
      "id": "n_kw_filter",
      "name": "Keyword Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ],
      "notes": "Keeps AI/automation jobs. Discards: senior/lead/head roles; 5+ years experience requirements.",
      "parameters": {
        "jsCode": "const KEYWORDS = ['automation', 'automat', 'rpa', 'robotic process', 'process automation', 'workflow automation', 'low-code', 'no-code', 'machine learning', 'deep learning', 'neural network', 'artificial intelligence', 'ai engineer', 'ai developer', 'ai specialist', 'ai researcher', 'ai architect', 'llm', 'large language model', 'generative ai', 'genai', 'gen-ai', 'prompt engineer', 'vector search', 'rag ', 'künstliche intelligenz', 'ki engineer', 'ki developer', 'ki-', ' ki ', 'maschinelles lernen', 'automatisierung', 'mlops', 'dataops', 'data engineer', 'data pipeline', 'etl', 'n8n', 'zapier', 'airflow', 'prefect', 'dagster', 'make.com', 'integration engineer', 'integration developer', 'devops', 'platform engineer', 'process mining'];\nconst EXCLUDE_TITLE = ['senior ', 'sr. ', 'sr ', 'staff engineer', 'principal ', 'lead engineer', 'tech lead', 'engineering lead', 'head of', 'director', 'vp ', 'vice president', 'account executive', 'account manager', 'sales manager', 'marketing manager', 'product marketing'];\nconst EXP_REGEX = new RegExp('\\\\b([5-9]|\\\\d{2})\\\\+?\\\\s*(?:years?|jahre?)(?:\\\\s+of)?\\\\s*(?:experience|erfahrung|berufserfahrung)', 'i');\n\nreturn $input.all().filter(item => {\n  const job = item.json;\n  const title = (job.title || '').toLowerCase();\n  const fullText = [title, (job.departments || ''), (job.content || '')].join(' ').toLowerCase();\n\n  // Discard senior/lead/head/director titles\n  if (EXCLUDE_TITLE.some(ex => title.includes(ex))) return false;\n  // Discard postings requiring 5+ years of experience\n  if (EXP_REGEX.test(fullText)) return false;\n  // Keep only AI/automation-relevant roles\n  return KEYWORDS.some(kw => fullText.includes(kw));\n});"
      }
    },
    {
      "id": "n_normalize",
      "name": "Normalize: Corporate Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "jsCode": "const now = new Date().toISOString();\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: {\n    normalized_input: {\n      input_source: 'scraped',\n      source_detail: j._source || 'corporate_api',\n      email_account_id: null,\n      email_address: null,\n      email_provider: null,\n      subject: '[JOB POSTING] ' + (j.title || '') + ' @ ' + (j._company || ''),\n      date: now,\n      raw_text: [\n        '=== JOB POSTING FROM CORPORATE CAREER PAGE ===',\n        'Source: ' + (j._source || 'corporate_api'),\n        'Company: ' + (j._company || ''),\n        'Position: ' + (j.title || ''),\n        'Location: ' + (j.location || ''),\n        'Department: ' + (j.departments || ''),\n        'URL: ' + (j.url || ''),\n        '',\n        '=== JOB DESCRIPTION ===',\n        j.content || ''\n      ].join('\\n').substring(0, 8000),\n      raw_meta: {\n        company: j._company || null,\n        company_slug: j._company_slug || null,\n        job_url: j.url || null,\n        published_at: j.published_at || null,\n        source: j._source || null\n      }\n    }\n  } };\n});"
      }
    },
    {
      "id": "n_llm",
      "name": "LLM Call (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen/qwen3-30b-a3b-instruct-2507', max_tokens: 1500, messages: [{ role: 'system', content: $env.JOBRADAR_SYSTEM_PROMPT }, { role: 'user', content: '/no_think\\n\\nCONTEXT: This is a job posting scraped from a corporate career page API (Greenhouse/Lever). Extract ALL available fields: company_name from raw_meta.company, job_title from subject or raw_text Position field, location, tech_stack, key_requirements, source_url from raw_meta.job_url. Set category=job_posting, is_job_related=true, action=create_job. Evaluate relevance_score per candidate profile. Output JSON only.\\n\\n' + JSON.stringify($json.normalized_input) }] }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "n_parse",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.item.json;\nlet jobEvent;\ntry {\n  let raw = (body.choices[0].message.content || '').trim();\n  raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n  raw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  jobEvent = JSON.parse(raw);\n} catch (err) {\n  throw new Error('LLM returned invalid JSON: ' + String(body?.choices?.[0]?.message?.content || '').substring(0, 300));\n}\n\nif (typeof jobEvent.is_job_related !== 'boolean') throw new Error('is_job_related must be boolean');\nif (typeof jobEvent.injection_suspected !== 'boolean') jobEvent.injection_suspected = false;\n\nconst ALLOWED_ACTIONS = ['create_job','update_stage','add_interview','add_deadline','log_only','flag_error','ignore'];\nif (!ALLOWED_ACTIONS.includes(jobEvent.action)) throw new Error('Invalid action: ' + String(jobEvent.action));\n\nif (!Array.isArray(jobEvent.tech_stack)) jobEvent.tech_stack = [];\nif (!Array.isArray(jobEvent.key_requirements)) jobEvent.key_requirements = [];\n\nconst JOB_RELATED_CATEGORIES = ['job_posting','hr_invite','interview_invite','test_task','offer','rejection','follow_up','platform_notification','manual_note'];\nif (JOB_RELATED_CATEGORIES.includes(jobEvent.category)) jobEvent.is_job_related = true;\n\njobEvent.is_job_related_str = jobEvent.is_job_related ? 'yes' : 'no';\n\nreturn [{ json: { job_event: jobEvent } }];"
      }
    },
    {
      "id": "n_if_related",
      "name": "IF: is_job_related",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_related",
              "leftValue": "={{ $json.job_event.is_job_related_str }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n_prepare",
      "name": "Prepare DB Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        300
      ],
      "parameters": {
        "jsCode": "const e = $input.first().json.job_event;\nconst ni = $('Normalize: Corporate Job').first().json.normalized_input;\n\nfunction sql(v) { if (v===null||v===undefined) return 'NULL'; return \"'\"+ String(v).replace(/'/g,\"''\") +\"'\"; }\nfunction num(v) { if (v===null||v===undefined) return 'NULL'; const n=parseFloat(v); return isNaN(n)?'NULL':String(n); }\nfunction bool(v) { return v===true?'TRUE':'FALSE'; }\nfunction dt(v)   { return v?\"'\"+ String(v).replace(/'/g,\"''\") +\"'\":'NULL'; }\nfunction en(v,t) { return v?\"'\"+ String(v).replace(/'/g,\"''\") +\"'::\"+t:'NULL'; }\nfunction arr(vals) {\n  if (!vals||vals.length===0) return \"'{}'\";\n  const parts=vals.map(v=>'\"'+ String(v).replace(/\\\\/g,'\\\\\\\\').replace(/\"/g,'\\\\\"') +'\"');\n  return \"'\"+'{'+ parts.join(',') +'}'+\"'\";\n}\nfunction jsonb(v) { if (!v) return \"'{}'::jsonb\"; return \"'\"+ JSON.stringify(v).replace(/'/g,\"''\") +\"'::jsonb\"; }\n\nfunction normWorkMode(v) {\n  if (!v) return null;\n  const s = String(v).toLowerCase().replace(/[-\\s]/g, '_');\n  const map = {\n    on_site: 'onsite', onsite: 'onsite', in_office: 'onsite', office: 'onsite', vor_ort: 'onsite',\n    full_remote: 'remote', fully_remote: 'remote', remote: 'remote', homeoffice: 'remote', home_office: 'remote',\n    hybrid: 'hybrid', partially_remote: 'hybrid', teilweise_remote: 'hybrid'\n  };\n  return map[s] || null;\n}\nfunction normSeniority(v) {\n  if (!v) return null;\n  const s = String(v).toLowerCase().replace(/[-\\s]/g, '_');\n  const map = {\n    intern: 'intern', internship: 'intern', praktikum: 'intern',\n    junior: 'junior', jr: 'junior',\n    middle: 'middle', mid: 'middle', medior: 'middle', intermediate: 'middle',\n    senior: 'senior', sr: 'senior',\n    lead: 'lead', tech_lead: 'lead', team_lead: 'lead',\n    principal: 'principal', staff: 'principal', architect: 'principal'\n  };\n  return map[s] || null;\n}\n\nfunction slugify(s) { return (s||'').toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,''); }\n\n// Fallbacks: use raw_meta structured data when LLM returns null\nconst titleFromSubject = (ni.subject||'').replace(/^\\[JOB POSTING\\]\\s*/i,'').split(' @ ')[0].trim() || null;\nconst companyId   = e.company_id   || ni.raw_meta.company_slug || slugify(ni.raw_meta.company) || 'unknown';\nconst companyName = e.company_name || ni.raw_meta.company      || 'Unknown Company';\nconst jobTitle    = e.job_title    || titleFromSubject          || null;\nconst sourceUrl   = e.source_url   || ni.raw_meta.job_url      || null;\nconst jobIdFuzzy  = e.job_id_fuzzy || [companyId, slugify(jobTitle||'unknown'), slugify(e.location||'unknown')].join('__');\n\nreturn [{ json: {\n  job_event: e,\n  resolved: {\n    company_id:   companyId,\n    company_name: companyName,\n    job_title:    jobTitle,\n    source_url:   sourceUrl,\n    job_id_fuzzy: jobIdFuzzy\n  },\n  db: {\n    company_id_sql:           sql(companyId),\n    company_name_sql:         sql(companyName),\n    employer_id_sql:          sql(e.employer_id),\n    employer_name_sql:        sql(e.employer_name),\n    job_id_fuzzy_sql:         sql(jobIdFuzzy),\n    job_title_sql:            sql(jobTitle),\n    location_sql:             sql(e.location),\n    job_thread_key_sql:       sql(e.job_thread_key),\n    seniority_sql:            en(normSeniority(e.seniority),'seniority_enum'),\n    work_mode_sql:            en(normWorkMode(e.work_mode),'work_mode_enum'),\n    work_mode_raw_sql:        sql(e.work_mode_raw),\n    working_hours_sql:        sql(e.working_hours),\n    salary_currency_sql:      sql(e.salary_currency),\n    salary_min_sql:           num(e.salary_min),\n    salary_max_sql:           num(e.salary_max),\n    salary_period_sql:        en(e.salary_period,'salary_period_enum'),\n    tech_stack_sql:           arr(e.tech_stack),\n    key_requirements_sql:     arr(e.key_requirements),\n    current_stage_sql:        en(e.stage||'discovered','job_stage_enum'),\n    priority_sql:             en(e.priority,'priority_enum'),\n    priority_level_sql:       num(e.priority_level),\n    interview_date_sql:       dt(e.interview_date),\n    response_deadline_sql:    dt(e.response_deadline),\n    application_deadline_sql: dt(e.application_deadline),\n    has_had_call_sql:         bool(e.has_had_call),\n    call_count_sql:           String(e.call_count||0),\n    last_call_date_sql:       dt(e.last_call_date),\n    source_url_sql:           sql(sourceUrl),\n    source_input_sql:         en('scraped','input_source_enum'),\n    summary_sql:              sql(e.summary),\n    category_sql:             en(e.category,'job_category_enum'),\n    action_sql:               sql(e.action),\n    is_job_related_sql:       bool(e.is_job_related),\n    call_platform_sql:        en(e.call_platform,'call_platform_enum'),\n    call_platform_raw_sql:    sql(e.call_platform_raw),\n    raw_text_sql:             sql(ni.raw_text),\n    parsed_json_sql:          jsonb(e),\n    email_account_id_sql:     sql(null),\n    raw_reference_sql:        sql(ni.raw_meta.job_url),\n    email_date_sql:           dt(ni.date),\n    sender_risk_level_sql:    sql('low'),\n    sender_risk_signals_sql:  arr([])\n  }\n} }];"
      }
    },
    {
      "id": "n_db_write",
      "name": "DB: Write All",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2840,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "ZjjVGIqiRAUVlCk6",
          "name": "radar"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\nco AS (\n  INSERT INTO companies (company_id, name, meta)\n  VALUES ({{ $json.db.company_id_sql }}, {{ $json.db.company_name_sql }}, '{}')\n  ON CONFLICT (tenant_id, company_id) DO UPDATE SET updated_at = NOW()\n  RETURNING id\n),\nj AS (\n  INSERT INTO jobs (\n    job_id_fuzzy, company_id, employer_id,\n    job_title, location, seniority,\n    work_mode, work_mode_raw, working_hours,\n    salary_currency, salary_min, salary_max, salary_period,\n    tech_stack, key_requirements,\n    current_stage, priority, priority_level,\n    interview_date, response_deadline, application_deadline,\n    has_had_call, call_count, last_call_date,\n    source_url, source_input, summary\n  ) VALUES (\n    {{ $json.db.job_id_fuzzy_sql }}, {{ $json.db.company_id_sql }}, {{ $json.db.employer_id_sql }},\n    {{ $json.db.job_title_sql }}, {{ $json.db.location_sql }}, {{ $json.db.seniority_sql }},\n    {{ $json.db.work_mode_sql }}, {{ $json.db.work_mode_raw_sql }}, {{ $json.db.working_hours_sql }},\n    {{ $json.db.salary_currency_sql }}, {{ $json.db.salary_min_sql }}, {{ $json.db.salary_max_sql }}, {{ $json.db.salary_period_sql }},\n    {{ $json.db.tech_stack_sql }}, {{ $json.db.key_requirements_sql }},\n    {{ $json.db.current_stage_sql }}, {{ $json.db.priority_sql }}, {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }}, {{ $json.db.response_deadline_sql }}, {{ $json.db.application_deadline_sql }},\n    {{ $json.db.has_had_call_sql }}, {{ $json.db.call_count_sql }}, {{ $json.db.last_call_date_sql }},\n    {{ $json.db.source_url_sql }}, {{ $json.db.source_input_sql }}, {{ $json.db.summary_sql }}\n  )\n  ON CONFLICT (tenant_id, job_id_fuzzy) DO UPDATE SET\n    current_stage = EXCLUDED.current_stage,\n    priority = EXCLUDED.priority,\n    summary = EXCLUDED.summary,\n    updated_at = NOW()\n  RETURNING id, job_id_fuzzy, current_stage::text, priority::text, summary\n),\nev AS (\n  INSERT INTO job_events (\n    job_id, job_id_fuzzy, input_source, source_detail,\n    category, is_job_related, action,\n    stage, priority, priority_level,\n    raw_text, parsed_json,\n    email_account_id, raw_reference, email_date,\n    sender_risk_level, sender_risk_signals\n  )\n  SELECT\n    (SELECT id FROM j), {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.source_input_sql }}, {{ $json.db.raw_reference_sql }},\n    {{ $json.db.category_sql }}, {{ $json.db.is_job_related_sql }}, {{ $json.db.action_sql }},\n    {{ $json.db.current_stage_sql }}, {{ $json.db.priority_sql }}, {{ $json.db.priority_level_sql }},\n    {{ $json.db.raw_text_sql }}, {{ $json.db.parsed_json_sql }},\n    {{ $json.db.email_account_id_sql }}, {{ $json.db.raw_reference_sql }}, {{ $json.db.email_date_sql }},\n    {{ $json.db.sender_risk_level_sql }}, {{ $json.db.sender_risk_signals_sql }}\n  RETURNING id\n)\nSELECT\n  (SELECT id FROM j) AS job_id,\n  (SELECT job_id_fuzzy FROM j) AS job_id_fuzzy,\n  (SELECT current_stage FROM j) AS stage,\n  (SELECT priority FROM j) AS priority,\n  (SELECT summary FROM j) AS summary,\n  (SELECT id FROM ev) AS event_id;",
        "options": {}
      }
    },
    {
      "id": "n_if_interview",
      "name": "IF: has interview_date",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3060,
        -100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_interview",
              "leftValue": "={{ $('Prepare DB Params').first().json.job_event.interview_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n_cal_interview",
      "name": "Google Calendar: Interview",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3280,
        -100
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eLQTxfMJ6kryO1Iy",
          "name": "Google Calendar"
        }
      },
      "parameters": {
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "title": "={{ '\\uD83C\\uDFAF Interview: ' + ($('Prepare DB Params').first().json.resolved.job_title || 'Position') + ' @ ' + ($('Prepare DB Params').first().json.resolved.company_name || 'Company') }}",
        "start": "={{ ($('Prepare DB Params').first().json.job_event.interview_date || '').substring(0, 10) + 'T10:00:00' }}",
        "end": "={{ ($('Prepare DB Params').first().json.job_event.interview_date || '').substring(0, 10) + 'T11:00:00' }}",
        "additionalFields": {
          "description": "={{ ($('Prepare DB Params').first().json.job_event.summary || '') + '\\n\\n' + ($('Prepare DB Params').first().json.resolved.source_url || '') }}"
        }
      }
    },
    {
      "id": "n_enrich",
      "name": "Enrich: Add Resolved Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3060,
        700
      ],
      "parameters": {
        "jsCode": "const allPrep = $('Prepare DB Params').all();\nreturn $input.all().map((item, i) => {\n  const prep = allPrep[i] ? allPrep[i].json : {};\n  const res = prep.resolved  || {};\n  const ev  = prep.job_event || {};\n  // Fallback: passed keyword filter = at least moderate relevance.\n  // LLM often returns null for relevance_score on scraped postings.\n  const score = ev.relevance_score || 50;\n  const prio  = ev.priority || (score >= 70 ? 'high' : score >= 40 ? 'medium' : 'low');\n  return { json: {\n    company_name:    res.company_name || null,\n    job_title:       res.job_title    || null,\n    source_url:      res.source_url   || null,\n    relevance_score: score,\n    priority:        prio,\n    location:        ev.location  || null,\n    work_mode:       ev.work_mode || null\n  }};\n});"
      }
    },
    {
      "id": "n_aggregate",
      "name": "Aggregate: All Jobs",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3280,
        700
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "jobs",
        "options": {}
      }
    },
    {
      "id": "n_format_summary",
      "name": "Format: Corporate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        700
      ],
      "parameters": {
        "jsCode": "const jobs = ($json.jobs || []).map(j => j.json || j);\n\n// Sort by relevance DESC, nulls last\njobs.sort((a, b) => (b.relevance_score || 0) - (a.relevance_score || 0));\n\n// Filter: relevance >= 40\nconst relevant = jobs.filter(j => (j.relevance_score || 0) >= 40);\n\nif (relevant.length === 0) {\n  return [{ json: { skip: true, telegram_text: '', calendar_description: '', relevant_count: 0, total: jobs.length } }];\n}\n\nconst top  = relevant.filter(j => j.relevance_score >= 70);\nconst rest = relevant.filter(j => j.relevance_score >= 40 && j.relevance_score < 70);\n\n// Telegram message\nconst lines = ['\\u26A0\\uFE0F <b>[JobRadar Corporate] Neue Stellen</b>', ''];\n\nif (top.length > 0) {\n  lines.push('\\uD83D\\uDD25 <b>Top Matches (70+):</b>');\n  top.slice(0, 10).forEach(j => {\n    lines.push('\\u2022 <b>' + (j.job_title || '?') + '</b> @ ' + (j.company_name || '?') + ' <code>' + (j.relevance_score || '?') + '/100</code>');\n    if (j.location) lines.push('  \\uD83D\\uDCCD ' + j.location);\n    if (j.source_url) lines.push('  <a href=\"' + j.source_url + '\">Link</a>');\n  });\n  lines.push('');\n}\n\nif (rest.length > 0) {\n  lines.push('\\uD83D\\uDCCB <b>Weitere (40-69):</b>');\n  rest.slice(0, 15).forEach(j => {\n    lines.push('\\u2022 ' + (j.job_title || '?') + ' @ ' + (j.company_name || '?') + ' <code>' + (j.relevance_score || '?') + '/100</code>');\n    if (j.location) lines.push('  \\uD83D\\uDCCD ' + j.location);\n    if (j.source_url) lines.push('  <a href=\"' + j.source_url + '\">Link</a>');\n  });\n  lines.push('');\n}\n\nlines.push('Gesamt: ' + relevant.length + ' relevant von ' + jobs.length + ' gefunden');\n\n// Calendar description (Gmail-style HTML)\nconst calLines = relevant.slice(0, 30).map(j =>\n  '<b>' + (j.company_name || '?') + '</b> \\u2014 ' + (j.job_title || '?') +\n  ' (' + (j.relevance_score || '?') + '/100)' +\n  (j.location ? ' | ' + j.location : '')\n);\nconst calDesc = calLines.join('<br>');\n\nreturn [{ json: {\n  skip: false,\n  telegram_text: lines.join('\\n'),\n  calendar_description: calDesc,\n  relevant_count: relevant.length,\n  total: jobs.length\n}}];"
      }
    },
    {
      "id": "n_if_has_relevant",
      "name": "IF: has relevant jobs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3720,
        700
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_has_relevant",
              "leftValue": "={{ $json.relevant_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n_telegram",
      "name": "Telegram: Corporate Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, parse_mode: 'HTML', text: $json.telegram_text, disable_web_page_preview: true }) }}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "n_cal_list_today",
      "name": "Google Calendar: List Today",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3940,
        900
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eLQTxfMJ6kryO1Iy",
          "name": "Google Calendar"
        }
      },
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "returnAll": false,
        "limit": 50,
        "additionalFields": {
          "timeMin": "={{ $now.toISODate() + 'T00:00:00Z' }}",
          "timeMax": "={{ $now.toISODate() + 'T23:59:59Z' }}"
        }
      }
    },
    {
      "id": "n_cal_find_corp",
      "name": "Find [JobRadar Corporate] Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        900
      ],
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst todayEvent = items.find(e => (e.summary || '').includes('[JobRadar Corporate]'));\nconst summary = $('Format: Corporate Summary').first().json;\n\nreturn [{ json: {\n  event_id:        todayEvent ? todayEvent.id : null,\n  event_found:     !!todayEvent,\n  new_description: summary.calendar_description,\n  event_title:     '[JobRadar Corporate] ' + $now.toISODate(),\n  existing_desc:   todayEvent ? (todayEvent.description || '') : ''\n}}];"
      }
    },
    {
      "id": "n_if_cal_exists",
      "name": "IF: calendar event exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4380,
        900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_cal_exists",
              "leftValue": "={{ $json.event_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n_cal_update_corp",
      "name": "Google Calendar: Update Corp Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        4600,
        700
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eLQTxfMJ6kryO1Iy",
          "name": "Google Calendar"
        }
      },
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "eventId": "={{ $json.event_id }}",
        "updateFields": {
          "description": "={{ $json.existing_desc ? $json.existing_desc + '<br><br>' + $json.new_description : $json.new_description }}"
        }
      }
    },
    {
      "id": "n_cal_create_corp",
      "name": "Google Calendar: Create Corp Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        4600,
        1100
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eLQTxfMJ6kryO1Iy",
          "name": "Google Calendar"
        }
      },
      "parameters": {
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "title": "={{ '[JobRadar Corporate] ' + $now.toISODate() }}",
        "start": "={{ $now.toISODate() + 'T09:00:00' }}",
        "end": "={{ $now.toISODate() + 'T09:30:00' }}",
        "additionalFields": {
          "description": "={{ $json.new_description }}"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Daily 05:00": {
      "main": [
        [
          {
            "node": "GH: Celonis",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH: HelloFresh",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH: N26",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH: GetYourGuide",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH: SumUp",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH: Babbel STUB",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH: Contentful",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ashby: Aleph Alpha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH: Celonis": {
      "main": [
        [
          {
            "node": "Flatten: GH Celonis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH: HelloFresh": {
      "main": [
        [
          {
            "node": "Flatten: GH HelloFresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH: N26": {
      "main": [
        [
          {
            "node": "Flatten: GH N26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH: GetYourGuide": {
      "main": [
        [
          {
            "node": "Flatten: GH GetYourGuide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH: SumUp": {
      "main": [
        [
          {
            "node": "Flatten: GH SumUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH: Babbel STUB": {
      "main": [
        [
          {
            "node": "Flatten: GH Babbel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH: Contentful": {
      "main": [
        [
          {
            "node": "Flatten: GH Contentful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ashby: Aleph Alpha": {
      "main": [
        [
          {
            "node": "Flatten: Ashby Aleph Alpha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten: GH Celonis": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten: GH HelloFresh": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Flatten: GH N26": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Flatten: GH GetYourGuide": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Flatten: GH SumUp": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Flatten: GH Babbel": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Flatten: GH Contentful": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Flatten: Ashby Aleph Alpha": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Merge: All Corporate": {
      "main": [
        [
          {
            "node": "Keyword Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Filter": {
      "main": [
        [
          {
            "node": "Normalize: Corporate Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize: Corporate Job": {
      "main": [
        [
          {
            "node": "LLM Call (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call (OpenRouter)": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "IF: is_job_related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is_job_related": {
      "main": [
        [
          {
            "node": "Prepare DB Params",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare DB Params": {
      "main": [
        [
          {
            "node": "DB: Write All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Write All": {
      "main": [
        [
          {
            "node": "IF: has interview_date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enrich: Add Resolved Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: has interview_date": {
      "main": [
        [
          {
            "node": "Google Calendar: Interview",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Enrich: Add Resolved Fields": {
      "main": [
        [
          {
            "node": "Aggregate: All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate: All Jobs": {
      "main": [
        [
          {
            "node": "Format: Corporate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format: Corporate Summary": {
      "main": [
        [
          {
            "node": "IF: has relevant jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: has relevant jobs": {
      "main": [
        [
          {
            "node": "Telegram: Corporate Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Calendar: List Today",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Calendar: List Today": {
      "main": [
        [
          {
            "node": "Find [JobRadar Corporate] Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find [JobRadar Corporate] Event": {
      "main": [
        [
          {
            "node": "IF: calendar event exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: calendar event exists": {
      "main": [
        [
          {
            "node": "Google Calendar: Update Corp Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar: Create Corp Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}