n8n/corporate-flow-import.json
{
  "name": "JobRadar -- Flow 2b: Corporate Career Pages",
  "nodes": [
    {
      "id": "n_trigger",
      "name": "Schedule: Daily 05:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      },
      "notes": "Runs at 05:00 CET daily. After Flow 2 (04:00) to avoid DB contention."
    },
    {
      "id": "n_gh_celonis",
      "name": "GH: Celonis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -100
      ],
      "notes": "Process Mining/Automation, Munich",
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://boards-api.greenhouse.io/v1/boards/celonis/jobs?content=true",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_gh_flat_celonis",
      "name": "Flatten: GH Celonis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -100
      ],
      "parameters": {
        "jsCode": "const resp = $input.item.json;\nconst jobs = Array.isArray(resp.jobs) ? resp.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'greenhouse_api',\n  _company: 'Celonis',\n  _company_slug: 'celonis',\n  title: j.title || '',\n  location: (j.location && j.location.name) || 'Remote',\n  url: j.absolute_url || '',\n  published_at: j.updated_at || null,\n  departments: Array.isArray(j.departments) ? j.departments.map(d => d.name).join(', ') : '',\n  content: j.content ? j.content.replace(/<[^>]+>/g, ' ').substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_gh_hellofresh",
      "name": "GH: HelloFresh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        100
      ],
      "notes": "Tech/Operations, Berlin",
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://boards-api.greenhouse.io/v1/boards/hellofresh/jobs?content=true",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_gh_flat_hellofresh",
      "name": "Flatten: GH HelloFresh",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        100
      ],
      "parameters": {
        "jsCode": "const resp = $input.item.json;\nconst jobs = Array.isArray(resp.jobs) ? resp.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'greenhouse_api',\n  _company: 'HelloFresh',\n  _company_slug: 'hellofresh',\n  title: j.title || '',\n  location: (j.location && j.location.name) || 'Remote',\n  url: j.absolute_url || '',\n  published_at: j.updated_at || null,\n  departments: Array.isArray(j.departments) ? j.departments.map(d => d.name).join(', ') : '',\n  content: j.content ? j.content.replace(/<[^>]+>/g, ' ').substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_gh_n26",
      "name": "GH: N26",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ],
      "notes": "Fintech, Berlin",
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://boards-api.greenhouse.io/v1/boards/n26/jobs?content=true",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_gh_flat_n26",
      "name": "Flatten: GH N26",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "jsCode": "const resp = $input.item.json;\nconst jobs = Array.isArray(resp.jobs) ? resp.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'greenhouse_api',\n  _company: 'N26',\n  _company_slug: 'n26',\n  title: j.title || '',\n  location: (j.location && j.location.name) || 'Remote',\n  url: j.absolute_url || '',\n  published_at: j.updated_at || null,\n  departments: Array.isArray(j.departments) ? j.departments.map(d => d.name).join(', ') : '',\n  content: j.content ? j.content.replace(/<[^>]+>/g, ' ').substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_gh_getyourguide",
      "name": "GH: GetYourGuide",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        500
      ],
      "notes": "Travel Tech, Berlin",
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://boards-api.greenhouse.io/v1/boards/getyourguide/jobs?content=true",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_gh_flat_getyourguide",
      "name": "Flatten: GH GetYourGuide",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        500
      ],
      "parameters": {
        "jsCode": "const resp = $input.item.json;\nconst jobs = Array.isArray(resp.jobs) ? resp.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'greenhouse_api',\n  _company: 'GetYourGuide',\n  _company_slug: 'getyourguide',\n  title: j.title || '',\n  location: (j.location && j.location.name) || 'Remote',\n  url: j.absolute_url || '',\n  published_at: j.updated_at || null,\n  departments: Array.isArray(j.departments) ? j.departments.map(d => d.name).join(', ') : '',\n  content: j.content ? j.content.replace(/<[^>]+>/g, ' ').substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_gh_sumup",
      "name": "GH: SumUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        700
      ],
      "notes": "Fintech/Payments, Berlin",
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://boards-api.greenhouse.io/v1/boards/sumup/jobs?content=true",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_gh_flat_sumup",
      "name": "Flatten: GH SumUp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        700
      ],
      "parameters": {
        "jsCode": "const resp = $input.item.json;\nconst jobs = Array.isArray(resp.jobs) ? resp.jobs : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'greenhouse_api',\n  _company: 'SumUp',\n  _company_slug: 'sumup',\n  title: j.title || '',\n  location: (j.location && j.location.name) || 'Remote',\n  url: j.absolute_url || '',\n  published_at: j.updated_at || null,\n  departments: Array.isArray(j.departments) ? j.departments.map(d => d.name).join(', ') : '',\n  content: j.content ? j.content.replace(/<[^>]+>/g, ' ').substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_lv_aleph_alpha",
      "name": "Lever: Aleph Alpha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        700
      ],
      "notes": "AI Research, Heidelberg",
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://api.lever.co/v0/postings/aleph-alpha?mode=json",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_lv_flat_aleph_alpha",
      "name": "Flatten: Lever Aleph Alpha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        700
      ],
      "parameters": {
        "jsCode": "const jobs = Array.isArray($input.item.json) ? $input.item.json : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'lever_api',\n  _company: 'Aleph Alpha',\n  _company_slug: 'aleph-alpha',\n  title: j.text || '',\n  location: (j.categories && j.categories.location) || 'Remote',\n  url: j.hostedUrl || '',\n  published_at: j.createdAt ? new Date(j.createdAt).toISOString() : null,\n  departments: (j.categories && j.categories.department) || '',\n  content: j.descriptionPlain ? j.descriptionPlain.substring(0, 3000) : ''\n} }));"
      }
    },
    {
      "id": "n_http_zalando",
      "name": "HTTP: Zalando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        900
      ],
      "notes": "Berlin, Tech/Platform",
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://jobs.zalando.com/api/jobs/?limit=100&offset=0",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "n_http_flat_zalando",
      "name": "Flatten: Zalando",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        900
      ],
      "parameters": {
        "jsCode": "// Zalando API response normalization\n// Adjust field names if API structure changes\nconst resp = $input.item.json;\nconst jobs = Array.isArray(resp.results) ? resp.results :\n             Array.isArray(resp.jobs) ? resp.jobs :\n             Array.isArray(resp) ? resp : [];\nreturn jobs.map(j => ({ json: {\n  _source: 'zalando_api',\n  _company: 'Zalando',\n  title: j.title || j.job_title || j.name || '',\n  location: j.location || j.city || 'Unknown',\n  url: j.url || j.link || j.apply_url || '',\n  published_at: j.published_at || j.created_at || j.date || null,\n  departments: j.department || j.team || j.category || '',\n  content: (j.description || j.summary || '').replace(/<[^>]+>/g, ' ').substring(0, 3000)\n} }));"
      }
    },
    {
      "id": "n_fc_stub_sap",
      "name": "STUB: SAP Jobs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        420,
        1700
      ],
      "notes": "Activate: jobs.sap.com/search/?q=automation+engineer\nReplace with Firecrawl HTTP node when ready."
    },
    {
      "id": "n_fc_stub_siemens",
      "name": "STUB: Siemens Jobs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        420,
        1900
      ],
      "notes": "Activate: jobs.siemens.com/?keywords=automation\nReplace with Firecrawl HTTP node when ready."
    },
    {
      "id": "n_fc_stub_deliveryhero",
      "name": "STUB: Delivery Hero Jobs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        420,
        2100
      ],
      "notes": "Activate: careers.deliveryhero.com (custom ATS)\nReplace with Firecrawl HTTP node when ready."
    },
    {
      "id": "n_fc_stub_teamviewer",
      "name": "STUB: TeamViewer Jobs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        420,
        2300
      ],
      "notes": "Activate: teamviewer.com/en/company/careers (custom ATS)\nReplace with Firecrawl HTTP node when ready."
    },
    {
      "id": "n_merge",
      "name": "Merge: All Corporate",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        860,
        300
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 7
      }
    },
    {
      "id": "n_kw_filter",
      "name": "Keyword Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ],
      "notes": "Filters irrelevant jobs before LLM call to save tokens.",
      "parameters": {
        "jsCode": "const KEYWORDS = ['automation', 'engineer', 'developer', 'devops', 'platform', 'workflow', 'integration', 'python', 'machine learning', 'ai ', 'n8n', 'data engineer', 'backend', 'software', 'cloud', 'infrastructure'];\nconst job = $input.item.json;\nconst text = [(job.title || ''), (job.departments || ''), (job.content || '')].join(' ').toLowerCase();\nconst match = KEYWORDS.some(kw => text.includes(kw));\nif (!match) return [];\nreturn [{ json: job }];",
        "mode": "runOnceForEachItem"
      }
    },
    {
      "id": "n_normalize",
      "name": "Normalize: Corporate Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "jsCode": "const j = $input.item.json;\nconst now = new Date().toISOString();\n\nreturn [{ json: {\n  normalized_input: {\n    input_source: 'scraped',\n    source_detail: j._source || 'corporate_api',\n    email_account_id: null,\n    email_address: null,\n    email_provider: null,\n    subject: j.title || null,\n    date: now,\n    raw_text: [\n      'Title: ' + (j.title || ''),\n      'Company: ' + (j._company || ''),\n      'Location: ' + (j.location || ''),\n      'Department: ' + (j.departments || ''),\n      '',\n      j.content || ''\n    ].join('\\n').substring(0, 8000),\n    raw_meta: {\n      company: j._company || null,\n      company_slug: j._company_slug || null,\n      job_url: j.url || null,\n      published_at: j.published_at || null,\n      source: j._source || null\n    }\n  }\n} }];",
        "mode": "runOnceForEachItem"
      }
    },
    {
      "id": "n_dedup",
      "name": "Dedup Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "ZjjVGIqiRAUVlCk6",
          "name": "radar"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT je.job_id_fuzzy, j.updated_at\nFROM job_events je\nJOIN jobs j ON j.job_id_fuzzy = je.job_id_fuzzy\nWHERE je.job_id_fuzzy = {{ $json.normalized_input.raw_meta.job_url\n  ? \"'\" + $json.normalized_input.raw_meta.job_url.replace(/'/g,\"''\").substring(0,200) + \"'\"\n  : \"'__no_url__'\" }}\n  AND j.updated_at > NOW() - INTERVAL '7 days'\nLIMIT 1;",
        "options": {}
      }
    },
    {
      "id": "n_if_dedup",
      "name": "IF: not already processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1740,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_dedup",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n_llm",
      "name": "LLM Call (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen/qwen3-30b-a3b-instruct-2507', max_tokens: 2048, messages: [{ role: 'system', content: $env.JOBRADAR_SYSTEM_PROMPT }, { role: 'user', content: JSON.stringify($json.normalized_input) }] }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "n_parse",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.item.json;\nlet jobEvent;\ntry {\n  let raw = (body.choices[0].message.content || '').trim();\n  raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n  raw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  jobEvent = JSON.parse(raw);\n} catch (err) {\n  throw new Error('LLM returned invalid JSON: ' + String(body?.choices?.[0]?.message?.content || '').substring(0, 300));\n}\n\nif (typeof jobEvent.is_job_related !== 'boolean') throw new Error('is_job_related must be boolean');\nif (typeof jobEvent.injection_suspected !== 'boolean') jobEvent.injection_suspected = false;\n\nconst ALLOWED_ACTIONS = ['create_job','update_stage','add_interview','add_deadline','log_only','flag_error','ignore'];\nif (!ALLOWED_ACTIONS.includes(jobEvent.action)) throw new Error('Invalid action: ' + String(jobEvent.action));\n\nif (!Array.isArray(jobEvent.tech_stack)) jobEvent.tech_stack = [];\nif (!Array.isArray(jobEvent.key_requirements)) jobEvent.key_requirements = [];\n\nconst JOB_RELATED_CATEGORIES = ['job_posting','hr_invite','interview_invite','test_task','offer','rejection','follow_up','platform_notification','manual_note'];\nif (JOB_RELATED_CATEGORIES.includes(jobEvent.category)) jobEvent.is_job_related = true;\n\njobEvent.is_job_related_str = jobEvent.is_job_related ? 'yes' : 'no';\n\nreturn [{ json: { job_event: jobEvent } }];"
      }
    },
    {
      "id": "n_if_related",
      "name": "IF: is_job_related",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_related",
              "leftValue": "={{ $json.job_event.is_job_related_str }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n_stop_not_related",
      "name": "Not Job Related: Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2620,
        500
      ]
    },
    {
      "id": "n_prepare",
      "name": "Prepare DB Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        300
      ],
      "parameters": {
        "jsCode": "const e = $input.item.json.job_event;\nconst ni = $('Normalize: Corporate Job').item.json.normalized_input;\n\nfunction sql(v) { if (v===null||v===undefined) return 'NULL'; return \"'\"+ String(v).replace(/'/g,\"''\") +\"'\"; }\nfunction num(v) { if (v===null||v===undefined) return 'NULL'; const n=parseFloat(v); return isNaN(n)?'NULL':String(n); }\nfunction bool(v) { return v===true?'TRUE':'FALSE'; }\nfunction dt(v)   { return v?\"'\"+ String(v).replace(/'/g,\"''\") +\"'\":'NULL'; }\nfunction en(v,t) { return v?\"'\"+ String(v).replace(/'/g,\"''\") +\"'::\"+t:'NULL'; }\nfunction arr(vals) {\n  if (!vals||vals.length===0) return \"'{}'\";\n  const parts=vals.map(v=>'\"'+ String(v).replace(/\\\\/g,'\\\\\\\\').replace(/\"/g,'\\\\\"') +'\"');\n  return \"'\"+'{'+ parts.join(',') +'}'+\"'\";\n}\nfunction jsonb(v) { if (!v) return \"'{}'::jsonb\"; return \"'\"+ JSON.stringify(v).replace(/'/g,\"''\") +\"'::jsonb\"; }\n\nreturn [{ json: {\n  job_event: e,\n  db: {\n    company_id_sql:           sql(e.company_id||'unknown'),\n    company_name_sql:         sql(e.company_name||ni.raw_meta.company||'Unknown Company'),\n    employer_id_sql:          sql(e.employer_id),\n    employer_name_sql:        sql(e.employer_name),\n    job_id_fuzzy_sql:         sql(e.job_id_fuzzy||'unknown__unknown__unknown'),\n    job_title_sql:            sql(e.job_title),\n    location_sql:             sql(e.location),\n    job_thread_key_sql:       sql(e.job_thread_key),\n    seniority_sql:            en(e.seniority,'seniority_enum'),\n    work_mode_sql:            en(e.work_mode,'work_mode_enum'),\n    work_mode_raw_sql:        sql(e.work_mode_raw),\n    working_hours_sql:        sql(e.working_hours),\n    salary_currency_sql:      sql(e.salary_currency),\n    salary_min_sql:           num(e.salary_min),\n    salary_max_sql:           num(e.salary_max),\n    salary_period_sql:        en(e.salary_period,'salary_period_enum'),\n    tech_stack_sql:           arr(e.tech_stack),\n    key_requirements_sql:     arr(e.key_requirements),\n    current_stage_sql:        en(e.stage||'discovered','job_stage_enum'),\n    priority_sql:             en(e.priority,'priority_enum'),\n    priority_level_sql:       num(e.priority_level),\n    interview_date_sql:       dt(e.interview_date),\n    response_deadline_sql:    dt(e.response_deadline),\n    application_deadline_sql: dt(e.application_deadline),\n    has_had_call_sql:         bool(e.has_had_call),\n    call_count_sql:           String(e.call_count||0),\n    last_call_date_sql:       dt(e.last_call_date),\n    source_url_sql:           sql(ni.raw_meta.job_url||e.source_url),\n    source_input_sql:         en('scraped','input_source_enum'),\n    summary_sql:              sql(e.summary),\n    category_sql:             en(e.category,'job_category_enum'),\n    action_sql:               sql(e.action),\n    is_job_related_sql:       bool(e.is_job_related),\n    call_platform_sql:        en(e.call_platform,'call_platform_enum'),\n    call_platform_raw_sql:    sql(e.call_platform_raw),\n    raw_text_sql:             sql(ni.raw_text),\n    parsed_json_sql:          jsonb(e),\n    email_account_id_sql:     sql(null),\n    raw_reference_sql:        sql(ni.raw_meta.job_url),\n    email_date_sql:           dt(ni.date),\n    sender_risk_level_sql:    sql('low'),\n    sender_risk_signals_sql:  arr([])\n  }\n} }];"
      }
    },
    {
      "id": "n_db_write",
      "name": "DB: Write All",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2840,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "ZjjVGIqiRAUVlCk6",
          "name": "radar"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\nco AS (\n  INSERT INTO companies (company_id, name, meta)\n  VALUES ({{ $json.db.company_id_sql }}, {{ $json.db.company_name_sql }}, '{}')\n  ON CONFLICT (tenant_id, company_id) DO UPDATE SET updated_at = NOW()\n  RETURNING id\n),\nj AS (\n  INSERT INTO jobs (\n    job_id_fuzzy, company_id, employer_id,\n    job_title, location, seniority,\n    work_mode, work_mode_raw, working_hours,\n    salary_currency, salary_min, salary_max, salary_period,\n    tech_stack, key_requirements,\n    current_stage, priority, priority_level,\n    interview_date, response_deadline, application_deadline,\n    has_had_call, call_count, last_call_date,\n    source_url, source_input, summary\n  ) VALUES (\n    {{ $json.db.job_id_fuzzy_sql }}, {{ $json.db.company_id_sql }}, {{ $json.db.employer_id_sql }},\n    {{ $json.db.job_title_sql }}, {{ $json.db.location_sql }}, {{ $json.db.seniority_sql }},\n    {{ $json.db.work_mode_sql }}, {{ $json.db.work_mode_raw_sql }}, {{ $json.db.working_hours_sql }},\n    {{ $json.db.salary_currency_sql }}, {{ $json.db.salary_min_sql }}, {{ $json.db.salary_max_sql }}, {{ $json.db.salary_period_sql }},\n    {{ $json.db.tech_stack_sql }}, {{ $json.db.key_requirements_sql }},\n    {{ $json.db.current_stage_sql }}, {{ $json.db.priority_sql }}, {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }}, {{ $json.db.response_deadline_sql }}, {{ $json.db.application_deadline_sql }},\n    {{ $json.db.has_had_call_sql }}, {{ $json.db.call_count_sql }}, {{ $json.db.last_call_date_sql }},\n    {{ $json.db.source_url_sql }}, {{ $json.db.source_input_sql }}, {{ $json.db.summary_sql }}\n  )\n  ON CONFLICT (tenant_id, job_id_fuzzy) DO UPDATE SET\n    current_stage = EXCLUDED.current_stage,\n    priority = EXCLUDED.priority,\n    summary = EXCLUDED.summary,\n    updated_at = NOW()\n  RETURNING id, job_id_fuzzy, current_stage::text, priority::text, summary\n),\nev AS (\n  INSERT INTO job_events (\n    job_id, job_id_fuzzy, input_source, source_detail,\n    category, is_job_related, action,\n    stage, priority, priority_level,\n    raw_text, parsed_json,\n    email_account_id, raw_reference, email_date,\n    sender_risk_level, sender_risk_signals\n  )\n  SELECT\n    (SELECT id FROM j), {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.source_input_sql }}, {{ $json.db.raw_reference_sql }},\n    {{ $json.db.category_sql }}, {{ $json.db.is_job_related_sql }}, {{ $json.db.action_sql }},\n    {{ $json.db.current_stage_sql }}, {{ $json.db.priority_sql }}, {{ $json.db.priority_level_sql }},\n    {{ $json.db.raw_text_sql }}, {{ $json.db.parsed_json_sql }},\n    {{ $json.db.email_account_id_sql }}, {{ $json.db.raw_reference_sql }}, {{ $json.db.email_date_sql }},\n    {{ $json.db.sender_risk_level_sql }}, {{ $json.db.sender_risk_signals_sql }}\n  RETURNING id\n)\nSELECT\n  (SELECT id FROM j) AS job_id,\n  (SELECT job_id_fuzzy FROM j) AS job_id_fuzzy,\n  (SELECT current_stage FROM j) AS stage,\n  (SELECT priority FROM j) AS priority,\n  (SELECT summary FROM j) AS summary,\n  (SELECT id FROM ev) AS event_id;",
        "options": {}
      }
    },
    {
      "id": "n_if_priority",
      "name": "IF: priority = high",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3060,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_priority",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n_telegram",
      "name": "Telegram: Job Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, parse_mode: 'HTML', text: ['\\u{1F3E2} <b>[JobRadar Corporate] ' + ($('Parse LLM Response').item.json.job_event.company_name || 'Unknown') + '</b>', '<b>' + ($('Parse LLM Response').item.json.job_event.job_title || '') + '</b>', '', 'Phase: <code>' + ($json.stage || '') + '</code>  Prioritaet: <b>' + ($json.priority || '') + '</b>', '', ($json.summary || '')].filter(Boolean).join('\\n') }) }}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "n_stop_low",
      "name": "Low Priority: Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3280,
        500
      ]
    }
  ],
  "connections": {
    "Schedule: Daily 05:00": {
      "main": [
        [
          {
            "node": "GH: Celonis",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH: HelloFresh",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH: N26",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH: GetYourGuide",
            "type": "main",
            "index": 0
          },
          {
            "node": "GH: SumUp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lever: Aleph Alpha",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Zalando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH: Celonis": {
      "main": [
        [
          {
            "node": "Flatten: GH Celonis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH: HelloFresh": {
      "main": [
        [
          {
            "node": "Flatten: GH HelloFresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH: N26": {
      "main": [
        [
          {
            "node": "Flatten: GH N26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH: GetYourGuide": {
      "main": [
        [
          {
            "node": "Flatten: GH GetYourGuide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GH: SumUp": {
      "main": [
        [
          {
            "node": "Flatten: GH SumUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lever: Aleph Alpha": {
      "main": [
        [
          {
            "node": "Flatten: Lever Aleph Alpha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Zalando": {
      "main": [
        [
          {
            "node": "Flatten: Zalando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten: GH Celonis": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten: GH HelloFresh": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Flatten: GH N26": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Flatten: GH GetYourGuide": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Flatten: GH SumUp": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Flatten: Lever Aleph Alpha": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Flatten: Zalando": {
      "main": [
        [
          {
            "node": "Merge: All Corporate",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Merge: All Corporate": {
      "main": [
        [
          {
            "node": "Keyword Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Filter": {
      "main": [
        [
          {
            "node": "Normalize: Corporate Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize: Corporate Job": {
      "main": [
        [
          {
            "node": "Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Check": {
      "main": [
        [
          {
            "node": "IF: not already processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: not already processed": {
      "main": [
        [
          {
            "node": "LLM Call (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "LLM Call (OpenRouter)": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "IF: is_job_related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is_job_related": {
      "main": [
        [
          {
            "node": "Prepare DB Params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Job Related: Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Params": {
      "main": [
        [
          {
            "node": "DB: Write All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Write All": {
      "main": [
        [
          {
            "node": "IF: priority = high",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: priority = high": {
      "main": [
        [
          {
            "node": "Telegram: Job Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low Priority: Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}