n8n/firecrawl-flow-api.json
{
  "name": "JobRadar -- Flow 2: Firecrawl Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 4,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "n_trigger",
      "name": "Schedule: Daily 04:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Job board search pages -- max 5 per day (Firecrawl free tier limit).\n// Each URL is scraped once daily. Firecrawl returns markdown -> LLM extracts job data.\n// Arbeitnow is now covered by the API flow -- these targets are JS-rendered sites.\n\nconst TARGETS = [\n  { url: 'https://berlinstartupjobs.com/engineering/', label: 'berlinstartupjobs-engineering' },\n  { url: 'https://de.indeed.com/jobs?q=ai+automation&l=Remote&fromage=1', label: 'indeed-ai-automation' },\n  { url: 'https://www.remotely.de/jobs/ai-automation', label: 'remotely-ai-automation' },\n  { url: 'https://en.devjobs.de/jobs?q=automation+engineer+remote', label: 'devjobs-automation' },\n  { url: 'https://weworkremotely.com/remote-jobs/search?term=automation+engineer', label: 'wwr-automation' },\n  { url: 'https://www.xing.com/jobs/search?keywords=automation+engineer+n8n+KI&location=Deutschland&sort=date', label: 'xing-automation' },\n];\n\nreturn TARGETS.map(t => ({ json: t }));\n"
      },
      "id": "n_targets",
      "name": "Scrape Targets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "notes": "Add your scrape targets here.\nOr replace with a Postgres/Google Sheets read node."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.FIRECRAWL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ url: $json.url, formats: ['markdown'], onlyMainContent: true, waitFor: 2000 }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "n_scrape",
      "name": "Firecrawl: Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_ok",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_ok",
      "name": "IF: scrape success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {},
      "id": "n_scrape_fail",
      "name": "Scrape Failed: Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        520
      ],
      "notes": "Firecrawl returned success=false.\nAdd error logging or Telegram alert here."
    },
    {
      "parameters": {
        "jsCode": "const scrape = $input.item.json;\nconst target = $('Scrape Targets').item.json;\n\n// Extract page content from Firecrawl response\nconst markdown = (scrape.data && scrape.data.markdown) || scrape.markdown || '';\nconst sourceUrl = (scrape.data && scrape.data.metadata && scrape.data.metadata.sourceURL)\n               || (scrape.metadata && scrape.metadata.sourceURL)\n               || target.url || null;\nconst pageTitle = (scrape.data && scrape.data.metadata && scrape.data.metadata.title)\n               || (scrape.metadata && scrape.metadata.title) || null;\n\n// For long pages, keep first 10000 chars (approx 2500 tokens)\nconst rawText = markdown.substring(0, 10000);\n\nreturn [{\n  json: {\n    normalized_input: {\n      input_source: 'scraped',\n      source_detail: 'scraped_json',\n      email_account_id: null,\n      email_address: null,\n      email_provider: null,\n      subject: pageTitle,\n      date: null,\n      raw_text: rawText,\n      raw_meta: {\n        url: sourceUrl,\n        label: target.label || null\n      }\n    }\n  }\n}];"
      },
      "id": "n_normalize",
      "name": "Normalize Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS cnt\nFROM jobs\nWHERE source_url = $1\n  AND updated_at > NOW() - INTERVAL '24 hours';",
        "options": {
          "queryReplacement": "={{ [$json.normalized_input.raw_meta.url] }}"
        }
      },
      "id": "n_dedup",
      "name": "Dedup Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1320,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "ZjjVGIqiRAUVlCk6",
          "name": "radar"
        }
      },
      "notes": "Skip if this URL was scraped in the last 24h."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_fresh",
              "leftValue": "={{ parseInt($json.cnt) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_fresh",
      "name": "IF: not already fresh",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {},
      "id": "n_skip",
      "name": "Already Fresh: Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        520
      ],
      "notes": "Job from this URL is already in DB and was updated within 24h -- skip."
    },
    {
      "parameters": {
        "jsCode": "// Scraped content has no sender -- always returns unknown risk\nconst ni = $('Normalize Item').item.json.normalized_input;\n\nreturn [{ json: {\n  normalized_input: ni,\n  hard_injection_detected: 'no'\n} }];"
      },
      "id": "n_skip_security",
      "name": "Skip Security Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ],
      "notes": "Scraped content is from trusted URLs we configured.\nNo sender domain to check. Injection check still runs inside LLM via system prompt.\nWe still validate LLM output."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen/qwen3-30b-a3b-instruct-2507', max_tokens: 2048, messages: [{ role: 'system', content: $env.JOBRADAR_SYSTEM_PROMPT }, { role: 'user', content: JSON.stringify($json.normalized_input) }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "n_llm",
      "name": "LLM Call (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;\nlet jobEvent;\ntry {\n  let raw = (body.choices[0].message.content || '').trim();\n  raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n  raw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  jobEvent = JSON.parse(raw);\n} catch (err) {\n  throw new Error('LLM returned invalid JSON: ' + String(body?.choices?.[0]?.message?.content || '').substring(0, 300));\n}\n\nif (typeof jobEvent.is_job_related !== 'boolean') {\n  throw new Error('Parse error: is_job_related must be boolean, got: ' + typeof jobEvent.is_job_related);\n}\nif (typeof jobEvent.injection_suspected !== 'boolean') jobEvent.injection_suspected = false;\n\nconst ALLOWED_ACTIONS = ['create_job','update_stage','add_interview','add_deadline','log_only','flag_error','ignore'];\nif (!ALLOWED_ACTIONS.includes(jobEvent.action)) {\n  throw new Error('Parse error: invalid action value: ' + String(jobEvent.action));\n}\n\nif (jobEvent.company_id && !/^[a-z0-9][a-z0-9-]*[a-z0-9]$/.test(jobEvent.company_id)) {\n  jobEvent.company_id = jobEvent.company_id.toLowerCase().replace(/[^a-z0-9-]/g, '-').replace(/--+/g, '-').replace(/^-|-$/g, '');\n}\n\nif (!Array.isArray(jobEvent.tech_stack)) jobEvent.tech_stack = [];\nif (!Array.isArray(jobEvent.key_requirements)) jobEvent.key_requirements = [];\n\nconst JOB_RELATED_CATEGORIES = ['job_posting','hr_invite','interview_invite','test_task','offer','rejection','follow_up','platform_notification','manual_note'];\nif (JOB_RELATED_CATEGORIES.includes(jobEvent.category)) jobEvent.is_job_related = true;\n\njobEvent.is_job_related_str = jobEvent.is_job_related ? 'yes' : 'no';\n\nreturn [{ json: { job_event: jobEvent } }];"
      },
      "id": "n_parse",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_related",
              "leftValue": "={{ $json.job_event.is_job_related_str }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_related",
      "name": "IF: is_job_related",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {},
      "id": "n_not_related",
      "name": "Not Job Related: Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2640,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "/* ============================================================\n   Prepare DB Params -- Firecrawl Flow\n   input_source: scraped, no email_account_id / raw_reference\n   ============================================================ */\n\nconst e = $input.item.json.job_event;\nconst ni = $('Normalize Item').item.json.normalized_input;\nconst rawText = ni.raw_text;\nconst sourceUrl = (ni.raw_meta && ni.raw_meta.url) || null;\n\nfunction sql(v) {\n  if (v === null || v === undefined) return 'NULL';\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\nfunction num(v) {\n  if (v === null || v === undefined) return 'NULL';\n  const n = parseFloat(v); return isNaN(n) ? 'NULL' : String(n);\n}\nfunction bool(v) { return v === true ? 'TRUE' : 'FALSE'; }\nfunction dt(v)   { return v ? \"'\" + String(v).replace(/'/g, \"''\") + \"'\" : 'NULL'; }\nfunction en(v, t) { return v ? \"'\" + String(v).replace(/'/g, \"''\") + \"'::\" + t : 'NULL'; }\nfunction arr(vals) {\n  if (!vals || vals.length === 0) return \"'{}'\";\n  const parts = vals.map(v => '\"' + String(v).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"') + '\"');\n  return \"'\" + '{' + parts.join(',') + '}' + \"'\";\n}\nfunction jsonb(v) {\n  if (!v) return \"'{}'::jsonb\";\n  return \"'\" + JSON.stringify(v).replace(/'/g, \"''\") + \"'::jsonb\";\n}\n\n// For scraped: use source_url from raw_meta (overrides LLM output if present)\nconst finalSourceUrl = sourceUrl || e.source_url || null;\n\nreturn [{\n  json: {\n    job_event: e,\n    db: {\n      company_id_sql:           sql(e.company_id           || 'unknown'),\n      company_name_sql:         sql(e.company_name         || 'Unknown Company'),\n      employer_id_sql:          sql(e.employer_id),\n      employer_name_sql:        sql(e.employer_name),\n      job_id_fuzzy_sql:         sql(e.job_id_fuzzy         || 'unknown__unknown__unknown'),\n      job_title_sql:            sql(e.job_title),\n      location_sql:             sql(e.location),\n      job_thread_key_sql:       sql(e.job_thread_key),\n      seniority_sql:            en(e.seniority,             'seniority_enum'),\n      work_mode_sql:            en(e.work_mode,             'work_mode_enum'),\n      work_mode_raw_sql:        sql(e.work_mode_raw),\n      working_hours_sql:        sql(e.working_hours),\n      salary_currency_sql:      sql(e.salary_currency),\n      salary_min_sql:           num(e.salary_min),\n      salary_max_sql:           num(e.salary_max),\n      salary_period_sql:        en(e.salary_period,         'salary_period_enum'),\n      tech_stack_sql:           arr(e.tech_stack),\n      key_requirements_sql:     arr(e.key_requirements),\n      current_stage_sql:        en(e.stage || 'discovered', 'job_stage_enum'),\n      priority_sql:             en(e.priority,              'priority_enum'),\n      priority_level_sql:       num(e.priority_level),\n      interview_date_sql:       dt(e.interview_date),\n      response_deadline_sql:    dt(e.response_deadline),\n      application_deadline_sql: dt(e.application_deadline),\n      has_had_call_sql:         bool(e.has_had_call),\n      call_count_sql:           String(e.call_count || 0),\n      last_call_date_sql:       dt(e.last_call_date),\n      source_url_sql:           sql(finalSourceUrl),\n      source_input_sql:         en('scraped',               'input_source_enum'),\n      summary_sql:              sql(e.summary),\n      category_sql:             en(e.category,              'job_category_enum'),\n      action_sql:               sql(e.action),\n      is_job_related_sql:       bool(e.is_job_related),\n      call_platform_sql:        en(e.call_platform,         'call_platform_enum'),\n      call_platform_raw_sql:    sql(e.call_platform_raw),\n      raw_text_sql:             sql(rawText),\n      parsed_json_sql:          jsonb(e),\n      sender_risk_level_sql:    sql('unknown'),\n      sender_risk_signals_sql:  arr([])\n    }\n  }\n}];"
      },
      "id": "n_prepare",
      "name": "Prepare DB Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\nco AS (\n  INSERT INTO companies (company_id, name, meta)\n  VALUES ({{ $json.db.company_id_sql }}, {{ $json.db.company_name_sql }}, '{}')\n  ON CONFLICT (tenant_id, company_id) DO UPDATE SET updated_at = NOW()\n  RETURNING id\n),\nem AS (\n  INSERT INTO employers (employer_id, company_id, name)\n  SELECT {{ $json.db.employer_id_sql }},\n         {{ $json.db.company_id_sql }},\n         {{ $json.db.employer_name_sql }}\n  WHERE  {{ $json.db.employer_id_sql }} IS NOT NULL\n  ON CONFLICT (tenant_id, employer_id) DO UPDATE SET\n    name       = COALESCE(EXCLUDED.name, employers.name),\n    updated_at = NOW()\n  RETURNING id\n),\nj AS (\n  INSERT INTO jobs (\n    job_id_fuzzy,   company_id,      employer_id,\n    job_title,      location,        seniority,\n    work_mode,      work_mode_raw,   working_hours,\n    salary_currency, salary_min,     salary_max,     salary_period,\n    tech_stack,     key_requirements,\n    current_stage,  priority,        priority_level,\n    interview_date, response_deadline, application_deadline,\n    has_had_call,   call_count,      last_call_date,\n    source_url,     source_input,    summary\n  ) VALUES (\n    {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.company_id_sql }},\n    {{ $json.db.employer_id_sql }},\n    {{ $json.db.job_title_sql }},\n    {{ $json.db.location_sql }},\n    {{ $json.db.seniority_sql }},\n    {{ $json.db.work_mode_sql }},\n    {{ $json.db.work_mode_raw_sql }},\n    {{ $json.db.working_hours_sql }},\n    {{ $json.db.salary_currency_sql }},\n    {{ $json.db.salary_min_sql }},\n    {{ $json.db.salary_max_sql }},\n    {{ $json.db.salary_period_sql }},\n    {{ $json.db.tech_stack_sql }},\n    {{ $json.db.key_requirements_sql }},\n    {{ $json.db.current_stage_sql }},\n    {{ $json.db.priority_sql }},\n    {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }},\n    {{ $json.db.response_deadline_sql }},\n    {{ $json.db.application_deadline_sql }},\n    {{ $json.db.has_had_call_sql }},\n    {{ $json.db.call_count_sql }},\n    {{ $json.db.last_call_date_sql }},\n    {{ $json.db.source_url_sql }},\n    {{ $json.db.source_input_sql }},\n    {{ $json.db.summary_sql }}\n  )\n  ON CONFLICT (tenant_id, job_id_fuzzy) DO UPDATE SET\n    current_stage        = EXCLUDED.current_stage,\n    priority             = EXCLUDED.priority,\n    priority_level       = EXCLUDED.priority_level,\n    interview_date       = COALESCE(EXCLUDED.interview_date, jobs.interview_date),\n    response_deadline    = COALESCE(EXCLUDED.response_deadline, jobs.response_deadline),\n    application_deadline = COALESCE(EXCLUDED.application_deadline, jobs.application_deadline),\n    tech_stack           = CASE WHEN array_length(EXCLUDED.tech_stack, 1) > 0\n                                THEN EXCLUDED.tech_stack ELSE jobs.tech_stack END,\n    source_url           = COALESCE(EXCLUDED.source_url, jobs.source_url),\n    summary              = EXCLUDED.summary,\n    updated_at           = NOW()\n  RETURNING id, job_id_fuzzy, current_stage::text, priority::text, summary, interview_date\n),\nev AS (\n  INSERT INTO job_events (\n    job_id,         job_thread_key,  job_id_fuzzy,\n    input_source,   source_detail,\n    category,       is_job_related,  action,\n    stage,          priority,        priority_level,\n    interview_date, response_deadline, application_deadline,\n    call_platform,  call_platform_raw,\n    raw_text,       parsed_json,\n    sender_risk_level, sender_risk_signals\n  )\n  SELECT\n    (SELECT id FROM j),\n    {{ $json.db.job_thread_key_sql }},\n    {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.source_input_sql }},\n    'scraped_json',\n    {{ $json.db.category_sql }},\n    {{ $json.db.is_job_related_sql }},\n    {{ $json.db.action_sql }},\n    {{ $json.db.current_stage_sql }},\n    {{ $json.db.priority_sql }},\n    {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }},\n    {{ $json.db.response_deadline_sql }},\n    {{ $json.db.application_deadline_sql }},\n    {{ $json.db.call_platform_sql }},\n    {{ $json.db.call_platform_raw_sql }},\n    {{ $json.db.raw_text_sql }},\n    {{ $json.db.parsed_json_sql }},\n    {{ $json.db.sender_risk_level_sql }},\n    {{ $json.db.sender_risk_signals_sql }}\n  RETURNING id\n)\nSELECT\n  (SELECT id             FROM j) AS job_id,\n  (SELECT job_id_fuzzy   FROM j) AS job_id_fuzzy,\n  (SELECT current_stage  FROM j) AS stage,\n  (SELECT priority       FROM j) AS priority,\n  (SELECT summary        FROM j) AS summary,\n  (SELECT interview_date FROM j) AS interview_date,\n  (SELECT id             FROM ev) AS event_id;",
        "options": {}
      },
      "id": "n_db_write",
      "name": "DB: Write All",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2860,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "ZjjVGIqiRAUVlCk6",
          "name": "radar"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_priority",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_priority",
      "name": "IF: priority = high",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3080,
        300
      ]
    },
    {
      "id": "n_telegram_alert_firecrawl",
      "name": "Telegram: Job Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({  chat_id: $env.TELEGRAM_CHAT_ID,  parse_mode: 'HTML',  text: [    '\\u{1F514} <b>JobRadar: ' + ($('Parse LLM Response').item.json.job_event.company_name || 'Unknown') + '</b>',    ($('Parse LLM Response').item.json.job_event.job_title || '\\u2014'),    '',    'Stage: <code>' + ($json.stage || '') + '</code>  Priority: <b>' + ($json.priority || '') + '</b>',    '',    ($json.summary || '')  ].join('\\n')}) }}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Split: XING / Listing Page Parser\n//\n// For search result listing pages (XING etc.): splits the\n// Firecrawl markdown into individual job items. Each item\n// gets its own URL for proper per-job dedup & LLM processing.\n// Non-listing pages pass through as 1 item unchanged.\n// ============================================================\n\nconst LISTING_LABELS = ['xing-automation'];\n\nconst scrape = $input.item.json;\nconst target = $('Scrape Targets').item.json;\nconst label = target.label || '';\n\nif (!LISTING_LABELS.includes(label)) {\n  return [{ json: scrape }];\n}\n\nconst markdown = (scrape.data && scrape.data.markdown) || scrape.markdown || '';\n\n// Match numbered job entries: \"01. [Title](URL)\"\nconst entryRegex = /^(\\d{1,3})\\.\\s+\\[(.+?)\\]\\((https?:\\/\\/[^\\)\\s]+)\\)/gm;\nconst entries = [];\nlet m;\nwhile ((m = entryRegex.exec(markdown)) !== null) {\n  entries.push({ title: m[2], url: m[3], pos: m.index });\n}\n\nif (entries.length === 0) {\n  return [{ json: scrape }];\n}\n\nconst items = [];\nfor (let i = 0; i < entries.length; i++) {\n  const start = entries[i].pos;\n  const end = (i + 1 < entries.length) ? entries[i + 1].pos : markdown.length;\n  const section = markdown.substring(start, end);\n\n  const url = entries[i].url;\n  const linkTitle = entries[i].title;\n\n  // Canonical title from ## heading\n  const h2 = section.match(/^## (.+)$/m);\n  const title = h2 ? h2[1].trim() : linkTitle;\n\n  // Lines after ## heading: company, then location\n  let company = null, location = null;\n  if (h2) {\n    const rest = section.substring(h2.index + h2[0].length);\n    const lines = rest.split('\\n')\n      .map(l => l.trim())\n      .filter(l => l\n        && !l.startsWith('![')\n        && !l.startsWith('#')\n        && l !== 'Save job'\n        && l !== 'Urgently hiring'\n        && !l.startsWith('External job'));\n    company = lines[0] || null;\n    const loc = lines[1];\n    if (loc && !loc.includes('\\u20ac') && !/\\d+\\s+(hour|day|week|month)/.test(loc)) {\n      location = loc.replace(/\\s*\\*+.*$/, '').trim() || null;\n    }\n  }\n\n  // Salary: job type prefix + €\n  const salaryM = section.match(/((?:Full-time|Part-time|Freelance|Temporary)\\s*)?\\u20ac[\\d\\s,.\\u2013\\-]+(?:\\u2013\\s*\\u20ac[\\d\\s,.]+)?/);\n  const salary = salaryM ? salaryM[0].trim() : null;\n\n  // Posted date: \"N days/hours/weeks ago\"\n  const dateM = section.match(/(\\d+\\s+(?:hour|day|week|month)s?\\s+ago)/i);\n  const postedAgo = dateM ? dateM[1].trim() : null;\n\n  // Compact snippet for LLM\n  const snip = ['# ' + title];\n  if (company)   snip.push('Company: ' + company);\n  if (location)  snip.push('Location: ' + location);\n  if (salary)    snip.push('Salary/Type: ' + salary);\n  if (postedAgo) snip.push('Posted: ' + postedAgo);\n  snip.push('Source: XING');\n  snip.push('URL: ' + url);\n\n  items.push({\n    json: {\n      success: true,\n      data: {\n        markdown: snip.join('\\n'),\n        metadata: {\n          sourceURL: url,\n          title: title + (company ? ' \\u2014 ' + company : '')\n        }\n      }\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "n_split_listings",
      "name": "Split: XING Listings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        990,
        300
      ],
      "notes": "For listing pages (XING search results): splits markdown into individual job items.\nEach item gets its own xing.com URL for per-job dedup.\nNon-listing pages (single job detail pages) pass through unchanged as 1 item."
    }
  ],
  "connections": {
    "Scrape Targets": {
      "main": [
        [
          {
            "node": "Firecrawl: Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl: Scrape": {
      "main": [
        [
          {
            "node": "IF: scrape success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: scrape success": {
      "main": [
        [
          {
            "node": "Split: XING Listings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Failed: Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split: XING Listings": {
      "main": [
        [
          {
            "node": "Normalize Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Item": {
      "main": [
        [
          {
            "node": "Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Check": {
      "main": [
        [
          {
            "node": "IF: not already fresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: not already fresh": {
      "main": [
        [
          {
            "node": "Skip Security Checks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Already Fresh: Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Security Checks": {
      "main": [
        [
          {
            "node": "LLM Call (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call (OpenRouter)": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "IF: is_job_related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is_job_related": {
      "main": [
        [
          {
            "node": "Prepare DB Params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Job Related: Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Params": {
      "main": [
        [
          {
            "node": "DB: Write All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Write All": {
      "main": [
        [
          {
            "node": "IF: priority = high",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: priority = high": {
      "main": [
        [
          {
            "node": "Telegram: Job Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Schedule: Daily 04:00": {
      "main": [
        [
          {
            "node": "Scrape Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}