n8n/gmail-flow-api.json
{
  "name": "JobRadar — Flow 1: Gmail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        }
      },
      "id": "98fd2ab9-a14c-4a8e-9d71-3bca5a393cc4",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -2848,
        64
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "7rf7G4mjBXt01V7T",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json;\n\n// Parse sender: supports \"Name <email>\" and bare \"email@domain\"\nconst fromRaw = msg.from || '';\nconst emailMatch = fromRaw.match(/<([^>]+)>/) || fromRaw.match(/([^\\s]+@[^\\s]+)/);\nconst senderEmail = emailMatch ? emailMatch[1].toLowerCase().trim() : null;\nconst senderDomain = senderEmail ? senderEmail.split('@')[1] : null;\n\nconst rawText = (msg.text || msg.snippet || '').substring(0, 10000);\n\nreturn [{\n  json: {\n    normalized_input: {\n      input_source: 'email',\n      source_detail: 'email',\n      email_account_id: 'gmail_main',\n      email_address: $env.GMAIL_ADDRESS || null,\n      email_provider: 'gmail',\n      subject: msg.subject || null,\n      date: msg.date || new Date().toISOString(),\n      raw_text: rawText,\n      raw_meta: {\n        thread_id: msg.threadId || null,\n        message_id: msg.id || null,\n        sender: fromRaw,\n        sender_email: senderEmail,\n        sender_domain: senderDomain\n      }\n    }\n  }\n}];"
      },
      "id": "89ebc8fe-64e7-4ba9-ba96-e25f8c7c6de6",
      "name": "Normalize Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Sender Risk Check — shared across all email flows\n// Classifies sender domain before LLM call.\n// For manual/scraped (no sender): returns 'unknown'.\n// ============================================================\n\nconst ni = $input.item.json.normalized_input;\nconst senderEmail  = (ni.raw_meta && ni.raw_meta.sender_email)  || null;\nconst senderDomain = (ni.raw_meta && ni.raw_meta.sender_domain) ||\n                     (senderEmail ? senderEmail.split('@')[1] : null);\nconst subject      = (ni.subject || '').toLowerCase();\nconst rawText      = (ni.raw_text || '').toLowerCase();\n\nconst LEGIT_DOMAINS = new Set([\n  'stepstone.de','stepstone.com','stepstone.at',\n  'linkedin.com','linkedin.de',\n  'xing.com','xing.de','new.xing.com',\n  'indeed.com','de.indeed.com','indeed.de',\n  'join.com','glassdoor.com','glassdoor.de',\n  'monster.de','monster.com','kimeta.de',\n  'jobware.de','stellenanzeigen.de',\n  'arbeitsagentur.de','karriere.at','hokify.at',\n  'get-in-it.de','heyjobs.de','heyjobs.co',\n  'welcometothejungle.com','jooble.org',\n  'adzuna.de','adzuna.com','jobvector.de','experteer.de',\n  'greenhouse.io','lever.co','workday.com','myworkdayjobs.com',\n  'bamboohr.com','personio.de','personio.com',\n  'recruitee.com','smartrecruiters.com',\n  'softgarden.de','softgarden.io','successfactors.com',\n  'taleo.net','workable.com','jobvite.com','breezy.hr',\n  'google.com','amazon.com','amazon.de','microsoft.com',\n  'apple.com','meta.com','netflix.com','spotify.com',\n  'zalando.de','n26.com','delivery-hero.com','hellofresh.com',\n  'siemens.com','sap.com','bosch.com','bmw.com',\n  'telekom.de','t-systems.com','check24.de',\n  'auto1.com','otto.de','adidas.com','teamviewer.com'\n]);\n\nconst PORTAL_NAMES = [\n  'stepstone','linkedin','xing','indeed','glassdoor',\n  'monster','kimeta','jobware','join','karriere',\n  'arbeitsagentur','heyjobs','hokify','jooble','adzuna',\n  'jobvector','experteer','absolventa','greenhouse','lever',\n  'workday','bamboohr','personio','recruitee','smartrecruiters',\n  'softgarden','successfactors','workable','jobvite'\n];\n\nconst FREE_PROVIDERS = new Set([\n  'gmail.com','yahoo.com','yahoo.de','hotmail.com','hotmail.de',\n  'outlook.com','outlook.de','live.com','live.de','msn.com',\n  'mail.com','mail.de','gmx.de','gmx.com','gmx.net','gmx.at',\n  'web.de','t-online.de','freenet.de','aol.com',\n  'icloud.com','me.com','mac.com','zoho.com',\n  'yandex.com','yandex.ru','protonmail.com','proton.me',\n  'tutanota.com','fastmail.com'\n]);\n\nconst SUSPICIOUS_TLDS = ['.ru','.cn','.tk','.xyz','.top','.click','.gq','.ml',\n  '.cf','.ga','.pw','.icu','.live','.online','.site','.work','.loan',\n  '.win','.racing','.science','.party','.accountant','.download',\n  '.stream','.review','.country','.faith','.cricket','.bid',\n  '.trade','.webcam','.date'];\n\nconst DISPOSABLE_DOMAINS = new Set([\n  'mailinator.com','guerrillamail.com','guerrillamail.de',\n  '10minutemail.com','10minutemail.net',\n  'tempmail.com','temp-mail.org','temp-mail.io',\n  'throwam.com','yopmail.com','yopmail.fr',\n  'sharklasers.com','trashmail.com','trashmail.de','trashmail.at',\n  'spamgourmet.com','dispostable.com','mailnull.com',\n  'maildrop.cc','fakeinbox.com','mailnesia.com',\n  'throwaway.email','discard.email','wegwerfmail.de',\n  'sofort-mail.de','getairmail.com','filzmail.com'\n]);\n\nconst SCAM_SUBJECTS = [\n  'congratulations you have been selected','you have been chosen',\n  'urgent job offer','work from home earn','no experience needed',\n  'earn up to','weekly payment','part time from home','easy money',\n  'guaranteed income','mystery shopper','send money','gift card',\n  'western union','equipment will be sent to you'\n];\nconst SCAM_BODY = [\n  'wire transfer','gift card payment','send us your bank',\n  'advance payment','deposit required','training fee','equipment fee',\n  'background check fee','money order','western union','moneygram',\n  'zelle payment','upfront payment'\n];\n\nfunction levenshtein(a, b) {\n  const m = a.length, n = b.length;\n  const dp = Array.from({length: m+1}, (_, i) => Array.from({length: n+1}, (_, j) => i === 0 ? j : j === 0 ? i : 0));\n  for (let i = 1; i <= m; i++)\n    for (let j = 1; j <= n; j++)\n      dp[i][j] = a[i-1] === b[j-1] ? dp[i-1][j-1] : 1 + Math.min(dp[i-1][j], dp[i][j-1], dp[i-1][j-1]);\n  return dp[m][n];\n}\n\nfunction isGibberishLocalPart(local) {\n  if (!local || local.length < 3) return false;\n  const digitRatio = (local.match(/\\d/g) || []).length / local.length;\n  const randomPattern = /^[a-z]{1,3}\\d{4,}|^\\d{3,}[a-z]|^[a-z\\d]{12,}$/i;\n  return (digitRatio > 0.4 && local.length > 6) || randomPattern.test(local);\n}\n\nif (!senderDomain) {\n  return [{ json: { normalized_input: ni, sender_risk_level: 'unknown', sender_risk_signals: [] } }];\n}\n\nconst domain = senderDomain.toLowerCase().trim();\nconst localPart = senderEmail ? senderEmail.split('@')[0].toLowerCase() : '';\nconst signals = [];\nlet riskLevel = 'low';\n\nif (LEGIT_DOMAINS.has(domain)) {\n  return [{ json: { normalized_input: ni, sender_risk_level: 'low', sender_risk_signals: [] } }];\n}\n\nconst domainParts = domain.split('.');\nconst effectiveDomain = domainParts.length >= 2\n  ? domainParts[domainParts.length-2] + '.' + domainParts[domainParts.length-1]\n  : domain;\n\nif (!LEGIT_DOMAINS.has(effectiveDomain) && domain !== effectiveDomain) {\n  const containsPortal = PORTAL_NAMES.some(p => domain.includes(p) && !domain.endsWith('.' + p + '.de') && !domain.endsWith('.' + p + '.com'));\n  if (containsPortal) { signals.push('subdomain_trick:' + domain); riskLevel = 'high'; }\n}\n\nfor (const portal of PORTAL_NAMES) {\n  const domainBase = effectiveDomain.split('.')[0];\n  const dist = levenshtein(domainBase, portal);\n  if (dist > 0 && dist <= 2 && domainBase.length >= portal.length - 1) {\n    signals.push('typosquatting:' + effectiveDomain + ' ~ ' + portal);\n    riskLevel = 'high';\n  }\n}\n\nif (/^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$/.test(domain)) {\n  signals.push('ip_address_domain'); riskLevel = 'high';\n}\n\nconst tld = '.' + domain.split('.').pop();\nif (SUSPICIOUS_TLDS.includes(tld)) {\n  signals.push('suspicious_tld:' + tld);\n  if (riskLevel !== 'high') riskLevel = 'medium';\n}\n\nif (FREE_PROVIDERS.has(effectiveDomain)) {\n  signals.push('free_email_provider:' + effectiveDomain);\n  if (riskLevel === 'low') riskLevel = 'medium';\n}\n\nif (DISPOSABLE_DOMAINS.has(effectiveDomain)) {\n  signals.push('disposable_email_domain:' + effectiveDomain); riskLevel = 'high';\n}\n\nif (isGibberishLocalPart(localPart)) {\n  signals.push('gibberish_local_part:' + localPart.substring(0, 20));\n  if (riskLevel !== 'high') riskLevel = 'medium';\n}\n\nfor (const kw of SCAM_SUBJECTS) {\n  if (subject.includes(kw)) { signals.push('scam_subject_keyword:' + kw); riskLevel = 'high'; break; }\n}\n\nfor (const kw of SCAM_BODY) {\n  if (rawText.includes(kw)) { signals.push('scam_body_signal:' + kw); riskLevel = 'high'; break; }\n}\n\nif (/bank\\s*account|passport\\s*number|credit\\s*card|send\\s*\\$|pay\\s*\\$\\d/i.test(rawText)) {\n  signals.push('financial_data_request'); riskLevel = 'high';\n}\n\nreturn [{ json: { normalized_input: ni, sender_risk_level: riskLevel, sender_risk_signals: signals } }];"
      },
      "id": "4f73cf1d-fc5c-4819-927a-8ecb44928785",
      "name": "Sender Risk Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_risk",
              "leftValue": "={{ $json.sender_risk_level }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "434e735c-7282-4cc5-baca-2ad04ae49554",
      "name": "IF: sender_risk high",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2176,
        64
      ]
    },
    {
      "parameters": {},
      "id": "9d3da8d3-0b48-4e5c-ad3c-3d37847d7067",
      "name": "Quarantined: Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1952,
        288
      ],
      "notes": "High-risk sender — email logged but not processed."
    },
    {
      "parameters": {
        "jsCode": "const ni = $input.item.json.normalized_input;\nconst subject = (ni.subject || '').toLowerCase();\nconst rawText = (ni.raw_text || '').toLowerCase();\n\nconst MAX_RAW = 10000;\nif (ni.raw_text && ni.raw_text.length > MAX_RAW) {\n  ni.raw_text = ni.raw_text.substring(0, MAX_RAW);\n}\n\nconst text = [rawText, subject].join(' ');\n\nconst INJECTION_PATTERNS = [\n  /ignore\\s+(all\\s+)?(previous|prior|above|earlier)\\s+instructions?/i,\n  /forget\\s+(your\\s+)?(rules?|instructions?|guidelines?|prompt|system)/i,\n  /you\\s+are\\s+now\\s+(a\\s+)?(?:an?\\s+)?(?:new|different|another|unrestricted)/i,\n  /act\\s+as\\s+(?:if\\s+you\\s+are\\s+)?(?:a\\s+)?(?:different|another|unrestricted|jailbreak)/i,\n  /\\[\\s*(?:INST|SYS|SYSTEM|ADMIN|ROOT|OVERRIDE)\\s*\\]/i,\n  /<\\|\\s*(?:system|assistant|user|im_start|im_end)\\s*\\|>/i,\n  /(?:^|\\s)SYSTEM\\s*:/im,\n  /(?:^|\\s)ADMIN\\s*:/im,\n  /from\\s*:\\s*anthropic/i,\n  /new\\s+role\\s*:/i,\n  /your\\s+new\\s+(instructions?|rules?|persona|role)\\s+(are|is)/i,\n  /disregard\\s+(all\\s+)?(previous|prior|your)\\s+(instructions?|rules?)/i,\n  /override\\s+(safety|content|all)\\s*(filter|policy|rules?|restrictions?|guidelines?)/i,\n  /pretend\\s+(you\\s+)?(have\\s+no|there\\s+are\\s+no|to\\s+be\\s+(?:a\\s+)?(?:different|another))/i,\n  /do\\s+not\\s+follow\\s+(your\\s+)?(rules?|guidelines?|instructions?|training)/i,\n  /reveal\\s+(your\\s+)?(system\\s+prompt|instructions?|secrets?|api\\s+key)/i,\n  /print\\s+(your\\s+)?(system\\s+prompt|instructions?|configuration)/i,\n  /token\\s+manipulation|context\\s+injection|prompt\\s+leak/i\n];\n\nconst detected = INJECTION_PATTERNS.some(p => p.test(text));\n\nreturn [{ json: {\n  normalized_input: ni,\n  hard_injection_detected: detected ? 'yes' : 'no'\n} }];"
      },
      "id": "e1e36bcc-6607-4dd9-b77c-322665dce72c",
      "name": "Hard Injection Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1952,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_inj",
              "leftValue": "={{ $json.hard_injection_detected }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ff26268-cd47-47c9-8441-7542f5b4a521",
      "name": "IF: hard_injection_detected",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1728,
        64
      ]
    },
    {
      "parameters": {},
      "id": "073d9eab-3e70-4cb2-9f2a-e05395fd1e10",
      "name": "Injection Detected: Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1504,
        288
      ],
      "notes": "Injection patterns detected — email discarded."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen/qwen3-30b-a3b-instruct-2507', max_tokens: 2048, messages: [{ role: 'system', content: $env.JOBRADAR_SYSTEM_PROMPT }, { role: 'user', content: JSON.stringify($json.normalized_input) }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "4baec3d5-5bd2-40a6-906a-7c256c422d96",
      "name": "LLM Call (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;\nlet jobEvent;\ntry {\n  let raw = (body.choices[0].message.content || '').trim();\n  raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n  raw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  jobEvent = JSON.parse(raw);\n} catch (err) {\n  throw new Error('LLM returned invalid JSON: ' + String(body?.choices?.[0]?.message?.content || '').substring(0, 300));\n}\n\nif (typeof jobEvent.is_job_related !== 'boolean') {\n  throw new Error('Parse error: is_job_related must be boolean, got: ' + typeof jobEvent.is_job_related);\n}\nif (typeof jobEvent.injection_suspected !== 'boolean') {\n  jobEvent.injection_suspected = false;\n}\n\nconst ALLOWED_ACTIONS = ['create_job','update_stage','add_interview','add_deadline','log_only','flag_error','ignore'];\nif (!ALLOWED_ACTIONS.includes(jobEvent.action)) {\n  throw new Error('Parse error: invalid action value: ' + String(jobEvent.action));\n}\n\nif (jobEvent.company_id && !/^[a-z0-9][a-z0-9-]*[a-z0-9]$/.test(jobEvent.company_id)) {\n  jobEvent.company_id = jobEvent.company_id.toLowerCase().replace(/[^a-z0-9-]/g, '-').replace(/--+/g, '-').replace(/^-|-$/g, '');\n}\n\nif (!Array.isArray(jobEvent.tech_stack)) jobEvent.tech_stack = [];\nif (!Array.isArray(jobEvent.key_requirements)) jobEvent.key_requirements = [];\n\nconst JOB_RELATED_CATEGORIES = ['job_posting','hr_invite','interview_invite','test_task','offer','rejection','follow_up','platform_notification','manual_note'];\nif (JOB_RELATED_CATEGORIES.includes(jobEvent.category)) jobEvent.is_job_related = true;\n\njobEvent.is_job_related_str = jobEvent.is_job_related ? 'yes' : 'no';\n\nreturn [{ json: { job_event: jobEvent } }];"
      },
      "id": "f279ba88-0772-43ab-819b-0617d2b29068",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_related",
              "leftValue": "={{ $json.job_event.is_job_related_str }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7e635a5-79ad-4f48-9364-b152836cacc3",
      "name": "IF: is_job_related",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        64
      ]
    },
    {
      "parameters": {},
      "id": "8d523699-bbd8-4445-9472-ba8a2b9eba31",
      "name": "Not Job Related: Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -848,
        288
      ],
      "notes": "Email is not job-related — not stored."
    },
    {
      "parameters": {
        "jsCode": "const e = $input.item.json.job_event;\nconst ni = $('Normalize Email').item.json.normalized_input;\nconst rawText = ni.raw_text;\nconst senderRisk = $('Sender Risk Check').item.json;\nconst senderRiskLevel = senderRisk.sender_risk_level || 'unknown';\nconst senderRiskSignals = senderRisk.sender_risk_signals || [];\nconst rawReference = (ni.raw_meta && ni.raw_meta.message_id) || null;\nconst emailDate = ni.date || null;\n\nfunction sql(v) {\n  if (v === null || v === undefined) return 'NULL';\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\nfunction num(v) {\n  if (v === null || v === undefined) return 'NULL';\n  const n = parseFloat(v); return isNaN(n) ? 'NULL' : String(n);\n}\nfunction bool(v) { return v === true ? 'TRUE' : 'FALSE'; }\nfunction dt(v)   { return v ? \"'\" + String(v).replace(/'/g, \"''\") + \"'\" : 'NULL'; }\nfunction en(v, t) { return v ? \"'\" + String(v).replace(/'/g, \"''\") + \"'::\" + t : 'NULL'; }\nfunction arr(vals) {\n  if (!vals || vals.length === 0) return \"'{}'\";\n  const parts = vals.map(v => '\"' + String(v).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"') + '\"');\n  return \"'\" + '{' + parts.join(',') + '}' + \"'\";\n}\nfunction jsonb(v) {\n  if (!v) return \"'{}'::jsonb\";\n  return \"'\" + JSON.stringify(v).replace(/'/g, \"''\") + \"'::jsonb\";\n}\n\nreturn [{\n  json: {\n    job_event: e,\n    db: {\n      company_id_sql:           sql(e.company_id           || 'unknown'),\n      company_name_sql:         sql(e.company_name         || 'Unknown Company'),\n      employer_id_sql:          sql(e.employer_id),\n      employer_name_sql:        sql(e.employer_name),\n      job_id_fuzzy_sql:         sql(e.job_id_fuzzy         || 'unknown__unknown__unknown'),\n      job_title_sql:            sql(e.job_title),\n      location_sql:             sql(e.location),\n      job_thread_key_sql:       sql(e.job_thread_key),\n      seniority_sql:            en(e.seniority,             'seniority_enum'),\n      work_mode_sql:            en(e.work_mode,             'work_mode_enum'),\n      work_mode_raw_sql:        sql(e.work_mode_raw),\n      working_hours_sql:        sql(e.working_hours),\n      salary_currency_sql:      sql(e.salary_currency),\n      salary_min_sql:           num(e.salary_min),\n      salary_max_sql:           num(e.salary_max),\n      salary_period_sql:        en(e.salary_period,         'salary_period_enum'),\n      tech_stack_sql:           arr(e.tech_stack),\n      key_requirements_sql:     arr(e.key_requirements),\n      current_stage_sql:        en(e.stage || 'discovered', 'job_stage_enum'),\n      priority_sql:             en(e.priority,              'priority_enum'),\n      priority_level_sql:       num(e.priority_level),\n      interview_date_sql:       dt(e.interview_date),\n      response_deadline_sql:    dt(e.response_deadline),\n      application_deadline_sql: dt(e.application_deadline),\n      has_had_call_sql:         bool(e.has_had_call),\n      call_count_sql:           String(e.call_count || 0),\n      last_call_date_sql:       dt(e.last_call_date),\n      source_url_sql:           sql(e.source_url),\n      source_input_sql:         en(e.input_source,          'input_source_enum'),\n      summary_sql:              sql(e.summary),\n      category_sql:             en(e.category,              'job_category_enum'),\n      action_sql:               sql(e.action),\n      is_job_related_sql:       bool(e.is_job_related),\n      call_platform_sql:        en(e.call_platform,         'call_platform_enum'),\n      call_platform_raw_sql:    sql(e.call_platform_raw),\n      raw_text_sql:             sql(rawText),\n      parsed_json_sql:          jsonb(e),\n      email_account_id_sql:     sql(ni.email_account_id),\n      raw_reference_sql:        sql(rawReference),\n      email_date_sql:           dt(emailDate),\n      sender_risk_level_sql:    sql(senderRiskLevel),\n      sender_risk_signals_sql:  arr(senderRiskSignals)\n    }\n  }\n}];"
      },
      "id": "13b41073-4870-427f-b607-92cc8d366703",
      "name": "Prepare DB Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\nco AS (\n  INSERT INTO companies (company_id, name, meta)\n  VALUES ({{ $json.db.company_id_sql }}, {{ $json.db.company_name_sql }}, '{}')\n  ON CONFLICT (tenant_id, company_id) DO UPDATE SET updated_at = NOW()\n  RETURNING id\n),\nem AS (\n  INSERT INTO employers (employer_id, company_id, name)\n  SELECT {{ $json.db.employer_id_sql }},\n         {{ $json.db.company_id_sql }},\n         {{ $json.db.employer_name_sql }}\n  WHERE  {{ $json.db.employer_id_sql }} IS NOT NULL\n  ON CONFLICT (tenant_id, employer_id) DO UPDATE SET\n    name       = COALESCE(EXCLUDED.name, employers.name),\n    updated_at = NOW()\n  RETURNING id\n),\nj AS (\n  INSERT INTO jobs (\n    job_id_fuzzy,   company_id,      employer_id,\n    job_title,      location,        seniority,\n    work_mode,      work_mode_raw,   working_hours,\n    salary_currency, salary_min,     salary_max,     salary_period,\n    tech_stack,     key_requirements,\n    current_stage,  priority,        priority_level,\n    interview_date, response_deadline, application_deadline,\n    has_had_call,   call_count,      last_call_date,\n    source_url,     source_input,    summary\n  ) VALUES (\n    {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.company_id_sql }},\n    {{ $json.db.employer_id_sql }},\n    {{ $json.db.job_title_sql }},\n    {{ $json.db.location_sql }},\n    {{ $json.db.seniority_sql }},\n    {{ $json.db.work_mode_sql }},\n    {{ $json.db.work_mode_raw_sql }},\n    {{ $json.db.working_hours_sql }},\n    {{ $json.db.salary_currency_sql }},\n    {{ $json.db.salary_min_sql }},\n    {{ $json.db.salary_max_sql }},\n    {{ $json.db.salary_period_sql }},\n    {{ $json.db.tech_stack_sql }},\n    {{ $json.db.key_requirements_sql }},\n    {{ $json.db.current_stage_sql }},\n    {{ $json.db.priority_sql }},\n    {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }},\n    {{ $json.db.response_deadline_sql }},\n    {{ $json.db.application_deadline_sql }},\n    {{ $json.db.has_had_call_sql }},\n    {{ $json.db.call_count_sql }},\n    {{ $json.db.last_call_date_sql }},\n    {{ $json.db.source_url_sql }},\n    {{ $json.db.source_input_sql }},\n    {{ $json.db.summary_sql }}\n  )\n  ON CONFLICT (tenant_id, job_id_fuzzy) DO UPDATE SET\n    current_stage        = EXCLUDED.current_stage,\n    priority             = EXCLUDED.priority,\n    priority_level       = EXCLUDED.priority_level,\n    interview_date       = COALESCE(EXCLUDED.interview_date, jobs.interview_date),\n    response_deadline    = COALESCE(EXCLUDED.response_deadline, jobs.response_deadline),\n    application_deadline = COALESCE(EXCLUDED.application_deadline, jobs.application_deadline),\n    tech_stack           = CASE WHEN array_length(EXCLUDED.tech_stack, 1) > 0\n                                THEN EXCLUDED.tech_stack ELSE jobs.tech_stack END,\n    summary              = EXCLUDED.summary,\n    updated_at           = NOW()\n  RETURNING id, job_id_fuzzy, current_stage::text, priority::text, summary, interview_date\n),\nev AS (\n  INSERT INTO job_events (\n    job_id,         job_thread_key,  job_id_fuzzy,\n    input_source,   source_detail,\n    email_account_id, raw_reference, email_date,\n    category,       is_job_related,  action,\n    stage,          priority,        priority_level,\n    interview_date, response_deadline, application_deadline,\n    call_platform,  call_platform_raw,\n    raw_text,       parsed_json,\n    sender_risk_level, sender_risk_signals\n  )\n  SELECT\n    (SELECT id FROM j),\n    {{ $json.db.job_thread_key_sql }},\n    {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.source_input_sql }},\n    'email',\n    {{ $json.db.email_account_id_sql }},\n    {{ $json.db.raw_reference_sql }},\n    {{ $json.db.email_date_sql }},\n    {{ $json.db.category_sql }},\n    {{ $json.db.is_job_related_sql }},\n    {{ $json.db.action_sql }},\n    {{ $json.db.current_stage_sql }},\n    {{ $json.db.priority_sql }},\n    {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }},\n    {{ $json.db.response_deadline_sql }},\n    {{ $json.db.application_deadline_sql }},\n    {{ $json.db.call_platform_sql }},\n    {{ $json.db.call_platform_raw_sql }},\n    {{ $json.db.raw_text_sql }},\n    {{ $json.db.parsed_json_sql }},\n    {{ $json.db.sender_risk_level_sql }},\n    {{ $json.db.sender_risk_signals_sql }}\n  RETURNING id\n)\nSELECT\n  (SELECT id             FROM j) AS job_id,\n  (SELECT job_id_fuzzy   FROM j) AS job_id_fuzzy,\n  (SELECT current_stage  FROM j) AS stage,\n  (SELECT priority       FROM j) AS priority,\n  (SELECT summary        FROM j) AS summary,\n  (SELECT interview_date FROM j) AS interview_date,\n  (SELECT id             FROM ev) AS event_id;",
        "options": {}
      },
      "id": "c6efa1cf-244f-46d0-a736-b2b4deb6ef62",
      "name": "DB: Write All",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -624,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "ZjjVGIqiRAUVlCk6",
          "name": "JobRadar Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const event    = $('Parse LLM Response').item.json.job_event;\nconst category = event.category || 'other';\n\nconst LABEL_MAP = {\n  'interview_invite':      'job/interview',\n  'offer':                 'job/offer',\n  'rejection':             'job/rejected',\n  'test_task':             'job/test-task',\n  'newsletter':            'job/newsletter',\n  'hr_invite':             'job/active',\n  'follow_up':             'job/active',\n  'job_posting':           'job/active',\n  'platform_notification': 'job/active',\n  'manual_note':           'job/active',\n  'other':                 'job/active'\n};\n\n// Hardcoded label IDs — no API call needed\nconst LABEL_ID_MAP = {\n  'job/interview': 'Label_3522530513145419602',\n  'job/offer':     'Label_2041686244015141831',\n  'job/rejected':  'Label_2446754488129490636',\n  'job/newsletter':'Label_7387780672007419096',\n  'job/active':    'Label_7449061610964528383',\n  'job/test-task': 'Label_7465975776224478465'\n};\n\nconst gmailLabel = LABEL_MAP[category] || 'job/active';\nconst labelId    = LABEL_ID_MAP[gmailLabel] || null;\nconst msgId      = $('Normalize Email').item.json.normalized_input.raw_meta.message_id || null;\n\nreturn [{ json: {\n  job_id:           $input.item.json.job_id,\n  job_id_fuzzy:     $input.item.json.job_id_fuzzy,\n  stage:            $input.item.json.stage,\n  priority:         $input.item.json.priority,\n  summary:          $input.item.json.summary,\n  interview_date:   $input.item.json.interview_date,\n  event_id:         $input.item.json.event_id,\n  gmail_label:      gmailLabel,\n  label_id:         labelId,\n  gmail_message_id: msgId,\n  category:         category,\n  company_name:     event.company_name    || null,\n  job_title:        event.job_title       || null,\n  salary_min:       event.salary_min      || null,\n  salary_max:       event.salary_max      || null,\n  salary_currency:  event.salary_currency || null\n} }];"
      },
      "id": "76e539c7-e19d-47aa-b485-cbbdcb410e35",
      "name": "Map Category: Gmail Label",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.gmail_message_id }}/modify",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ addLabelIds: [$json.label_id] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e28935a3-3b0b-48c5-9456-f8afca7e3f6d",
      "name": "Gmail: Apply Label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -64
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "7rf7G4mjBXt01V7T",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ summary: \"Interview: \" + ($json.summary || $json.job_id_fuzzy || \"Job\"), start: { date: ($json.interview_date || \"\").substring(0, 10) }, end: { date: ($json.interview_date || \"\").substring(0, 10) }, description: $json.calendar_description || \"\", reminders: { useDefault: true } }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a038d411-b33f-479f-a171-fa1342984ebf",
      "name": "Google Calendar: Create Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        256
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eLQTxfMJ6kryO1Iy",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_priority",
              "leftValue": "=={{ $json.priority === 'high' }}",
              "rightValue": "high",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c6ba20df-128e-4fa6-af79-5ebfd98be221",
      "name": "IF: priority = high",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        464
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({  chat_id: $env.TELEGRAM_CHAT_ID,  parse_mode: 'HTML',  text: [    '\\u{1F514} <b>JobRadar: ' + ($('Parse LLM Response').item.json.job_event.company_name || 'Unknown') + '</b>',    ($('Parse LLM Response').item.json.job_event.job_title || '\\u2014'),    '',    'Stage: <code>' + ($json.stage || '') + '</code>  Priority: <b>' + ($json.priority || '') + '</b>',    '',    ($json.summary || '')  ].join('\\n')}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "3a9532ff-d56b-4f09-8faf-2d579f7d94d6",
      "name": "Telegram: Job Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        496
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        352,
        80
      ],
      "id": "93009ee0-4985-4eb6-bb3d-4a954c56d67e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        320,
        624
      ],
      "id": "bf068dbf-6291-4324-89c3-12fba8bd2042",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\n\n// Build HTML description for Google Calendar (German labels, ASCII only)\nconst parts = [];\nif (d.company)         parts.push('<b>Unternehmen:</b> ' + d.company);\nif (d.position)        parts.push('<b>Position:</b> ' + d.position);\nif (d.interview_date)  parts.push('<b>Datum:</b> ' + d.interview_date);\nif (d.stage)           parts.push('<b>Phase:</b> ' + d.stage);\nif (d.priority)        parts.push('<b>Prioritaet:</b> ' + d.priority);\nif (d.work_format)     parts.push('<b>Format:</b> ' + d.work_format);\nif (d.salary_range)    parts.push('<b>Gehalt:</b> ' + d.salary_range);\nif (d.gmail_label)     parts.push('<b>Label:</b> ' + d.gmail_label);\nif (d.job_id_fuzzy)    parts.push('<b>ID:</b> ' + d.job_id_fuzzy);\n\nreturn [{ json: {\n  ...d,\n  calendar_description: parts.join('<br>'),\n  has_interview_date: !!(d.interview_date)\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        192
      ],
      "id": "a41eb2d5-3cc9-4d12-97f4-2eb2e2280fee",
      "name": "Format for Calendar",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://www.googleapis.com/calendar/v3/calendars/primary/events?timeMin=' + new Date(new Date().setHours(0,0,0,0)).toISOString() + '&timeMax=' + new Date(new Date().setHours(23,59,59,999)).toISOString() + '&q=' + encodeURIComponent('[JobRadar]') + '&singleEvents=true' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "id": "d1e2f3a4-b5c6-7890-abcd-100000000001",
      "name": "GCal: Get Today List Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        350
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eLQTxfMJ6kryO1Iy",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Find existing \"[JobRadar]\" event from today's events\nconst items = $input.item.json.items || [];\nconst listEvent = items.find(e => (e.summary || '').includes('[JobRadar]'));\n\n// Build new vacancy entry for description (German labels, ASCII only)\nconst prev = $('Format for Calendar').first().json;\nconst entry = [\n  '<b>---</b>',\n  '<b>' + (prev.company || prev.job_id_fuzzy || 'Vakanz') + '</b>',\n  'Position: ' + (prev.position || '-'),\n  'Datum: ' + (prev.interview_date || '-'),\n  'Phase: ' + (prev.stage || '-'),\n  'Prioritaet: ' + (prev.priority || '-'),\n  'Label: ' + (prev.gmail_label || '-'),\n  'ID: ' + (prev.job_id_fuzzy || '-')\n].join('<br>');\n\nconst existingDesc = listEvent ? (listEvent.description || '') : '';\nconst newDesc = existingDesc ? existingDesc + '<br><br>' + entry : entry;\n\nreturn [{ json: {\n  list_event_id: listEvent ? listEvent.id : null,\n  list_event_found: !!listEvent,\n  new_description: newDesc\n} }];\n"
      },
      "id": "d1e2f3a4-b5c6-7890-abcd-100000000002",
      "name": "GCal: Parse List Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_list_found",
              "leftValue": "={{ $json.list_event_found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "d1e2f3a4-b5c6-7890-abcd-100000000003",
      "name": "IF: list_event_found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        350
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://www.googleapis.com/calendar/v3/calendars/primary/events/' + $json.list_event_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ description: $json.new_description }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "d1e2f3a4-b5c6-7890-abcd-100000000004",
      "name": "GCal: Update List Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        256
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eLQTxfMJ6kryO1Iy",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ summary: \"[JobRadar] \" + new Date().toISOString().substring(0, 10), start: { date: new Date().toISOString().substring(0, 10) }, end: { date: new Date().toISOString().substring(0, 10) }, description: $json.new_description || \"\" }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "d1e2f3a4-b5c6-7890-abcd-100000000005",
      "name": "GCal: Create List Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        464
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eLQTxfMJ6kryO1Iy",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_offer",
              "leftValue": "={{ $json.category }}",
              "rightValue": "offer",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "offer-if-node-0001",
      "name": "IF: category = offer",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-200, 700],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, parse_mode: 'HTML', text: [ '\\u{1F389} <b>ОФФЕР ПОЛУЧЕН!</b>', '', '\\u{1F3E2} <b>' + ($json.company_name || 'Компания') + '</b>', '\\u{1F4BC} ' + ($json.job_title || '\\u2014'), ($json.salary_min ? '\\u{1F4B0} ' + $json.salary_min + ($json.salary_max ? '\\u2013' + $json.salary_max : '') + ' ' + ($json.salary_currency || '') : null), ($json.interview_date ? '\\u{1F4C5} Дата выхода: ' + $json.interview_date.substring(0, 10) : null), '', ($json.summary ? '\\u{1F4CB} ' + $json.summary.substring(0, 300) : null) ].filter(Boolean).join('\\n') }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "offer-tg-node-0002",
      "name": "Telegram: Offer Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [64, 700],
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "msg_test_applied_001",
          "threadId": "thread_applied_001",
          "snippet": "Ihre Bewerbung für Senior Software Engineer bei Zalando SE wurde erfolgreich übermittelt.",
          "subject": "Bewerbungsbestätigung: Senior Software Engineer bei Zalando SE",
          "from": "noreply@stepstone.de",
          "date": "2026-06-10T13:00:00Z",
          "text": "Hallo Kirill Brüggemann,\n\nIhre Bewerbung wurde erfolgreich übermittelt!\n\nPosition: Senior Software Engineer\nUnternehmen: Zalando SE\nStandort: Berlin, Deutschland\nEingegangen am: 10. Juni 2026 um 13:00 Uhr\n\nDas Unternehmen wird Ihre Bewerbung prüfen und sich bei Ihnen melden.\n\nSie können den Status Ihrer Bewerbung jederzeit in Ihrem StepStone-Profil einsehen.\n\nViel Erfolg!\nIhr StepStone-Team"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Normalize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email": {
      "main": [
        [
          {
            "node": "Sender Risk Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender Risk Check": {
      "main": [
        [
          {
            "node": "IF: sender_risk high",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: sender_risk high": {
      "main": [
        [
          {
            "node": "Hard Injection Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quarantined: Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hard Injection Check": {
      "main": [
        [
          {
            "node": "IF: hard_injection_detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: hard_injection_detected": {
      "main": [
        [
          {
            "node": "LLM Call (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Injection Detected: Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call (OpenRouter)": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "IF: is_job_related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is_job_related": {
      "main": [
        [
          {
            "node": "Prepare DB Params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Job Related: Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Params": {
      "main": [
        [
          {
            "node": "DB: Write All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Write All": {
      "main": [
        [
          {
            "node": "Map Category: Gmail Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Category: Gmail Label": {
      "main": [
        [
          {
            "node": "IF: category = offer",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF: priority = high",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format for Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail: Apply Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: category = offer": {
      "main": [
        [
          {
            "node": "Telegram: Offer Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF: priority = high": {
      "main": [
        [
          {
            "node": "Telegram: Job Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Calendar": {
      "main": [
        [
          {
            "node": "Google Calendar: Create Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "GCal: Get Today List Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCal: Get Today List Event": {
      "main": [
        [
          {
            "node": "GCal: Parse List Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCal: Parse List Event": {
      "main": [
        [
          {
            "node": "IF: list_event_found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: list_event_found": {
      "main": [
        [
          {
            "node": "GCal: Update List Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GCal: Create List Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "05e2b753-3284-466c-acd0-8afbe7ebdd6e",
  "meta": {
    "instanceId": "2185e6ccec75707d0f5cc25404cd43afc6a3ee0d740027a68fa5380b67643227"
  },
  "id": "XrQVtUcndFFnteij",
  "tags": [],
  "staticData": null
}