n8n/job-apis-flow-import.json
{
  "name": "JobRadar -- Flow 4: Job APIs (Combined)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 4,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "n_trigger",
      "name": "Schedule: Daily 04:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "notes": "Triggers all 3 API fetches at 04:00 CET daily.\nAll API sources (Arbeitnow, Remotive, RemoteOK) are free, no auth required."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.arbeitnow.com/api/job-board-api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "n_arbeitnow_fetch",
      "name": "Arbeitnow: Fetch Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        100
      ],
      "notes": "Returns up to 25 jobs. Response: { data: [...] }"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://remotive.com/api/remote-jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "automation engineer"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "n_remotive_fetch",
      "name": "Remotive: Fetch Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "notes": "Response: { jobs: [...], job-count: N }"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://remoteok.com/api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tags",
              "value": "automation"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "JobRadar/1.0 n8n-automation"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "n_remoteok_fetch",
      "name": "RemoteOK: Fetch Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        500
      ],
      "notes": "Returns JSON array. [0] = legal notice, [1+] = jobs.\nUser-Agent header required to avoid 403."
    },
    {
      "parameters": {
        "jsCode": "// Arbeitnow response: { data: [...jobs] }\nconst data = $input.item.json.data || [];\nif (data.length === 0) return [];\nreturn data.map(job => ({ json: { ...job, source_label: 'arbeitnow' } }));"
      },
      "id": "n_arbeitnow_flatten",
      "name": "Flatten: Arbeitnow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Remotive response: { jobs: [...jobs] }\nconst data = $input.item.json.jobs || [];\nif (data.length === 0) return [];\nreturn data.map(job => ({ json: { ...job, source_label: 'remotive' } }));"
      },
      "id": "n_remotive_flatten",
      "name": "Flatten: Remotive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// RemoteOK returns an array: [0] = legal notice, [1+] = jobs.\n// Skip index 0 and any items without id+title (safety check).\nconst raw = $input.item.json;\nconst items = Array.isArray(raw) ? raw : [];\nif (items.length <= 1) return [];\nreturn items\n  .filter((job, i) => i > 0 && job.id && job.title)\n  .map(job => ({ json: { ...job, source_label: 'remoteok' } }));"
      },
      "id": "n_remoteok_flatten",
      "name": "Flatten: RemoteOK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        500
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 5,
        "options": {}
      },
      "id": "n_merge",
      "name": "Merge: All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        880,
        300
      ],
      "notes": "Waits for all 3 API branches, then outputs all items in sequence.\nInput 0: Arbeitnow | Input 1: Remotive | Input 2: RemoteOK"
    },
    {
      "parameters": {
        "jsCode": "// Normalize job data from any API source into JobRadar's normalized_input shape.\n// source_label is 'arbeitnow' | 'remotive' | 'remoteok' -- set by Flatten nodes.\n\nconst job = $input.item.json;\nconst source = job.source_label;\n\nfunction stripHtml(html) {\n  return (html || '').replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nlet title, companyName, location, jobTypes, tags, description, jobUrl, publishedAt;\n\nif (source === 'arbeitnow') {\n  title = job.title;\n  companyName = job.company_name;\n  location = job.location;\n  jobTypes = job.job_types || [];\n  tags = job.tags || [];\n  description = stripHtml(job.description);\n  jobUrl = job.url || ('https://www.arbeitnow.com/jobs/' + job.slug);\n  publishedAt = job.created_at ? new Date(job.created_at * 1000).toISOString() : null;\n} else if (source === 'remotive') {\n  title = job.title;\n  companyName = job.company_name;\n  location = job.candidate_required_location;\n  jobTypes = job.job_type ? [job.job_type] : [];\n  tags = job.tags || [];\n  description = stripHtml(job.description);\n  jobUrl = job.url;\n  publishedAt = job.publication_date || null;\n} else if (source === 'remoteok') {\n  title = job.title;\n  companyName = job.company;\n  location = job.location || 'Worldwide';\n  jobTypes = [];\n  tags = Array.isArray(job.tags) ? job.tags : [];\n  description = stripHtml(job.description || '');\n  jobUrl = job.url || job.apply_url;\n  publishedAt = job.date || null;\n} else if (source === 'jobicy_api') {\n  title = job.jobTitle;\n  companyName = job.companyName;\n  location = job.jobGeo || 'Remote';\n  jobTypes = job.jobType ? [job.jobType] : [];\n  tags = typeof job.jobIndustry === 'string' ? job.jobIndustry.split(',').map(s => s.trim()).filter(Boolean) : [];\n  description = stripHtml(job.jobDescription || '');\n  jobUrl = job.url;\n  publishedAt = job.pubDate || null;\n} else if (source === 'himalayas_api') {\n  title = job.title;\n  companyName = (job.company && (job.company.name || job.company)) || '';\n  location = Array.isArray(job.locationRestrictions) ? job.locationRestrictions.join(', ') : 'Remote';\n  jobTypes = job.jobType ? [job.jobType] : [];\n  tags = Array.isArray(job.skills) ? job.skills : (Array.isArray(job.tags) ? job.tags : []);\n  description = stripHtml(job.description || job.descriptionHtml || '');\n  jobUrl = job.applicationLink || job.url || job.applyLink || '';\n  publishedAt = job.createdAt || job.publishedAt || null;\n} else {\n  throw new Error('Unknown source_label: ' + source);\n}\n\nconst now = new Date().toISOString();\nconst rawText = [\n  'Title: ' + (title || ''),\n  'Company: ' + (companyName || ''),\n  'Location: ' + (location || 'Not specified'),\n  'Remote: Yes',\n  'Job Types: ' + (jobTypes || []).join(', '),\n  'Tags: ' + (tags || []).join(', '),\n  '',\n  'Job Description:',\n  (description || '').substring(0, 7000)\n].join('\\n');\n\nreturn [{\n  json: {\n    source_label: source,\n    normalized_input: {\n      input_source: 'scraped',\n      source_detail: source + '_api',\n      email_account_id: null,\n      email_address: null,\n      email_provider: null,\n      subject: title || null,\n      date: publishedAt || now,\n      raw_text: rawText,\n      raw_meta: {\n        url: jobUrl,\n        label: source + '-api'\n      }\n    }\n  }\n}];"
      },
      "id": "n_normalize",
      "name": "Normalize: API Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, updated_at\nFROM jobs\nWHERE source_url = {{ $json.normalized_input.raw_meta.url }}\n  AND updated_at > NOW() - INTERVAL '24 hours'\nLIMIT 1;",
        "options": {}
      },
      "id": "n_dedup",
      "name": "Dedup Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1320,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "ZjjVGIqiRAUVlCk6",
          "name": "radar"
        }
      },
      "notes": "Skip if this job URL was already processed within 24h.\nURL from raw_meta.url is a unique permalink per job."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_fresh",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_fresh",
      "name": "IF: not already processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {},
      "id": "n_skip",
      "name": "Already Processed: Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        520
      ],
      "notes": "Job was seen within 24h -- skip LLM call to save tokens."
    },
    {
      "parameters": {
        "jsCode": "// All 3 API sources are configured trusted endpoints -- no sender risk check needed.\n// Injection check still runs inside the system prompt.\nconst ni = $('Normalize: API Job').item.json.normalized_input;\nreturn [{ json: { normalized_input: ni, hard_injection_detected: 'no' } }];"
      },
      "id": "n_skip_security",
      "name": "Skip Security Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen/qwen3-30b-a3b-instruct-2507', max_tokens: 2048, messages: [{ role: 'system', content: $env.JOBRADAR_SYSTEM_PROMPT }, { role: 'user', content: JSON.stringify($json.normalized_input) }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "n_llm",
      "name": "LLM Call (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;\nlet jobEvent;\ntry {\n  let raw = (body.choices[0].message.content || '').trim();\n  raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n  raw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  jobEvent = JSON.parse(raw);\n} catch (err) {\n  throw new Error('LLM returned invalid JSON: ' + String(body?.choices?.[0]?.message?.content || '').substring(0, 300));\n}\n\nif (typeof jobEvent.is_job_related !== 'boolean') {\n  throw new Error('Parse error: is_job_related must be boolean, got: ' + typeof jobEvent.is_job_related);\n}\nif (typeof jobEvent.injection_suspected !== 'boolean') jobEvent.injection_suspected = false;\n\nconst ALLOWED_ACTIONS = ['create_job','update_stage','add_interview','add_deadline','log_only','flag_error','ignore'];\nif (!ALLOWED_ACTIONS.includes(jobEvent.action)) {\n  throw new Error('Parse error: invalid action value: ' + String(jobEvent.action));\n}\n\nif (jobEvent.company_id && !/^[a-z0-9][a-z0-9-]*[a-z0-9]$/.test(jobEvent.company_id)) {\n  jobEvent.company_id = jobEvent.company_id.toLowerCase().replace(/[^a-z0-9-]/g, '-').replace(/--+/g, '-').replace(/^-|-$/g, '');\n}\n\nif (!Array.isArray(jobEvent.tech_stack)) jobEvent.tech_stack = [];\nif (!Array.isArray(jobEvent.key_requirements)) jobEvent.key_requirements = [];\n\nconst JOB_RELATED_CATEGORIES = ['job_posting','hr_invite','interview_invite','test_task','offer','rejection','follow_up','platform_notification','manual_note'];\nif (JOB_RELATED_CATEGORIES.includes(jobEvent.category)) jobEvent.is_job_related = true;\n\njobEvent.is_job_related_str = jobEvent.is_job_related ? 'yes' : 'no';\n\nreturn [{ json: { job_event: jobEvent } }];"
      },
      "id": "n_parse",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_related",
              "leftValue": "={{ $json.job_event.is_job_related_str }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_related",
      "name": "IF: is_job_related",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {},
      "id": "n_not_related",
      "name": "Not Job Related: Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2640,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "/* ============================================================\n   Prepare DB Params -- Combined Job APIs Flow\n   input_source: scraped, source_detail: {source}_api\n   sender_risk_level: low (trusted API sources)\n   ============================================================ */\n\nconst e = $input.item.json.job_event;\nconst ni = $('Normalize: API Job').item.json.normalized_input;\nconst sourceLabel = $('Normalize: API Job').item.json.source_label;\nconst rawText = ni.raw_text;\nconst sourceUrl = (ni.raw_meta && ni.raw_meta.url) || null;\n\nfunction sql(v) {\n  if (v === null || v === undefined) return 'NULL';\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\nfunction num(v) {\n  if (v === null || v === undefined) return 'NULL';\n  const n = parseFloat(v); return isNaN(n) ? 'NULL' : String(n);\n}\nfunction bool(v) { return v === true ? 'TRUE' : 'FALSE'; }\nfunction dt(v)   { return v ? \"'\" + String(v).replace(/'/g, \"''\") + \"'\" : 'NULL'; }\nfunction en(v, t) { return v ? \"'\" + String(v).replace(/'/g, \"''\") + \"'::\" + t : 'NULL'; }\nfunction arr(vals) {\n  if (!vals || vals.length === 0) return \"'{}'\";\n  const parts = vals.map(v => '\"' + String(v).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"') + '\"');\n  return \"'\" + '{' + parts.join(',') + '}' + \"'\";\n}\nfunction jsonb(v) {\n  if (!v) return \"'{}'::jsonb\";\n  return \"'\" + JSON.stringify(v).replace(/'/g, \"''\") + \"'::jsonb\";\n}\n\nconst finalSourceUrl = sourceUrl || e.source_url || null;\n\nreturn [{\n  json: {\n    job_event: e,\n    source_label: sourceLabel,\n    db: {\n      company_id_sql:           sql(e.company_id           || 'unknown'),\n      company_name_sql:         sql(e.company_name         || 'Unknown Company'),\n      employer_id_sql:          sql(e.employer_id),\n      employer_name_sql:        sql(e.employer_name),\n      job_id_fuzzy_sql:         sql(e.job_id_fuzzy         || 'unknown__unknown__unknown'),\n      job_title_sql:            sql(e.job_title),\n      location_sql:             sql(e.location),\n      job_thread_key_sql:       sql(e.job_thread_key),\n      seniority_sql:            en(e.seniority,             'seniority_enum'),\n      work_mode_sql:            en(e.work_mode,             'work_mode_enum'),\n      work_mode_raw_sql:        sql(e.work_mode_raw),\n      working_hours_sql:        sql(e.working_hours),\n      salary_currency_sql:      sql(e.salary_currency),\n      salary_min_sql:           num(e.salary_min),\n      salary_max_sql:           num(e.salary_max),\n      salary_period_sql:        en(e.salary_period,         'salary_period_enum'),\n      tech_stack_sql:           arr(e.tech_stack),\n      key_requirements_sql:     arr(e.key_requirements),\n      current_stage_sql:        en(e.stage || 'discovered', 'job_stage_enum'),\n      priority_sql:             en(e.priority,              'priority_enum'),\n      priority_level_sql:       num(e.priority_level),\n      interview_date_sql:       dt(e.interview_date),\n      response_deadline_sql:    dt(e.response_deadline),\n      application_deadline_sql: dt(e.application_deadline),\n      has_had_call_sql:         bool(e.has_had_call),\n      call_count_sql:           String(e.call_count || 0),\n      last_call_date_sql:       dt(e.last_call_date),\n      source_url_sql:           sql(finalSourceUrl),\n      source_input_sql:         en('scraped',               'input_source_enum'),\n      source_detail_sql:        sql(ni.source_detail        || 'api_json'),\n      summary_sql:              sql(e.summary),\n      category_sql:             en(e.category,              'job_category_enum'),\n      action_sql:               sql(e.action),\n      is_job_related_sql:       bool(e.is_job_related),\n      call_platform_sql:        en(e.call_platform,         'call_platform_enum'),\n      call_platform_raw_sql:    sql(e.call_platform_raw),\n      raw_text_sql:             sql(rawText),\n      parsed_json_sql:          jsonb(e),\n      sender_risk_level_sql:    sql('low'),\n      sender_risk_signals_sql:  arr([])\n    }\n  }\n}];"
      },
      "id": "n_prepare",
      "name": "Prepare DB Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\nco AS (\n  INSERT INTO companies (company_id, name, meta)\n  VALUES ({{ $json.db.company_id_sql }}, {{ $json.db.company_name_sql }}, '{}')\n  ON CONFLICT (tenant_id, company_id) DO UPDATE SET updated_at = NOW()\n  RETURNING id\n),\nem AS (\n  INSERT INTO employers (employer_id, company_id, name)\n  SELECT {{ $json.db.employer_id_sql }},\n         {{ $json.db.company_id_sql }},\n         {{ $json.db.employer_name_sql }}\n  WHERE  {{ $json.db.employer_id_sql }} IS NOT NULL\n  ON CONFLICT (tenant_id, employer_id) DO UPDATE SET\n    name       = COALESCE(EXCLUDED.name, employers.name),\n    updated_at = NOW()\n  RETURNING id\n),\nj AS (\n  INSERT INTO jobs (\n    job_id_fuzzy,   company_id,      employer_id,\n    job_title,      location,        seniority,\n    work_mode,      work_mode_raw,   working_hours,\n    salary_currency, salary_min,     salary_max,     salary_period,\n    tech_stack,     key_requirements,\n    current_stage,  priority,        priority_level,\n    interview_date, response_deadline, application_deadline,\n    has_had_call,   call_count,      last_call_date,\n    source_url,     source_input,    summary\n  ) VALUES (\n    {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.company_id_sql }},\n    {{ $json.db.employer_id_sql }},\n    {{ $json.db.job_title_sql }},\n    {{ $json.db.location_sql }},\n    {{ $json.db.seniority_sql }},\n    {{ $json.db.work_mode_sql }},\n    {{ $json.db.work_mode_raw_sql }},\n    {{ $json.db.working_hours_sql }},\n    {{ $json.db.salary_currency_sql }},\n    {{ $json.db.salary_min_sql }},\n    {{ $json.db.salary_max_sql }},\n    {{ $json.db.salary_period_sql }},\n    {{ $json.db.tech_stack_sql }},\n    {{ $json.db.key_requirements_sql }},\n    {{ $json.db.current_stage_sql }},\n    {{ $json.db.priority_sql }},\n    {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }},\n    {{ $json.db.response_deadline_sql }},\n    {{ $json.db.application_deadline_sql }},\n    {{ $json.db.has_had_call_sql }},\n    {{ $json.db.call_count_sql }},\n    {{ $json.db.last_call_date_sql }},\n    {{ $json.db.source_url_sql }},\n    {{ $json.db.source_input_sql }},\n    {{ $json.db.summary_sql }}\n  )\n  ON CONFLICT (tenant_id, job_id_fuzzy) DO UPDATE SET\n    current_stage        = EXCLUDED.current_stage,\n    priority             = EXCLUDED.priority,\n    priority_level       = EXCLUDED.priority_level,\n    interview_date       = COALESCE(EXCLUDED.interview_date, jobs.interview_date),\n    response_deadline    = COALESCE(EXCLUDED.response_deadline, jobs.response_deadline),\n    application_deadline = COALESCE(EXCLUDED.application_deadline, jobs.application_deadline),\n    tech_stack           = CASE WHEN array_length(EXCLUDED.tech_stack, 1) > 0\n                                THEN EXCLUDED.tech_stack ELSE jobs.tech_stack END,\n    source_url           = COALESCE(EXCLUDED.source_url, jobs.source_url),\n    summary              = EXCLUDED.summary,\n    updated_at           = NOW()\n  RETURNING id, job_id_fuzzy, current_stage::text, priority::text, summary, interview_date\n),\nev AS (\n  INSERT INTO job_events (\n    job_id,         job_thread_key,  job_id_fuzzy,\n    input_source,   source_detail,\n    category,       is_job_related,  action,\n    stage,          priority,        priority_level,\n    interview_date, response_deadline, application_deadline,\n    call_platform,  call_platform_raw,\n    raw_text,       parsed_json,\n    sender_risk_level, sender_risk_signals\n  )\n  SELECT\n    (SELECT id FROM j),\n    {{ $json.db.job_thread_key_sql }},\n    {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.source_input_sql }},\n    {{ $json.db.source_detail_sql }},\n    {{ $json.db.category_sql }},\n    {{ $json.db.is_job_related_sql }},\n    {{ $json.db.action_sql }},\n    {{ $json.db.current_stage_sql }},\n    {{ $json.db.priority_sql }},\n    {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }},\n    {{ $json.db.response_deadline_sql }},\n    {{ $json.db.application_deadline_sql }},\n    {{ $json.db.call_platform_sql }},\n    {{ $json.db.call_platform_raw_sql }},\n    {{ $json.db.raw_text_sql }},\n    {{ $json.db.parsed_json_sql }},\n    {{ $json.db.sender_risk_level_sql }},\n    {{ $json.db.sender_risk_signals_sql }}\n  RETURNING id\n)\nSELECT\n  (SELECT id             FROM j) AS job_id,\n  (SELECT job_id_fuzzy   FROM j) AS job_id_fuzzy,\n  (SELECT current_stage  FROM j) AS stage,\n  (SELECT priority       FROM j) AS priority,\n  (SELECT summary        FROM j) AS summary,\n  (SELECT interview_date FROM j) AS interview_date,\n  (SELECT id             FROM ev) AS event_id;",
        "options": {}
      },
      "id": "n_db_write",
      "name": "DB: Write All",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2860,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "ZjjVGIqiRAUVlCk6",
          "name": "radar"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_priority",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_priority",
      "name": "IF: priority = high",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3080,
        300
      ]
    },
    {
      "id": "n_telegram",
      "name": "Telegram: Job Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, parse_mode: 'HTML', text: [ '\\u{1F4BC} <b>' + (($('Prepare DB Params').item.json.source_label || '').toUpperCase()) + ': ' + ($('Parse LLM Response').item.json.job_event.company_name || 'Unknown') + '</b>', ($('Parse LLM Response').item.json.job_event.job_title || '\\u2014'), '', 'Stage: <code>' + ($json.stage || '') + '</code>  Priority: <b>' + ($json.priority || '') + '</b>', 'Relevance: <b>' + ($('Parse LLM Response').item.json.job_event.relevance_score || '?') + '/100</b>', '', ($json.summary || '') ].join('\\n') }) }}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "n_jobicy_fetch",
      "name": "Jobicy: Fetch Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        700
      ],
      "parameters": {
        "method": "GET",
        "url": "https://jobicy.com/api/v2/remote-jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "industry",
              "value": "tech"
            },
            {
              "name": "tag",
              "value": "automation,ai,n8n,workflow"
            },
            {
              "name": "count",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "notes": "Jobicy free API -- no key required. Remote tech jobs."
    },
    {
      "id": "n_himalayas_fetch",
      "name": "Himalayas: Fetch Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        900
      ],
      "parameters": {
        "method": "GET",
        "url": "https://himalayas.app/jobs/api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "automation engineer"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "notes": "Himalayas free API -- no key required. Remote tech jobs."
    },
    {
      "id": "n_adzuna_stub",
      "name": "Adzuna: STUB (needs API key)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        1100
      ],
      "parameters": {},
      "notes": "Adzuna API stub.\nRegister free: https://developer.adzuna.com\nFree: 250 req/day.\nURL: https://api.adzuna.com/v1/api/jobs/de/search/1?app_id=ID&app_key=KEY&what=automation+engineer&content-type=application/json\nResponse: { results: [{ title, company: { display_name }, location: { display_name }, description, redirect_url, created }] }"
    },
    {
      "id": "n_jooble_stub",
      "name": "Jooble: STUB (needs API key)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        1300
      ],
      "parameters": {},
      "notes": "Jooble API stub.\nRegister free: https://de.jooble.org/api\nFree: 500 req/day.\nPOST https://jooble.org/api/KEY\nBody: { \"keywords\": \"automation engineer\", \"location\": \"Germany\" }\nResponse: { jobs: [{ title, company, location, snippet, link, updated }] }"
    },
    {
      "id": "n_wwr_stub",
      "name": "WeWorkRemotely RSS: STUB",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        1500
      ],
      "parameters": {},
      "notes": "WeWorkRemotely RSS stub.\nNo key needed. Requires XML parsing in Code node.\nRSS URL: https://weworkremotely.com/categories/remote-programming-jobs.rss\nFetch with: HTTP GET, responseFormat=text\nParse: regex /<item>(.*?)</item>/g\nActivate when XML parsing pattern is implemented."
    },
    {
      "id": "n_jobicy_flatten",
      "name": "Flatten: Jobicy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        700
      ],
      "parameters": {
        "jsCode": "// Jobicy response: { jobs: [...] }\nconst data = .item.json.jobs || [];\nif (data.length === 0) return [];\nreturn data.map(job => ({ json: { ...job, source_label: \"jobicy_api\" } }));"
      }
    },
    {
      "id": "n_himalayas_flatten",
      "name": "Flatten: Himalayas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        900
      ],
      "parameters": {
        "jsCode": "// Himalayas response: { jobs: [...] }\nconst data = .item.json.jobs || [];\nif (data.length === 0) return [];\nreturn data.map(job => ({ json: { ...job, source_label: \"himalayas_api\" } }));"
      }
    }
  ],
  "connections": {
    "Schedule: Daily 04:00": {
      "main": [
        [
          {
            "node": "Arbeitnow: Fetch Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remotive: Fetch Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "RemoteOK: Fetch Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Jobicy: Fetch Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Himalayas: Fetch Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arbeitnow: Fetch Jobs": {
      "main": [
        [
          {
            "node": "Flatten: Arbeitnow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remotive: Fetch Jobs": {
      "main": [
        [
          {
            "node": "Flatten: Remotive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoteOK: Fetch Jobs": {
      "main": [
        [
          {
            "node": "Flatten: RemoteOK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten: Arbeitnow": {
      "main": [
        [
          {
            "node": "Merge: All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten: Remotive": {
      "main": [
        [
          {
            "node": "Merge: All Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Flatten: RemoteOK": {
      "main": [
        [
          {
            "node": "Merge: All Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge: All Sources": {
      "main": [
        [
          {
            "node": "Normalize: API Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize: API Job": {
      "main": [
        [
          {
            "node": "Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Check": {
      "main": [
        [
          {
            "node": "IF: not already processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: not already processed": {
      "main": [
        [
          {
            "node": "Skip Security Checks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Already Processed: Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Security Checks": {
      "main": [
        [
          {
            "node": "LLM Call (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call (OpenRouter)": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "IF: is_job_related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is_job_related": {
      "main": [
        [
          {
            "node": "Prepare DB Params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Job Related: Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Params": {
      "main": [
        [
          {
            "node": "DB: Write All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Write All": {
      "main": [
        [
          {
            "node": "IF: priority = high",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: priority = high": {
      "main": [
        [
          {
            "node": "Telegram: Job Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Jobicy: Fetch Jobs": {
      "main": [
        [
          {
            "node": "Flatten: Jobicy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Himalayas: Fetch Jobs": {
      "main": [
        [
          {
            "node": "Flatten: Himalayas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten: Jobicy": {
      "main": [
        [
          {
            "node": "Merge: All Sources",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Flatten: Himalayas": {
      "main": [
        [
          {
            "node": "Merge: All Sources",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  }
}