n8n/mailde-flow-api.json
{
  "name": "JobRadar — Flow 1b: mail.de IMAP",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "n_trigger",
      "name": "Schedule: Every 15min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "host": "imap.mail.de",
        "port": 993,
        "secure": true,
        "user": "={{ $env.MAILDE_ADDRESS }}",
        "password": "={{ $env.MAILDE_IMAP_PASSWORD }}",
        "mailbox": "INBOX",
        "action": "read",
        "downloadAttachments": false,
        "options": {
          "unseen": true,
          "format": "simple"
        }
      },
      "id": "n_imap",
      "name": "IMAP: Fetch Unseen",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "credentials": {
        "imap": {
          "id": "A59oW5z5g3CjHznO",
          "name": "mail.de IMAP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json;\n\n// Parse sender from 'from' field: \"Name <email>\" or bare \"email@domain\"\nconst fromRaw = msg.from || '';\nconst emailMatch = fromRaw.match(/<([^>]+)>/) || fromRaw.match(/([^\\s]+@[^\\s]+)/);\nconst senderEmail = emailMatch ? emailMatch[1].toLowerCase().trim() : null;\nconst senderDomain = senderEmail ? senderEmail.split('@')[1] : null;\n\n// Prefer plain text; fall back to stripping HTML\nlet rawText = msg.text || '';\nif (!rawText && msg.html) {\n  rawText = msg.html.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n}\nrawText = rawText.substring(0, 10000);\n\n// Build thread key from In-Reply-To or References header if available\nconst messageId = msg.messageId || msg.headers?.['message-id'] || null;\n\nreturn [{\n  json: {\n    normalized_input: {\n      input_source: 'email',\n      source_detail: 'email',\n      email_account_id: 'mailde_main',\n      email_address: $env.MAILDE_ADDRESS || null,\n      email_provider: 'imap',\n      subject: msg.subject || null,\n      date: msg.date || new Date().toISOString(),\n      raw_text: rawText,\n      raw_meta: {\n        message_id: messageId,\n        sender: fromRaw,\n        sender_email: senderEmail,\n        sender_domain: senderDomain\n      }\n    }\n  }\n}];"
      },
      "id": "n_normalize",
      "name": "Normalize Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Sender Risk Check — shared across all email flows\n// ============================================================\n\nconst ni = $input.item.json.normalized_input;\nconst senderEmail  = (ni.raw_meta && ni.raw_meta.sender_email)  || null;\nconst senderDomain = (ni.raw_meta && ni.raw_meta.sender_domain) ||\n                     (senderEmail ? senderEmail.split('@')[1] : null);\nconst subject      = (ni.subject || '').toLowerCase();\nconst rawText      = (ni.raw_text || '').toLowerCase();\n\nconst LEGIT_DOMAINS = new Set([\n  'stepstone.de','stepstone.com','stepstone.at',\n  'linkedin.com','linkedin.de',\n  'xing.com','xing.de','new.xing.com',\n  'indeed.com','de.indeed.com','indeed.de',\n  'join.com','glassdoor.com','glassdoor.de',\n  'monster.de','monster.com','kimeta.de',\n  'jobware.de','stellenanzeigen.de',\n  'arbeitsagentur.de','karriere.at','hokify.at',\n  'get-in-it.de','heyjobs.de','heyjobs.co',\n  'welcometothejungle.com','jooble.org',\n  'adzuna.de','adzuna.com','jobvector.de','experteer.de',\n  'greenhouse.io','lever.co','workday.com','myworkdayjobs.com',\n  'bamboohr.com','personio.de','personio.com',\n  'recruitee.com','smartrecruiters.com',\n  'softgarden.de','softgarden.io','successfactors.com',\n  'taleo.net','workable.com','jobvite.com','breezy.hr',\n  'google.com','amazon.com','amazon.de','microsoft.com',\n  'apple.com','meta.com','netflix.com','spotify.com',\n  'zalando.de','n26.com','delivery-hero.com','hellofresh.com',\n  'siemens.com','sap.com','bosch.com','bmw.com',\n  'telekom.de','t-systems.com','check24.de',\n  'auto1.com','otto.de','adidas.com','teamviewer.com'\n]);\n\nconst PORTAL_NAMES = [\n  'stepstone','linkedin','xing','indeed','glassdoor',\n  'monster','kimeta','jobware','join','karriere',\n  'arbeitsagentur','heyjobs','hokify','jooble','adzuna',\n  'jobvector','experteer','absolventa','greenhouse','lever',\n  'workday','bamboohr','personio','recruitee','smartrecruiters',\n  'softgarden','successfactors','workable','jobvite'\n];\n\nconst FREE_PROVIDERS = new Set([\n  'gmail.com','yahoo.com','yahoo.de','hotmail.com','hotmail.de',\n  'outlook.com','outlook.de','live.com','live.de','msn.com',\n  'mail.com','mail.de','gmx.de','gmx.com','gmx.net','gmx.at',\n  'web.de','t-online.de','freenet.de','aol.com',\n  'icloud.com','me.com','mac.com','zoho.com',\n  'yandex.com','yandex.ru','protonmail.com','proton.me',\n  'tutanota.com','fastmail.com'\n]);\n\nconst SUSPICIOUS_TLDS = ['.ru','.cn','.tk','.xyz','.top','.click','.gq','.ml',\n  '.cf','.ga','.pw','.icu','.live','.online','.site','.work','.loan',\n  '.win','.racing','.science','.party','.accountant','.download',\n  '.stream','.review','.country','.faith','.cricket','.bid',\n  '.trade','.webcam','.date'];\n\nconst DISPOSABLE_DOMAINS = new Set([\n  'mailinator.com','guerrillamail.com','guerrillamail.de',\n  '10minutemail.com','10minutemail.net',\n  'tempmail.com','temp-mail.org','temp-mail.io',\n  'throwam.com','yopmail.com','yopmail.fr',\n  'sharklasers.com','trashmail.com','trashmail.de','trashmail.at',\n  'spamgourmet.com','dispostable.com','mailnull.com',\n  'maildrop.cc','fakeinbox.com','mailnesia.com',\n  'throwaway.email','discard.email','wegwerfmail.de',\n  'sofort-mail.de','getairmail.com','filzmail.com'\n]);\n\nconst SCAM_SUBJECTS = [\n  'congratulations you have been selected','you have been chosen',\n  'urgent job offer','work from home earn','no experience needed',\n  'earn up to','weekly payment','part time from home','easy money',\n  'guaranteed income','mystery shopper','send money','gift card',\n  'western union','equipment will be sent to you'\n];\nconst SCAM_BODY = [\n  'wire transfer','gift card payment','send us your bank',\n  'advance payment','deposit required','training fee','equipment fee',\n  'background check fee','money order','western union','moneygram',\n  'zelle payment','upfront payment'\n];\n\nfunction levenshtein(a, b) {\n  const m = a.length, n = b.length;\n  const dp = Array.from({length: m+1}, (_, i) => Array.from({length: n+1}, (_, j) => i === 0 ? j : j === 0 ? i : 0));\n  for (let i = 1; i <= m; i++)\n    for (let j = 1; j <= n; j++)\n      dp[i][j] = a[i-1] === b[j-1] ? dp[i-1][j-1] : 1 + Math.min(dp[i-1][j], dp[i][j-1], dp[i-1][j-1]);\n  return dp[m][n];\n}\n\nfunction isGibberishLocalPart(local) {\n  if (!local || local.length < 3) return false;\n  const digitRatio = (local.match(/\\d/g) || []).length / local.length;\n  const randomPattern = /^[a-z]{1,3}\\d{4,}|^\\d{3,}[a-z]|^[a-z\\d]{12,}$/i;\n  return (digitRatio > 0.4 && local.length > 6) || randomPattern.test(local);\n}\n\nif (!senderDomain) {\n  return [{ json: { normalized_input: ni, sender_risk_level: 'unknown', sender_risk_signals: [] } }];\n}\n\nconst domain = senderDomain.toLowerCase().trim();\nconst localPart = senderEmail ? senderEmail.split('@')[0].toLowerCase() : '';\nconst signals = [];\nlet riskLevel = 'low';\n\nif (LEGIT_DOMAINS.has(domain)) {\n  return [{ json: { normalized_input: ni, sender_risk_level: 'low', sender_risk_signals: [] } }];\n}\n\nconst domainParts = domain.split('.');\nconst effectiveDomain = domainParts.length >= 2\n  ? domainParts[domainParts.length-2] + '.' + domainParts[domainParts.length-1]\n  : domain;\n\nif (!LEGIT_DOMAINS.has(effectiveDomain) && domain !== effectiveDomain) {\n  const containsPortal = PORTAL_NAMES.some(p => domain.includes(p) && !domain.endsWith('.' + p + '.de') && !domain.endsWith('.' + p + '.com'));\n  if (containsPortal) { signals.push('subdomain_trick:' + domain); riskLevel = 'high'; }\n}\n\nfor (const portal of PORTAL_NAMES) {\n  const domainBase = effectiveDomain.split('.')[0];\n  const dist = levenshtein(domainBase, portal);\n  if (dist > 0 && dist <= 2 && domainBase.length >= portal.length - 1) {\n    signals.push('typosquatting:' + effectiveDomain + ' ~ ' + portal); riskLevel = 'high';\n  }\n}\n\nif (/^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$/.test(domain)) {\n  signals.push('ip_address_domain'); riskLevel = 'high';\n}\n\nconst tld = '.' + domain.split('.').pop();\nif (SUSPICIOUS_TLDS.includes(tld)) {\n  signals.push('suspicious_tld:' + tld);\n  if (riskLevel !== 'high') riskLevel = 'medium';\n}\n\nif (FREE_PROVIDERS.has(effectiveDomain)) {\n  signals.push('free_email_provider:' + effectiveDomain);\n  if (riskLevel === 'low') riskLevel = 'medium';\n}\n\nif (DISPOSABLE_DOMAINS.has(effectiveDomain)) {\n  signals.push('disposable_email_domain:' + effectiveDomain); riskLevel = 'high';\n}\n\nif (isGibberishLocalPart(localPart)) {\n  signals.push('gibberish_local_part:' + localPart.substring(0, 20));\n  if (riskLevel !== 'high') riskLevel = 'medium';\n}\n\nfor (const kw of SCAM_SUBJECTS) {\n  if (subject.includes(kw)) { signals.push('scam_subject_keyword:' + kw); riskLevel = 'high'; break; }\n}\n\nfor (const kw of SCAM_BODY) {\n  if (rawText.includes(kw)) { signals.push('scam_body_signal:' + kw); riskLevel = 'high'; break; }\n}\n\nif (/bank\\s*account|passport\\s*number|credit\\s*card|send\\s*\\$|pay\\s*\\$\\d/i.test(rawText)) {\n  signals.push('financial_data_request'); riskLevel = 'high';\n}\n\nreturn [{ json: { normalized_input: ni, sender_risk_level: riskLevel, sender_risk_signals: signals } }];"
      },
      "id": "n_sender_risk",
      "name": "Sender Risk Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_risk",
              "leftValue": "={{ $json.sender_risk_level }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_risk",
      "name": "IF: sender_risk high",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ni = $input.item.json.normalized_input;\n\nconst MAX_RAW = 10000;\nif (ni.raw_text && ni.raw_text.length > MAX_RAW) {\n  ni.raw_text = ni.raw_text.substring(0, MAX_RAW);\n}\n\nconst text = [(ni.raw_text || ''), (ni.subject || '')].join(' ').toLowerCase();\n\nconst INJECTION_PATTERNS = [\n  /ignore\\s+(all\\s+)?(previous|prior|above|earlier)\\s+instructions?/i,\n  /forget\\s+(your\\s+)?(rules?|instructions?|guidelines?|prompt|system)/i,\n  /you\\s+are\\s+now\\s+(a\\s+)?(?:an?\\s+)?(?:new|different|another|unrestricted)/i,\n  /act\\s+as\\s+(?:if\\s+you\\s+are\\s+)?(?:a\\s+)?(?:different|another|unrestricted|jailbreak)/i,\n  /\\[\\s*(?:INST|SYS|SYSTEM|ADMIN|ROOT|OVERRIDE)\\s*\\]/i,\n  /<\\|\\s*(?:system|assistant|user|im_start|im_end)\\s*\\|>/i,\n  /(?:^|\\s)SYSTEM\\s*:/im,\n  /(?:^|\\s)ADMIN\\s*:/im,\n  /from\\s*:\\s*anthropic/i,\n  /new\\s+role\\s*:/i,\n  /your\\s+new\\s+(instructions?|rules?|persona|role)\\s+(are|is)/i,\n  /disregard\\s+(all\\s+)?(previous|prior|your)\\s+(instructions?|rules?)/i,\n  /override\\s+(safety|content|all)\\s*(filter|policy|rules?|restrictions?|guidelines?)/i,\n  /pretend\\s+(you\\s+)?(have\\s+no|there\\s+are\\s+no|to\\s+be\\s+(?:a\\s+)?(?:different|another))/i,\n  /do\\s+not\\s+follow\\s+(your\\s+)?(rules?|guidelines?|instructions?|training)/i,\n  /reveal\\s+(your\\s+)?(system\\s+prompt|instructions?|secrets?|api\\s+key)/i,\n  /print\\s+(your\\s+)?(system\\s+prompt|instructions?|configuration)/i,\n  /token\\s+manipulation|context\\s+injection|prompt\\s+leak/i\n];\n\nconst detected = INJECTION_PATTERNS.some(p => p.test(text));\n\nreturn [{ json: {\n  normalized_input: ni,\n  hard_injection_detected: detected ? 'yes' : 'no'\n} }];"
      },
      "id": "n_injection",
      "name": "Hard Injection Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_inj",
              "leftValue": "={{ $json.hard_injection_detected }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_injection",
      "name": "IF: hard_injection_detected",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen/qwen3-30b-a3b-instruct-2507', max_tokens: 2048, messages: [{ role: 'system', content: $env.JOBRADAR_SYSTEM_PROMPT }, { role: 'user', content: JSON.stringify($json.normalized_input) }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "n_llm",
      "name": "LLM Call (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;\nlet jobEvent;\ntry {\n  let raw = (body.choices[0].message.content || '').trim();\n  raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n  raw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  jobEvent = JSON.parse(raw);\n} catch (err) {\n  throw new Error('LLM returned invalid JSON: ' + String(body?.choices?.[0]?.message?.content || '').substring(0, 300));\n}\n\nif (typeof jobEvent.is_job_related !== 'boolean') {\n  throw new Error('Parse error: is_job_related must be boolean, got: ' + typeof jobEvent.is_job_related);\n}\nif (typeof jobEvent.injection_suspected !== 'boolean') jobEvent.injection_suspected = false;\n\nconst ALLOWED_ACTIONS = ['create_job','update_stage','add_interview','add_deadline','log_only','flag_error','ignore'];\nif (!ALLOWED_ACTIONS.includes(jobEvent.action)) {\n  throw new Error('Parse error: invalid action value: ' + String(jobEvent.action));\n}\n\nif (jobEvent.company_id && !/^[a-z0-9][a-z0-9-]*[a-z0-9]$/.test(jobEvent.company_id)) {\n  jobEvent.company_id = jobEvent.company_id.toLowerCase().replace(/[^a-z0-9-]/g, '-').replace(/--+/g, '-').replace(/^-|-$/g, '');\n}\n\nif (!Array.isArray(jobEvent.tech_stack)) jobEvent.tech_stack = [];\nif (!Array.isArray(jobEvent.key_requirements)) jobEvent.key_requirements = [];\n\nconst JOB_RELATED_CATEGORIES = ['job_posting','hr_invite','interview_invite','test_task','offer','rejection','follow_up','platform_notification','manual_note'];\nif (JOB_RELATED_CATEGORIES.includes(jobEvent.category)) jobEvent.is_job_related = true;\n\njobEvent.is_job_related_str = jobEvent.is_job_related ? 'yes' : 'no';\n\nreturn [{ json: { job_event: jobEvent } }];"
      },
      "id": "n_parse",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_related",
              "leftValue": "={{ $json.job_event.is_job_related_str }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_related",
      "name": "IF: is_job_related",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "/* ============================================================\n   Prepare DB Params — mail.de IMAP Flow\n   email_account_id: mailde_main\n   ============================================================ */\n\nconst e = $input.item.json.job_event;\nconst ni = $('Normalize Email').item.json.normalized_input;\nconst rawText = ni.raw_text;\nconst senderRisk = $('Sender Risk Check').item.json;\nconst senderRiskLevel = senderRisk.sender_risk_level || 'unknown';\nconst senderRiskSignals = senderRisk.sender_risk_signals || [];\nconst rawReference = (ni.raw_meta && ni.raw_meta.message_id) || null;\nconst emailDate = ni.date || null;\n\nfunction sql(v) {\n  if (v === null || v === undefined) return 'NULL';\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\nfunction num(v) {\n  if (v === null || v === undefined) return 'NULL';\n  const n = parseFloat(v); return isNaN(n) ? 'NULL' : String(n);\n}\nfunction bool(v) { return v === true ? 'TRUE' : 'FALSE'; }\nfunction dt(v)   { return v ? \"'\" + String(v).replace(/'/g, \"''\") + \"'\" : 'NULL'; }\nfunction en(v, t) { return v ? \"'\" + String(v).replace(/'/g, \"''\") + \"'::\" + t : 'NULL'; }\nfunction arr(vals) {\n  if (!vals || vals.length === 0) return \"'{}'\";\n  const parts = vals.map(v => '\"' + String(v).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"') + '\"');\n  return \"'\" + '{' + parts.join(',') + '}' + \"'\";\n}\nfunction jsonb(v) {\n  if (!v) return \"'{}'::jsonb\";\n  return \"'\" + JSON.stringify(v).replace(/'/g, \"''\") + \"'::jsonb\";\n}\n\nreturn [{\n  json: {\n    job_event: e,\n    db: {\n      company_id_sql:           sql(e.company_id           || 'unknown'),\n      company_name_sql:         sql(e.company_name         || 'Unknown Company'),\n      employer_id_sql:          sql(e.employer_id),\n      employer_name_sql:        sql(e.employer_name),\n      job_id_fuzzy_sql:         sql(e.job_id_fuzzy         || 'unknown__unknown__unknown'),\n      job_title_sql:            sql(e.job_title),\n      location_sql:             sql(e.location),\n      job_thread_key_sql:       sql(e.job_thread_key),\n      seniority_sql:            en(e.seniority,             'seniority_enum'),\n      work_mode_sql:            en(e.work_mode,             'work_mode_enum'),\n      work_mode_raw_sql:        sql(e.work_mode_raw),\n      working_hours_sql:        sql(e.working_hours),\n      salary_currency_sql:      sql(e.salary_currency),\n      salary_min_sql:           num(e.salary_min),\n      salary_max_sql:           num(e.salary_max),\n      salary_period_sql:        en(e.salary_period,         'salary_period_enum'),\n      tech_stack_sql:           arr(e.tech_stack),\n      key_requirements_sql:     arr(e.key_requirements),\n      current_stage_sql:        en(e.stage || 'discovered', 'job_stage_enum'),\n      priority_sql:             en(e.priority,              'priority_enum'),\n      priority_level_sql:       num(e.priority_level),\n      interview_date_sql:       dt(e.interview_date),\n      response_deadline_sql:    dt(e.response_deadline),\n      application_deadline_sql: dt(e.application_deadline),\n      has_had_call_sql:         bool(e.has_had_call),\n      call_count_sql:           String(e.call_count || 0),\n      last_call_date_sql:       dt(e.last_call_date),\n      source_url_sql:           sql(e.source_url),\n      source_input_sql:         en(e.input_source,          'input_source_enum'),\n      summary_sql:              sql(e.summary),\n      category_sql:             en(e.category,              'job_category_enum'),\n      action_sql:               sql(e.action),\n      is_job_related_sql:       bool(e.is_job_related),\n      call_platform_sql:        en(e.call_platform,         'call_platform_enum'),\n      call_platform_raw_sql:    sql(e.call_platform_raw),\n      raw_text_sql:             sql(rawText),\n      parsed_json_sql:          jsonb(e),\n      email_account_id_sql:     sql(ni.email_account_id),\n      raw_reference_sql:        sql(rawReference),\n      email_date_sql:           dt(emailDate),\n      sender_risk_level_sql:    sql(senderRiskLevel),\n      sender_risk_signals_sql:  arr(senderRiskSignals)\n    }\n  }\n}];"
      },
      "id": "n_prepare",
      "name": "Prepare DB Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\nco AS (\n  INSERT INTO companies (company_id, name, meta)\n  VALUES ({{ $json.db.company_id_sql }}, {{ $json.db.company_name_sql }}, '{}')\n  ON CONFLICT (tenant_id, company_id) DO UPDATE SET updated_at = NOW()\n  RETURNING id\n),\nem AS (\n  INSERT INTO employers (employer_id, company_id, name)\n  SELECT {{ $json.db.employer_id_sql }},\n         {{ $json.db.company_id_sql }},\n         {{ $json.db.employer_name_sql }}\n  WHERE  {{ $json.db.employer_id_sql }} IS NOT NULL\n  ON CONFLICT (tenant_id, employer_id) DO UPDATE SET\n    name       = COALESCE(EXCLUDED.name, employers.name),\n    updated_at = NOW()\n  RETURNING id\n),\nj AS (\n  INSERT INTO jobs (\n    job_id_fuzzy,   company_id,      employer_id,\n    job_title,      location,        seniority,\n    work_mode,      work_mode_raw,   working_hours,\n    salary_currency, salary_min,     salary_max,     salary_period,\n    tech_stack,     key_requirements,\n    current_stage,  priority,        priority_level,\n    interview_date, response_deadline, application_deadline,\n    has_had_call,   call_count,      last_call_date,\n    source_url,     source_input,    summary\n  ) VALUES (\n    {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.company_id_sql }},\n    {{ $json.db.employer_id_sql }},\n    {{ $json.db.job_title_sql }},\n    {{ $json.db.location_sql }},\n    {{ $json.db.seniority_sql }},\n    {{ $json.db.work_mode_sql }},\n    {{ $json.db.work_mode_raw_sql }},\n    {{ $json.db.working_hours_sql }},\n    {{ $json.db.salary_currency_sql }},\n    {{ $json.db.salary_min_sql }},\n    {{ $json.db.salary_max_sql }},\n    {{ $json.db.salary_period_sql }},\n    {{ $json.db.tech_stack_sql }},\n    {{ $json.db.key_requirements_sql }},\n    {{ $json.db.current_stage_sql }},\n    {{ $json.db.priority_sql }},\n    {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }},\n    {{ $json.db.response_deadline_sql }},\n    {{ $json.db.application_deadline_sql }},\n    {{ $json.db.has_had_call_sql }},\n    {{ $json.db.call_count_sql }},\n    {{ $json.db.last_call_date_sql }},\n    {{ $json.db.source_url_sql }},\n    {{ $json.db.source_input_sql }},\n    {{ $json.db.summary_sql }}\n  )\n  ON CONFLICT (tenant_id, job_id_fuzzy) DO UPDATE SET\n    current_stage        = EXCLUDED.current_stage,\n    priority             = EXCLUDED.priority,\n    priority_level       = EXCLUDED.priority_level,\n    interview_date       = COALESCE(EXCLUDED.interview_date, jobs.interview_date),\n    response_deadline    = COALESCE(EXCLUDED.response_deadline, jobs.response_deadline),\n    application_deadline = COALESCE(EXCLUDED.application_deadline, jobs.application_deadline),\n    tech_stack           = CASE WHEN array_length(EXCLUDED.tech_stack, 1) > 0\n                                THEN EXCLUDED.tech_stack ELSE jobs.tech_stack END,\n    summary              = EXCLUDED.summary,\n    updated_at           = NOW()\n  RETURNING id, job_id_fuzzy, current_stage::text, priority::text, summary, interview_date\n),\nev AS (\n  INSERT INTO job_events (\n    job_id,         job_thread_key,  job_id_fuzzy,\n    input_source,   source_detail,\n    email_account_id, raw_reference, email_date,\n    category,       is_job_related,  action,\n    stage,          priority,        priority_level,\n    interview_date, response_deadline, application_deadline,\n    call_platform,  call_platform_raw,\n    raw_text,       parsed_json,\n    sender_risk_level, sender_risk_signals\n  )\n  SELECT\n    (SELECT id FROM j),\n    {{ $json.db.job_thread_key_sql }},\n    {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.source_input_sql }},\n    'email',\n    {{ $json.db.email_account_id_sql }},\n    {{ $json.db.raw_reference_sql }},\n    {{ $json.db.email_date_sql }},\n    {{ $json.db.category_sql }},\n    {{ $json.db.is_job_related_sql }},\n    {{ $json.db.action_sql }},\n    {{ $json.db.current_stage_sql }},\n    {{ $json.db.priority_sql }},\n    {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }},\n    {{ $json.db.response_deadline_sql }},\n    {{ $json.db.application_deadline_sql }},\n    {{ $json.db.call_platform_sql }},\n    {{ $json.db.call_platform_raw_sql }},\n    {{ $json.db.raw_text_sql }},\n    {{ $json.db.parsed_json_sql }},\n    {{ $json.db.sender_risk_level_sql }},\n    {{ $json.db.sender_risk_signals_sql }}\n  RETURNING id\n)\nSELECT\n  (SELECT id             FROM j) AS job_id,\n  (SELECT job_id_fuzzy   FROM j) AS job_id_fuzzy,\n  (SELECT current_stage  FROM j) AS stage,\n  (SELECT priority       FROM j) AS priority,\n  (SELECT summary        FROM j) AS summary,\n  (SELECT interview_date FROM j) AS interview_date,\n  (SELECT id             FROM ev) AS event_id;",
        "options": {}
      },
      "id": "n_db_write",
      "name": "DB: Write All",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2640,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "Tvuhat51UDCzKwnE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_interview",
              "leftValue": "={{ $json.interview_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_interview",
      "name": "IF: interview_date present",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2860,
        300
      ]
    },
    {
      "id": "n_gcal_mailde",
      "name": "Google Calendar: Create Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({  summary: 'Interview: ' + ($('Parse LLM Response').item.json.job_event.company_name || 'Unknown') + ' — ' + ($('Parse LLM Response').item.json.job_event.job_title || '—'),  description: 'JobRadar event_id: ' + ($json.event_id || '') + '\\n\\n' + ($json.summary || ''),  start: { date: $json.interview_date },  end:   { date: $json.interview_date },  reminders: { useDefault: true }}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eLQTxfMJ6kryO1Iy",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_priority",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_priority",
      "name": "IF: priority = high",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3080,
        360
      ]
    },
    {
      "id": "n_telegram_alert_mailde",
      "name": "Telegram: Job Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({  chat_id: $env.TELEGRAM_CHAT_ID,  parse_mode: 'HTML',  text: [    '\\u{1F514} <b>JobRadar: ' + ($('Parse LLM Response').item.json.job_event.company_name || 'Unknown') + '</b>',    ($('Parse LLM Response').item.json.job_event.job_title || '\\u2014'),    '',    'Stage: <code>' + ($json.stage || '') + '</code>  Priority: <b>' + ($json.priority || '') + '</b>',    '',    ($json.summary || '')  ].join('\\n')}) }}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst ni = item.normalized_input || {};\nconst riskLevel = item.sender_risk_level || 'unknown';\nconst riskSignals = item.sender_risk_signals || [];\n\nreturn [{ json: {\n  sender: (ni.raw_meta && ni.raw_meta.sender) || 'unknown',\n  subject: ni.subject || '(no subject)',\n  date: ni.date || null,\n  email_account: ni.email_account_id || 'unknown',\n  risk_level: riskLevel,\n  risk_signals: riskSignals.join(', ') || 'none',\n  preview: (ni.raw_text || '').substring(0, 300)\n} }];"
      },
      "id": "mailde_q_log",
      "name": "Log: Quarantine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, parse_mode: 'HTML', text: [ '\\u{1F6AB} <b>Quarantine [mail.de]</b>', '', '\\u{1F4E7} ' + ($json.sender || '\\u2014'), '\\u{1F4CB} ' + ($json.subject || '\\u2014'), ($json.date ? '\\u{1F4C5} ' + String($json.date).substring(0,10) : null), '\\u26A0\\uFE0F \\u0420\\u0438\\u0441\\u043a: <code>' + ($json.risk_level || '?') + '</code>', '\\u{1F50D} \\u0421\\u0438\\u0433\\u043d\\u0430\\u043b\\u044b: <code>' + ($json.risk_signals || 'none') + '</code>', '', '<i>' + String($json.preview || '').substring(0,200) + '</i>' ].filter(Boolean).join('\\n')}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "mailde_q_tg",
      "name": "Telegram: Quarantine Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        520
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst ni = item.normalized_input || {};\n\nreturn [{ json: {\n  sender: (ni.raw_meta && ni.raw_meta.sender) || 'unknown',\n  subject: ni.subject || '(no subject)',\n  date: ni.date || null,\n  preview: (ni.raw_text || '').substring(0, 300)\n} }];"
      },
      "id": "mailde_inj_inj_log",
      "name": "Log: Injection Detected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, parse_mode: 'HTML', text: [ '\\u{1F6E1}\\uFE0F <b>Injection Detected [mail.de]</b>', '', '\\u{1F4E7} ' + ($json.sender || '\\u2014'), '\\u{1F4CB} ' + ($json.subject || '\\u2014'), ($json.date ? '\\u{1F4C5} ' + String($json.date).substring(0,10) : null), '', '<i>' + String($json.preview || '').substring(0,200) + '</i>' ].filter(Boolean).join('\\n')}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "mailde_inj_inj_tg",
      "name": "Telegram: Injection Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        520
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule: Every 15min": {
      "main": [
        [
          {
            "node": "IMAP: Fetch Unseen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMAP: Fetch Unseen": {
      "main": [
        [
          {
            "node": "Normalize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email": {
      "main": [
        [
          {
            "node": "Sender Risk Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender Risk Check": {
      "main": [
        [
          {
            "node": "IF: sender_risk high",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: sender_risk high": {
      "main": [
        [
          {
            "node": "Hard Injection Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: Quarantine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hard Injection Check": {
      "main": [
        [
          {
            "node": "IF: hard_injection_detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: hard_injection_detected": {
      "main": [
        [
          {
            "node": "LLM Call (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: Injection Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call (OpenRouter)": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "IF: is_job_related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is_job_related": {
      "main": [
        [
          {
            "node": "Prepare DB Params",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare DB Params": {
      "main": [
        [
          {
            "node": "DB: Write All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Write All": {
      "main": [
        [
          {
            "node": "IF: interview_date present",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF: priority = high",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: interview_date present": {
      "main": [
        [
          {
            "node": "Google Calendar: Create Event",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF: priority = high": {
      "main": [
        [
          {
            "node": "Telegram: Job Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Log: Quarantine": {
      "main": [
        [
          {
            "node": "Telegram: Quarantine Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Injection Detected": {
      "main": [
        [
          {
            "node": "Telegram: Injection Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}