n8n/manual-flow-minimal.json
{
  "name": "JobRadar — Flow 3: Manual Input",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jobradar-manual",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const b = $input.item.json.body;\nif (!b || !b.raw_text) {\n  throw new Error('raw_text is required');\n}\nreturn [{ json: { raw_text: b.raw_text, subject: b.subject || null, source_url: b.source_url || null } }];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'ok', received: $json.raw_text.substring(0, 50) } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "2185e6ccec75707d0f5cc25404cd43afc6a3ee0d740027a68fa5380b67643227"
  }
}