n8n/manual-flow-import.json
{
  "name": "JobRadar -- Flow 3: Manual Input",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jobradar-manual",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n_webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond_rawtext",
              "leftValue": "={{ $json.body.raw_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_validate",
      "name": "IF: raw_text not empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', error: 'raw_text is required' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "n_respond_empty",
      "name": "Respond: Empty Input",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const b = $input.item.json.body;\nreturn [{\n  json: {\n    normalized_input: {\n      input_source: 'manual',\n      source_detail: 'manual_text',\n      email_account_id: null,\n      email_address: null,\n      email_provider: null,\n      subject: b.subject || null,\n      date: new Date().toISOString(),\n      raw_text: b.raw_text,\n      raw_meta: {\n        url: b.source_url || null,\n        category_hint: b.category_hint || null\n      }\n    }\n  }\n}];"
      },
      "id": "n_normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Sender Risk Check\n//                  normalized_input.raw_meta.sender_domain\n// ============================================================\n\nconst ni = $input.item.json.normalized_input;\nconst senderEmail  = (ni.raw_meta && ni.raw_meta.sender_email)  || null;\nconst senderDomain = (ni.raw_meta && ni.raw_meta.sender_domain) ||\n                     (senderEmail ? senderEmail.split('@')[1] : null);\nconst subject      = (ni.subject || '').toLowerCase();\nconst rawText      = (ni.raw_text || '').toLowerCase();\n\nconst LEGIT_DOMAINS = new Set([\n  'stepstone.de','stepstone.com','stepstone.at',\n  'linkedin.com','linkedin.de',\n  'xing.com','xing.de','new.xing.com',\n  'indeed.com','de.indeed.com','indeed.de',\n  'join.com','glassdoor.com','glassdoor.de',\n  'monster.de','monster.com','kimeta.de',\n  'jobware.de','stellenanzeigen.de',\n  'arbeitsagentur.de','karriere.at','hokify.at',\n  'get-in-it.de','heyjobs.de','heyjobs.co',\n  'welcometothejungle.com','jooble.org',\n  'adzuna.de','adzuna.com','jobvector.de','experteer.de',\n  'greenhouse.io','lever.co','workday.com','myworkdayjobs.com',\n  'bamboohr.com','personio.de','personio.com',\n  'recruitee.com','smartrecruiters.com',\n  'softgarden.de','softgarden.io','successfactors.com',\n  'taleo.net','workable.com','jobvite.com','breezy.hr',\n  'google.com','amazon.com','amazon.de','microsoft.com',\n  'apple.com','meta.com','netflix.com','spotify.com',\n  'zalando.de','n26.com','delivery-hero.com','hellofresh.com',\n  'siemens.com','sap.com','bosch.com','bmw.com',\n  'telekom.de','t-systems.com','check24.de',\n  'auto1.com','otto.de','adidas.com','teamviewer.com'\n]);\n\nconst PORTAL_NAMES = [\n  'stepstone','linkedin','xing','indeed','glassdoor',\n  'monster','kimeta','jobware','join','karriere',\n  'arbeitsagentur','heyjobs','hokify','jooble','adzuna',\n  'jobvector','experteer','absolventa','greenhouse','lever',\n  'workday','bamboohr','personio','recruitee','smartrecruiters',\n  'softgarden','successfactors','workable','jobvite'\n];\n\nconst FREE_PROVIDERS = new Set([\n  'gmail.com','yahoo.com','yahoo.de','hotmail.com','hotmail.de',\n  'outlook.com','outlook.de','live.com','live.de','msn.com',\n  'mail.com','mail.de','gmx.de','gmx.com','gmx.net','gmx.at',\n  'web.de','t-online.de','freenet.de','aol.com',\n  'icloud.com','me.com','mac.com','zoho.com',\n  'yandex.com','yandex.ru','protonmail.com','proton.me',\n  'tutanota.com','fastmail.com'\n]);\n\nconst SUSPICIOUS_TLDS = ['.ru','.cn','.tk','.xyz','.top','.click','.gq','.ml',\n  '.cf','.ga','.pw','.icu','.live','.online','.site','.work','.loan',\n  '.win','.racing','.science','.party','.accountant','.download',\n  '.stream','.review','.country','.faith','.cricket','.bid',\n  '.trade','.webcam','.date'];\n\n\nconst DISPOSABLE_DOMAINS = new Set([\n  'mailinator.com','guerrillamail.com','guerrillamail.de',\n  '10minutemail.com','10minutemail.net',\n  'tempmail.com','temp-mail.org','temp-mail.io',\n  'throwam.com','yopmail.com','yopmail.fr',\n  'sharklasers.com','trashmail.com','trashmail.de','trashmail.at',\n  'spamgourmet.com','dispostable.com','mailnull.com',\n  'maildrop.cc','fakeinbox.com','mailnesia.com',\n  'throwaway.email','discard.email','wegwerfmail.de',\n  'sofort-mail.de','getairmail.com','filzmail.com'\n]);\n// ── Scam keywords ─────────────────────────────────────────────────────────────\nconst SCAM_SUBJECTS = [\n  'congratulations you have been selected','you have been chosen',\n  'urgent job offer','work from home earn','no experience needed',\n  'earn up to','weekly payment','part time from home','easy money',\n  'guaranteed income','mystery shopper','send money','gift card',\n  'western union','equipment will be sent to you'\n];\nconst SCAM_BODY = [\n  'wire transfer','gift card payment','send us your bank',\n  'advance payment','deposit required','training fee','equipment fee',\n  'background check fee','money order','western union','moneygram',\n  'zelle payment','upfront payment'\n];\n\nfunction levenshtein(a, b) {\n  const m = a.length, n = b.length;\n  const dp = Array.from({length: m+1}, (_, i) => Array.from({length: n+1}, (_, j) => i === 0 ? j : j === 0 ? i : 0));\n  for (let i = 1; i <= m; i++)\n    for (let j = 1; j <= n; j++)\n      dp[i][j] = a[i-1] === b[j-1] ? dp[i-1][j-1] : 1 + Math.min(dp[i-1][j], dp[i][j-1], dp[i-1][j-1]);\n  return dp[m][n];\n}\n\nfunction isGibberishLocalPart(local) {\n  if (!local || local.length < 3) return false;\n  const hasDigits    = /\\d/.test(local);\n  const hasLetters   = /[a-z]/i.test(local);\n  const digitRatio   = (local.match(/\\d/g) || []).length / local.length;\n  const randomPattern = /^[a-z]{1,3}\\d{4,}|^\\d{3,}[a-z]|^[a-z\\d]{12,}$/i;\n  return (digitRatio > 0.4 && local.length > 6) || randomPattern.test(local);\n}\n\nif (!senderDomain) {\n  return [{ json: {\n    normalized_input: ni,\n    sender_risk_level: 'unknown',\n    sender_risk_signals: []\n  }}];\n}\n\nconst domain = senderDomain.toLowerCase().trim();\nconst localPart = senderEmail ? senderEmail.split('@')[0].toLowerCase() : '';\nconst signals = [];\nlet riskLevel = 'low';\n\nif (LEGIT_DOMAINS.has(domain)) {\n  return [{ json: {\n    normalized_input: ni,\n    sender_risk_level: 'low',\n    sender_risk_signals: []\n  }}];\n}\n\nconst domainParts = domain.split('.');\nconst effectiveDomain = domainParts.length >= 2\n  ? domainParts[domainParts.length-2] + '.' + domainParts[domainParts.length-1]\n  : domain;\nif (!LEGIT_DOMAINS.has(effectiveDomain) && domain !== effectiveDomain) {\n  const containsPortal = PORTAL_NAMES.some(p => domain.includes(p) && !domain.endsWith('.' + p + '.de') && !domain.endsWith('.' + p + '.com'));\n  if (containsPortal) {\n    signals.push('subdomain_trick:' + domain);\n    riskLevel = 'high';\n  }\n}\n\nfor (const portal of PORTAL_NAMES) {\n  const domainBase = effectiveDomain.split('.')[0];\n  const dist = levenshtein(domainBase, portal);\n  if (dist > 0 && dist <= 2 && domainBase.length >= portal.length - 1) {\n    signals.push('typosquatting:' + effectiveDomain + ' ~ ' + portal);\n    riskLevel = 'high';\n  }\n}\n\nif (/^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$/.test(domain)) {\n  signals.push('ip_address_domain');\n  riskLevel = 'high';\n}\n\nconst tld = '.' + domain.split('.').pop();\nif (SUSPICIOUS_TLDS.includes(tld)) {\n  signals.push('suspicious_tld:' + tld);\n  if (riskLevel !== 'high') riskLevel = 'medium';\n}\n\nif (FREE_PROVIDERS.has(effectiveDomain)) {\n  signals.push('free_email_provider:' + effectiveDomain);\n  if (riskLevel === 'low') riskLevel = 'medium';\n}\n\n// 6b. Disposable email domain\nif (DISPOSABLE_DOMAINS.has(effectiveDomain)) {\n  signals.push('disposable_email_domain:' + effectiveDomain);\n  riskLevel = 'high';\n}\n\n// 7. Gibberish local part\nif (isGibberishLocalPart(localPart)) {\n  signals.push('gibberish_local_part:' + localPart.substring(0, 20));\n  if (riskLevel !== 'high') riskLevel = 'medium';\n}\n\nfor (const kw of SCAM_SUBJECTS) {\n  if (subject.includes(kw)) {\n    signals.push('scam_subject_keyword:' + kw);\n    riskLevel = 'high';\n    break;\n  }\n}\n\nfor (const kw of SCAM_BODY) {\n  if (rawText.includes(kw)) {\n    signals.push('scam_body_signal:' + kw);\n    riskLevel = 'high';\n    break;\n  }\n}\n\nif (/bank\\s*account|passport\\s*number|credit\\s*card|send\\s*\\$|pay\\s*\\$\\d/i.test(rawText)) {\n  signals.push('financial_data_request');\n  riskLevel = 'high';\n}\n\nreturn [{ json: {\n  normalized_input: ni,\n  sender_risk_level: riskLevel,\n  sender_risk_signals: signals\n}}];"
      },
      "id": "n_sender_risk",
      "name": "Sender Risk Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_sender_risk",
              "leftValue": "={{ $json.sender_risk_level }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "n_if_sender_risk",
      "name": "IF: sender_risk high",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'quarantined', sender_risk_level: $json.sender_risk_level, signals: $json.sender_risk_signals, message: 'Sender flagged as high risk. Email logged but not processed.' } }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "n_respond_quarantine",
      "name": "Respond: Quarantined",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const ni = $input.item.json.normalized_input;\n\nconst MAX_RAW = 10000;\nif (ni.raw_text && ni.raw_text.length > MAX_RAW) {\n  ni.raw_text = ni.raw_text.substring(0, MAX_RAW);\n}\n\nconst text = [\n  ni.raw_text || '',\n  ni.subject  || ''\n].join(' ').toLowerCase();\n\nconst INJECTION_PATTERNS = [\n  /ignore\\s+(all\\s+)?(previous|prior|above|earlier)\\s+instructions?/i,\n  /forget\\s+(your\\s+)?(rules?|instructions?|guidelines?|prompt|system)/i,\n  /you\\s+are\\s+now\\s+(a\\s+)?(?:an?\\s+)?(?:new|different|another|unrestricted)/i,\n  /act\\s+as\\s+(?:if\\s+you\\s+are\\s+)?(?:a\\s+)?(?:different|another|unrestricted|jailbreak)/i,\n  /\\[\\s*(?:INST|SYS|SYSTEM|ADMIN|ROOT|OVERRIDE)\\s*\\]/i,\n  /<\\|\\s*(?:system|assistant|user|im_start|im_end)\\s*\\|>/i,\n  /(?:^|\\s)SYSTEM\\s*:/im,\n  /(?:^|\\s)ADMIN\\s*:/im,\n  /from\\s*:\\s*anthropic/i,\n  /new\\s+role\\s*:/i,\n  /your\\s+new\\s+(instructions?|rules?|persona|role)\\s+(are|is)/i,\n  /disregard\\s+(all\\s+)?(previous|prior|your)\\s+(instructions?|rules?)/i,\n  /override\\s+(safety|content|all)\\s*(filter|policy|rules?|restrictions?|guidelines?)/i,\n  /pretend\\s+(you\\s+)?(have\\s+no|there\\s+are\\s+no|to\\s+be\\s+(?:a\\s+)?(?:different|another))/i,\n  /do\\s+not\\s+follow\\s+(your\\s+)?(rules?|guidelines?|instructions?|training)/i,\n  /reveal\\s+(your\\s+)?(system\\s+prompt|instructions?|secrets?|api\\s+key)/i,\n  /print\\s+(your\\s+)?(system\\s+prompt|instructions?|configuration)/i,\n  /repeat\\s+(the\\s+)?(above|previous|following)\\s+(?:text|prompt|instructions?)\\s+(?:word|verbatim)/i,\n  /translate\\s+(?:the\\s+)?(?:above|previous|system)\\s+(?:prompt|instructions?)/i,\n  /token\\s+manipulation|context\\s+injection|prompt\\s+leak/i\n];\n\nconst detected = INJECTION_PATTERNS.some(p => p.test(text));\n\nreturn [{ json: {\n  normalized_input: ni,\n  hard_injection_detected: detected ? \"yes\" : \"no\"\n} }];"
      },
      "id": "n_injection_check",
      "name": "Hard Injection Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_injection",
              "leftValue": "={{ $json.hard_injection_detected }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "n_if_injection",
      "name": "IF: hard_injection_detected",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'rejected', reason: 'prompt_injection_detected', message: 'Input contains suspicious content and was not processed.' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "n_respond_injection",
      "name": "Respond: Injection Detected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen/qwen3-30b-a3b-instruct-2507', max_tokens: 2048, messages: [{ role: 'system', content: $env.JOBRADAR_SYSTEM_PROMPT }, { role: 'user', content: JSON.stringify($json.normalized_input) }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "n_claude",
      "name": "LLM Call (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2030,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;\nlet jobEvent;\ntry {\n  let raw = (body.choices[0].message.content || '').trim();\n  // Strip Qwen3/CoT thinking blocks: <think>...</think>\n  raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n  // Strip markdown code fences: ```json ... ```\n  raw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  jobEvent = JSON.parse(raw);\n} catch (err) {\n  throw new Error('LLM returned invalid JSON: ' + String(body?.choices?.[0]?.message?.content || '').substring(0, 300));\n}\n\nif (typeof jobEvent.is_job_related !== 'boolean') {\n  throw new Error('Parse error: is_job_related must be boolean, got: ' + typeof jobEvent.is_job_related);\n}\nif (typeof jobEvent.injection_suspected !== 'boolean') {\n  jobEvent.injection_suspected = false;\n}\n\nconst ALLOWED_ACTIONS = ['create_job','update_stage','add_interview','add_deadline','log_only','flag_error','ignore'];\nif (!ALLOWED_ACTIONS.includes(jobEvent.action)) {\n  throw new Error('Parse error: invalid action value: ' + String(jobEvent.action));\n}\n\nif (jobEvent.company_id && !/^[a-z0-9][a-z0-9-]*[a-z0-9]$/.test(jobEvent.company_id)) {\n  jobEvent.company_id = jobEvent.company_id.toLowerCase().replace(/[^a-z0-9-]/g, '-').replace(/--+/g, '-').replace(/^-|-$/g, '');\n}\n\nif (!Array.isArray(jobEvent.tech_stack)) jobEvent.tech_stack = [];\nif (!Array.isArray(jobEvent.key_requirements)) jobEvent.key_requirements = [];\n\n// Business rule: job_posting is always job-related regardless of LLM decision\nconst JOB_RELATED_CATEGORIES = ['job_posting','hr_invite','interview_invite','test_task','offer','rejection','follow_up','platform_notification','manual_note'];\nif (JOB_RELATED_CATEGORIES.includes(jobEvent.category)) {\n  jobEvent.is_job_related = true;\n}\n\njobEvent.is_job_related_str = jobEvent.is_job_related ? 'yes' : 'no';\n\nreturn [{ json: { job_event: jobEvent } }];"
      },
      "id": "n_parse",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_related",
              "leftValue": "={{ $json.job_event.is_job_related_str }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "n_if_related",
      "name": "IF: is_job_related",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2470,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'ignored', reason: 'not_job_related', category: $json.job_event.category, summary: $json.job_event.summary } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "n_respond_not_related",
      "name": "Respond: Not Job Related",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2690,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "/* ============================================================\n   Prepare DB Params\n   Converts all job_event fields into SQL-safe string literals.\n   Each *_sql value is substituted verbatim into the CTE query.\n   Rule: sql() → 'escaped text' or NULL\n         en()  → 'value'::enum_type or NULL\n         arr() → '{\"a\",\"b\"}' (Postgres text[] literal)\n         jsonb()→ '{...}'::jsonb\n   ============================================================ */\n\nconst e = $input.item.json.job_event;\nconst ni = $('Normalize Input').item.json.normalized_input;\nconst rawText = ni.raw_text;\nconst senderRisk = $('Sender Risk Check').item.json;\nconst senderRiskLevel = senderRisk.sender_risk_level || 'unknown';\nconst senderRiskSignals = senderRisk.sender_risk_signals || [];\n\nfunction sql(v) {\n  if (v === null || v === undefined) return 'NULL';\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\nfunction num(v) {\n  if (v === null || v === undefined) return 'NULL';\n  const n = parseFloat(v);\n  return isNaN(n) ? 'NULL' : String(n);\n}\nfunction bool(v) { return v === true ? 'TRUE' : 'FALSE'; }\nfunction dt(v)   { return v ? \"'\" + String(v).replace(/'/g, \"''\") + \"'\" : 'NULL'; }\nfunction en(v, t) { return v ? \"'\" + String(v).replace(/'/g, \"''\") + \"'::\" + t : 'NULL'; }\nfunction arr(vals) {\n  if (!vals || vals.length === 0) return \"'{}'\";\n  const parts = vals.map(v => '\"' + String(v).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"') + '\"');\n  return \"'\" + '{' + parts.join(',') + '}' + \"'\";\n}\nfunction jsonb(v) {\n  if (!v) return \"'{}'::jsonb\";\n  return \"'\" + JSON.stringify(v).replace(/'/g, \"''\") + \"'::jsonb\";\n}\n\nreturn [{\n  json: {\n    job_event: e,\n    db: {\n      company_id_sql:           sql(e.company_id           || 'unknown'),\n      company_name_sql:         sql(e.company_name         || 'Unknown Company'),\n      employer_id_sql:          sql(e.employer_id),\n      employer_name_sql:        sql(e.employer_name),\n      job_id_fuzzy_sql:         sql(e.job_id_fuzzy         || 'unknown__unknown__unknown'),\n      job_title_sql:            sql(e.job_title),\n      location_sql:             sql(e.location),\n      job_thread_key_sql:       sql(e.job_thread_key),\n      seniority_sql:            en(e.seniority,             'seniority_enum'),\n      work_mode_sql:            en(e.work_mode,             'work_mode_enum'),\n      work_mode_raw_sql:        sql(e.work_mode_raw),\n      working_hours_sql:        sql(e.working_hours),\n      salary_currency_sql:      sql(e.salary_currency),\n      salary_min_sql:           num(e.salary_min),\n      salary_max_sql:           num(e.salary_max),\n      salary_period_sql:        en(e.salary_period,         'salary_period_enum'),\n      tech_stack_sql:           arr(e.tech_stack),\n      key_requirements_sql:     arr(e.key_requirements),\n      current_stage_sql:        en(e.stage || 'discovered', 'job_stage_enum'),\n      priority_sql:             en(e.priority,              'priority_enum'),\n      priority_level_sql:       num(e.priority_level),\n      interview_date_sql:       dt(e.interview_date),\n      response_deadline_sql:    dt(e.response_deadline),\n      application_deadline_sql: dt(e.application_deadline),\n      has_had_call_sql:         bool(e.has_had_call),\n      call_count_sql:           String(e.call_count || 0),\n      last_call_date_sql:       dt(e.last_call_date),\n      source_url_sql:           sql(e.source_url),\n      source_input_sql:         en(e.input_source,          'input_source_enum'),\n      summary_sql:              sql(e.summary),\n      category_sql:             en(e.category,              'job_category_enum'),\n      action_sql:               sql(e.action),\n      is_job_related_sql:       bool(e.is_job_related),\n      call_platform_sql:        en(e.call_platform,         'call_platform_enum'),\n      call_platform_raw_sql:    sql(e.call_platform_raw),\n      raw_text_sql:             sql(rawText),\n      parsed_json_sql:          jsonb(e),\n      email_account_id_sql:     sql(ni.email_account_id),\n      sender_risk_level_sql:    sql(senderRiskLevel),\n      sender_risk_signals_sql:  arr(senderRiskSignals)\n    }\n  }\n}];"
      },
      "id": "n_prepare",
      "name": "Prepare DB Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2690,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\nco AS (\n  INSERT INTO companies (company_id, name, meta)\n  VALUES ({{ $json.db.company_id_sql }}, {{ $json.db.company_name_sql }}, '{}')\n  ON CONFLICT (tenant_id, company_id) DO UPDATE SET updated_at = NOW()\n  RETURNING id\n),\nem AS (\n  INSERT INTO employers (employer_id, company_id, name)\n  SELECT {{ $json.db.employer_id_sql }},\n         {{ $json.db.company_id_sql }},\n         {{ $json.db.employer_name_sql }}\n  WHERE  {{ $json.db.employer_id_sql }} IS NOT NULL\n  ON CONFLICT (tenant_id, employer_id) DO UPDATE SET\n    name       = COALESCE(EXCLUDED.name, employers.name),\n    updated_at = NOW()\n  RETURNING id\n),\nj AS (\n  INSERT INTO jobs (\n    job_id_fuzzy,   company_id,      employer_id,\n    job_title,      location,        seniority,\n    work_mode,      work_mode_raw,   working_hours,\n    salary_currency, salary_min,     salary_max,     salary_period,\n    tech_stack,     key_requirements,\n    current_stage,  priority,        priority_level,\n    interview_date, response_deadline, application_deadline,\n    has_had_call,   call_count,      last_call_date,\n    source_url,     source_input,    summary\n  ) VALUES (\n    {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.company_id_sql }},\n    {{ $json.db.employer_id_sql }},\n    {{ $json.db.job_title_sql }},\n    {{ $json.db.location_sql }},\n    {{ $json.db.seniority_sql }},\n    {{ $json.db.work_mode_sql }},\n    {{ $json.db.work_mode_raw_sql }},\n    {{ $json.db.working_hours_sql }},\n    {{ $json.db.salary_currency_sql }},\n    {{ $json.db.salary_min_sql }},\n    {{ $json.db.salary_max_sql }},\n    {{ $json.db.salary_period_sql }},\n    {{ $json.db.tech_stack_sql }},\n    {{ $json.db.key_requirements_sql }},\n    {{ $json.db.current_stage_sql }},\n    {{ $json.db.priority_sql }},\n    {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }},\n    {{ $json.db.response_deadline_sql }},\n    {{ $json.db.application_deadline_sql }},\n    {{ $json.db.has_had_call_sql }},\n    {{ $json.db.call_count_sql }},\n    {{ $json.db.last_call_date_sql }},\n    {{ $json.db.source_url_sql }},\n    {{ $json.db.source_input_sql }},\n    {{ $json.db.summary_sql }}\n  )\n  ON CONFLICT (tenant_id, job_id_fuzzy) DO UPDATE SET\n    current_stage        = EXCLUDED.current_stage,\n    priority             = EXCLUDED.priority,\n    priority_level       = EXCLUDED.priority_level,\n    interview_date       = COALESCE(EXCLUDED.interview_date, jobs.interview_date),\n    response_deadline    = COALESCE(EXCLUDED.response_deadline, jobs.response_deadline),\n    application_deadline = COALESCE(EXCLUDED.application_deadline, jobs.application_deadline),\n    tech_stack           = CASE WHEN array_length(EXCLUDED.tech_stack, 1) > 0\n                                THEN EXCLUDED.tech_stack ELSE jobs.tech_stack END,\n    summary              = EXCLUDED.summary,\n    updated_at           = NOW()\n  RETURNING id, job_id_fuzzy, current_stage::text, priority::text, summary, interview_date\n),\nev AS (\n  INSERT INTO job_events (\n    job_id,         job_thread_key,  job_id_fuzzy,\n    input_source,   source_detail,\n    category,       is_job_related,  action,\n    stage,          priority,        priority_level,\n    interview_date, response_deadline, application_deadline,\n    call_platform,  call_platform_raw,\n    raw_text,       parsed_json,\n    email_account_id, sender_risk_level, sender_risk_signals\n  )\n  SELECT\n    (SELECT id FROM j),\n    {{ $json.db.job_thread_key_sql }},\n    {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.source_input_sql }},\n    'manual_text',\n    {{ $json.db.category_sql }},\n    {{ $json.db.is_job_related_sql }},\n    {{ $json.db.action_sql }},\n    {{ $json.db.current_stage_sql }},\n    {{ $json.db.priority_sql }},\n    {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }},\n    {{ $json.db.response_deadline_sql }},\n    {{ $json.db.application_deadline_sql }},\n    {{ $json.db.call_platform_sql }},\n    {{ $json.db.call_platform_raw_sql }},\n    {{ $json.db.raw_text_sql }},\n    {{ $json.db.parsed_json_sql }},\n    {{ $json.db.email_account_id_sql }},\n    {{ $json.db.sender_risk_level_sql }},\n    {{ $json.db.sender_risk_signals_sql }}\n  RETURNING id\n)\nSELECT\n  (SELECT id             FROM j) AS job_id,\n  (SELECT job_id_fuzzy   FROM j) AS job_id_fuzzy,\n  (SELECT current_stage  FROM j) AS stage,\n  (SELECT priority       FROM j) AS priority,\n  (SELECT summary        FROM j) AS summary,\n  (SELECT interview_date FROM j) AS interview_date,\n  (SELECT id             FROM ev) AS event_id;",
        "options": {}
      },
      "id": "n_db_write",
      "name": "DB: Write All",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2910,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "ZjjVGIqiRAUVlCk6",
          "name": "radar"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'ok', job_id: $json.job_id, job_id_fuzzy: $json.job_id_fuzzy, stage: $json.stage, priority: $json.priority, summary: $json.summary, event_id: $json.event_id } }}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "n_respond_success",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3130,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_interview",
              "leftValue": "={{ $json.interview_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "n_if_interview",
      "name": "IF: interview_date present",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3130,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ summary: 'Interview: ' + ($('Parse LLM Response').item.json.job_event.job_title || $json.job_id_fuzzy || 'Job') + ($('Parse LLM Response').item.json.job_event.company_name ? ' @ ' + $('Parse LLM Response').item.json.job_event.company_name : ''), description: [($('Parse LLM Response').item.json.job_event.company_name ? '<b>Unternehmen:</b> ' + $('Parse LLM Response').item.json.job_event.company_name : null), ($('Parse LLM Response').item.json.job_event.job_title ? '<b>Position:</b> ' + $('Parse LLM Response').item.json.job_event.job_title : null), ($json.interview_date ? '<b>Datum:</b> ' + String($json.interview_date).substring(0, 10) : null), ($json.stage ? '<b>Phase:</b> ' + $json.stage : null), ($json.priority ? '<b>Prioritaet:</b> ' + $json.priority : null), ($json.job_id_fuzzy ? '<b>ID:</b> ' + $json.job_id_fuzzy : null)].filter(Boolean).join('<br>'), start: { date: String($json.interview_date).substring(0, 10) }, end: { date: String($json.interview_date).substring(0, 10) }, reminders: { useDefault: true } }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "n_calendar_todo",
      "name": "Google Calendar: Create Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3350,
        360
      ],
      "notes": "Replace with Google Calendar node.\nCreate event: job_title @ company_name, start=interview_date, duration=1h.\nUse $('DB: Write All').item.json for job data.",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eLQTxfMJ6kryO1Iy",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "id": "n_if_priority_manual",
      "name": "IF: priority = high",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3130,
        540
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_priority",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n_telegram_manual",
      "name": "Telegram: Job Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3350,
        520
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, parse_mode: 'HTML', text: ['\\u{1F514} <b>[JobRadar] ' + ($('Parse LLM Response').item.json.job_event.company_name || 'Unknown') + '</b>', '<b>' + ($('Parse LLM Response').item.json.job_event.job_title || '') + '</b>', '', 'Phase: <code>' + ($json.stage || '') + '</code>  Prioritaet: <b>' + ($json.priority || '') + '</b>', (($('Parse LLM Response').item.json.job_event.salary_min || $('Parse LLM Response').item.json.job_event.salary_max) ? 'Gehalt: ' + [$('Parse LLM Response').item.json.job_event.salary_min, $('Parse LLM Response').item.json.job_event.salary_max].filter(Boolean).join('-') + ' ' + ($('Parse LLM Response').item.json.job_event.salary_currency || '') : null), '', ($json.summary || '')].filter(Boolean).join('\\n') }) }}",
        "options": {
          "timeout": 10000
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF: raw_text not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: raw_text not empty": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Empty Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Sender Risk Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is_job_related": {
      "main": [
        [
          {
            "node": "Prepare DB Params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Not Job Related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Params": {
      "main": [
        [
          {
            "node": "DB: Write All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Write All": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF: interview_date present",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF: priority = high",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: interview_date present": {
      "main": [
        [
          {
            "node": "Google Calendar: Create Event",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Hard Injection Check": {
      "main": [
        [
          {
            "node": "IF: hard_injection_detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: hard_injection_detected": {
      "main": [
        [
          {
            "node": "LLM Call (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Injection Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender Risk Check": {
      "main": [
        [
          {
            "node": "IF: sender_risk high",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: sender_risk high": {
      "main": [
        [
          {
            "node": "Hard Injection Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Quarantined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call (OpenRouter)": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "IF: is_job_related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: priority = high": {
      "main": [
        [
          {
            "node": "Telegram: Job Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}