n8n/rss-flow-api.json
{
  "name": "JobRadar -- Flow 10: RSS Job Feed",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6,
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "n_sched",
      "name": "Schedule: Every 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        340
      ],
      "notes": "Every 6h at 07:00/13:00/19:00/01:00.\nFetches 7 RSS feeds, ~80% filtered before LLM."
    },
    {
      "parameters": {},
      "id": "n_manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// RSS feed sources for job + freelance discovery\n// job_type: 'employment' = Anstellung | 'freelance' = Gewerbe/Projekt\n// Edit ONLY this list to add/remove feeds.\n\nconst FEEDS = [\n  // ── Employment (Anstellung) ──────────────────────────────────────────────\n  { url: 'https://remotive.com/remote-jobs/feed?category=software-dev&search=python',       label: 'remotive-python', job_type: 'employment' },\n  { url: 'https://remotive.com/remote-jobs/feed?category=software-dev&search=automation',   label: 'remotive-auto',   job_type: 'employment' },\n  { url: 'https://berlinstartupjobs.com/feed/',                                             label: 'berlin-startup',  job_type: 'employment' },\n  { url: 'https://www.arbeitnow.com/feed',                                                  label: 'arbeitnow',       job_type: 'employment' },\n  { url: 'https://jobicy.com/?feed=job_feed&job_categories=backend&job_types=full-time,contract&search_region=europe', label: 'jobicy-eu', job_type: 'employment' },\n  // ── Freelance / Contract (Gewerbe) ───────────────────────────────────────\n  { url: 'https://remoteok.com/remote-dev-jobs.rss',   label: 'remoteok-dev',   job_type: 'freelance' },\n  { url: 'https://weworkremotely.com/remote-jobs.rss', label: 'weworkremotely', job_type: 'freelance' },\n];\n\nreturn FEEDS.map(f => ({ json: f }));"
      },
      "id": "n_feeds",
      "name": "RSS Feed List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "notes": "Add/remove feeds here only.\n5 employment + 2 freelance sources.\nSupports RSS 2.0 and Atom."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/rss+xml, application/xml, text/xml, */*"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; JobRadar-RSS/1.0)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 20000
        }
      },
      "id": "n_fetch",
      "name": "HTTP: Fetch RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "notes": "Direct HTTP — no API key, no cost.\nUser-Agent prevents 403 on some feeds."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_ok",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_ok",
      "name": "IF: fetch ok",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse raw RSS 2.0 / Atom XML into individual job items.\n// Handles <item> (RSS 2.0) and <entry> (Atom).\n// Carries label + job_type from RSS Feed List node.\n\nconst feedConfig = $('RSS Feed List').item.json;\nconst raw = $input.item.json;\nconst xmlText = (typeof raw.data === 'string') ? raw.data : '';\n\nif (!xmlText) {\n  console.log('RSS: empty response from', feedConfig.label);\n  return [];\n}\n\nfunction getTag(block, tag) {\n  const re = new RegExp('<' + tag + '[^>]*>(?:<!\\\\[CDATA\\\\[)?([\\\\s\\\\S]*?)(?:\\\\]\\\\]>)?<\\\\/' + tag + '>', 'i');\n  const m = block.match(re);\n  return m ? m[1].replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim() : null;\n}\n\nconst blocks = [];\nlet m;\nconst rssRe  = /<item>([\\s\\S]*?)<\\/item>/gi;\nconst atomRe = /<entry>([\\s\\S]*?)<\\/entry>/gi;\nwhile ((m = rssRe.exec(xmlText))  !== null) blocks.push(m[1]);\nwhile ((m = atomRe.exec(xmlText)) !== null) blocks.push(m[1]);\n\nif (blocks.length === 0) {\n  console.log('RSS: 0 items parsed from', feedConfig.label, xmlText.substring(0, 200));\n  return [];\n}\n\n// Keep only items from last 72 h\nconst cutoff = new Date(Date.now() - 72 * 60 * 60 * 1000);\n\nconst items = blocks.map(block => ({\n  title:       getTag(block, 'title'),\n  link:        getTag(block, 'link') || getTag(block, 'guid') || getTag(block, 'id'),\n  description: (getTag(block, 'description') || getTag(block, 'content:encoded') || getTag(block, 'summary') || getTag(block, 'content') || '').substring(0, 3000),\n  pubDate:     getTag(block, 'pubDate') || getTag(block, 'updated') || getTag(block, 'dc:date'),\n})).filter(i => {\n  if (!i.link || !i.title) return false;\n  if (!i.pubDate) return true;\n  const d = new Date(i.pubDate);\n  return isNaN(d.getTime()) || d >= cutoff;\n});\n\nreturn items.map(i => ({ json: {\n  title:       i.title,\n  link:        i.link,\n  description: i.description,\n  pubDate:     i.pubDate,\n  label:       feedConfig.label,\n  job_type:    feedConfig.job_type,\n  feed_url:    feedConfig.url,\n}}));"
      },
      "id": "n_parse_rss",
      "name": "Parse RSS Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ],
      "notes": "Splits XML into individual items.\nFilters items older than 72h.\nOutputs: title, link, description, pubDate, label, job_type."
    },
    {
      "parameters": {
        "jsCode": "// Pre-LLM keyword filter — saves ~80% of API costs.\n// Drops items with no mention of Python / n8n / AI / Automation.\nconst INCLUDE = /python|\\bn8n\\b|\\bai\\b|llm|gpt|claude|automati|fastapi|docker|machine.?learning|\\bml\\b|data.?engi|workflow|langchain|openai|anthropic|ki-|künstliche/i;\n\nconst item = $input.item.json;\nconst text = (item.title || '') + ' ' + (item.description || '');\n\nif (!INCLUDE.test(text)) return [];\nreturn [$input.item];"
      },
      "id": "n_kw_filter",
      "name": "Keyword Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "notes": "Drops items without Python/AI/n8n keywords.\nSaves ~80% of LLM API calls."
    },
    {
      "parameters": {
        "jsCode": "// Normalize RSS item → JobRadar standard normalized_input.\nconst item = $input.item.json;\nconst isFreelance = (item.job_type === 'freelance');\n\nconst rawText = ((item.title || '') + '\\n\\n' + (item.description || '')).substring(0, 8000);\n\nreturn [{ json: {\n  normalized_input: {\n    input_source:     'scraped',\n    source_detail:    'rss',\n    job_type:         item.job_type || 'employment',\n    email_account_id: null,\n    email_address:    null,\n    email_provider:   null,\n    subject:          item.title,\n    date:             item.pubDate || null,\n    raw_text:         rawText,\n    raw_meta: {\n      url:      item.link,\n      label:    item.label,\n      platform: item.label,\n      feed_url: item.feed_url,\n    },\n    filter_context: isFreelance\n      ? 'GEWERBE FILTER: Set is_job_related=FALSE unless project requires Python, n8n, AI, LLM, FastAPI, Docker, or Automation. EXCLUDE SAP, Golang, Java, Payroll, HR. Priority: Python+n8n+AI=high, Python+automation=medium.'\n      : 'JOBS FILTER: Set is_job_related=TRUE for Python/AI/automation/data engineering roles. EXCLUDE pure management, PHP-only, Ruby-only. Priority by tech stack match.',\n  }\n}}];"
      },
      "id": "n_normalize",
      "name": "Normalize Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ],
      "notes": "Builds normalized_input.\nAdds filter_context based on job_type."
    },
    {
      "parameters": {
        "jsCode": "const ni = $('Normalize Item').item.json.normalized_input;\nreturn [{ json: { normalized_input: ni, hard_injection_detected: 'no' } }];"
      },
      "id": "n_security",
      "name": "Skip Security Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        300
      ],
      "notes": "Trusted RSS sources. No domain to verify."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'qwen/qwen3-30b-a3b-instruct-2507', max_tokens: 2048, messages: [{ role: 'system', content: $env.JOBRADAR_SYSTEM_PROMPT }, { role: 'user', content: JSON.stringify($json.normalized_input) }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "n_llm",
      "name": "LLM Call (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;\nlet jobEvent;\ntry {\n  let raw = (body.choices[0].message.content || '').trim();\n  raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n  raw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  jobEvent = JSON.parse(raw);\n} catch (err) {\n  throw new Error('LLM invalid JSON: ' + String(body?.choices?.[0]?.message?.content || '').substring(0, 300));\n}\nif (typeof jobEvent.is_job_related !== 'boolean') throw new Error('is_job_related must be boolean');\nif (typeof jobEvent.injection_suspected !== 'boolean') jobEvent.injection_suspected = false;\nconst ALLOWED = ['create_job','update_stage','add_interview','add_deadline','log_only','flag_error','ignore'];\nif (!ALLOWED.includes(jobEvent.action)) throw new Error('invalid action: ' + jobEvent.action);\nif (jobEvent.company_id && !/^[a-z0-9][a-z0-9-]*[a-z0-9]$/.test(jobEvent.company_id))\n  jobEvent.company_id = jobEvent.company_id.toLowerCase().replace(/[^a-z0-9-]/g,'-').replace(/--+/g,'-').replace(/^-|-$/g,'');\nif (!Array.isArray(jobEvent.tech_stack))       jobEvent.tech_stack = [];\nif (!Array.isArray(jobEvent.key_requirements)) jobEvent.key_requirements = [];\nconst JRC = ['job_posting','hr_invite','interview_invite','test_task','offer','rejection','follow_up','platform_notification','manual_note'];\nif (JRC.includes(jobEvent.category)) jobEvent.is_job_related = true;\njobEvent.is_job_related_str = jobEvent.is_job_related ? 'yes' : 'no';\nreturn [{ json: { job_event: jobEvent } }];"
      },
      "id": "n_parse_llm",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond_rel",
              "leftValue": "={{ $json.job_event.is_job_related_str }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n_if_related",
      "name": "IF: is_job_related",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const e = $('Parse LLM Response').item.json.job_event;\nconst deadline = e.application_deadline || e.response_deadline || null;\nif (deadline) {\n  const d = new Date(deadline);\n  if (!isNaN(d.getTime()) && d < new Date()) return [];\n}\nreturn [$input.item];"
      },
      "id": "n_filter_exp",
      "name": "Filter: Skip Expired",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const e  = $input.item.json.job_event;\nconst ni = $('Normalize Item').item.json.normalized_input;\nconst rawText   = ni.raw_text;\nconst sourceUrl = (ni.raw_meta && ni.raw_meta.url) || null;\n\nfunction sql(v)  { if (v==null) return 'NULL'; return \"'\"+String(v).replace(/'/g,\"''\")+\"'\"; }\nfunction num(v)  { if (v==null) return 'NULL'; const n=parseFloat(v); return isNaN(n)?'NULL':String(n); }\nfunction bool(v) { return v===true?'TRUE':'FALSE'; }\nfunction dt(v)   { return v?\"'\"+String(v).replace(/'/g,\"''\")+\"'\":'NULL'; }\nfunction en(v,t) { return v?\"'\"+String(v).replace(/'/g,\"''\")+\"'::\"+t:'NULL'; }\nfunction arr(vals) {\n  if (!vals||vals.length===0) return \"'{}'\";\n  return \"'{\"+vals.map(v=>'\"'+String(v).replace(/\\\\/g,'\\\\\\\\').replace(/\"/g,'\\\\\"')+'\"').join(',')+\"}'\"; }\nfunction jsonb(v) {\n  if (!v) return \"'{}'::jsonb\";\n  return \"'\"+JSON.stringify(v).replace(/'/g,\"''\")+\"'::jsonb\"; }\nfunction normWM(v) {\n  if (!v) return null;\n  const s=String(v).toLowerCase().replace(/[-\\s]/g,'_');\n  return {on_site:'onsite',onsite:'onsite',in_office:'onsite',office:'onsite',vor_ort:'onsite',\n    full_remote:'remote',fully_remote:'remote',remote:'remote',homeoffice:'remote',\n    hybrid:'hybrid',partially_remote:'hybrid'}[s]||null; }\nfunction normSen(v) {\n  if (!v) return null;\n  const s=String(v).toLowerCase().replace(/[-\\s]/g,'_');\n  return {intern:'intern',junior:'junior',jr:'junior',middle:'middle',mid:'middle',\n    medior:'middle',intermediate:'middle',senior:'senior',sr:'senior',\n    lead:'lead',tech_lead:'lead',principal:'principal',staff:'principal'}[s]||null; }\n\nreturn [{json:{job_event:e,db:{\n  company_id_sql:           sql(e.company_id||'unknown'),\n  company_name_sql:         sql(e.company_name||'Unknown Company'),\n  employer_id_sql:          sql(e.employer_id),\n  employer_name_sql:        sql(e.employer_name),\n  job_id_fuzzy_sql:         sql(e.job_id_fuzzy||'unknown__unknown__unknown'),\n  job_title_sql:            sql(e.job_title),\n  location_sql:             sql(e.location),\n  job_thread_key_sql:       sql(e.job_thread_key),\n  seniority_sql:            en(normSen(e.seniority),'seniority_enum'),\n  work_mode_sql:            en(normWM(e.work_mode),'work_mode_enum'),\n  work_mode_raw_sql:        sql(e.work_mode_raw),\n  working_hours_sql:        sql(e.working_hours),\n  salary_currency_sql:      sql(e.salary_currency),\n  salary_min_sql:           num(e.salary_min),\n  salary_max_sql:           num(e.salary_max),\n  salary_period_sql:        en(e.salary_period,'salary_period_enum'),\n  tech_stack_sql:           arr(e.tech_stack),\n  key_requirements_sql:     arr(e.key_requirements),\n  current_stage_sql:        en(e.stage||'discovered','job_stage_enum'),\n  priority_sql:             en(e.priority,'priority_enum'),\n  priority_level_sql:       num(e.priority_level),\n  interview_date_sql:       dt(e.interview_date),\n  response_deadline_sql:    dt(e.response_deadline),\n  application_deadline_sql: dt(e.application_deadline),\n  has_had_call_sql:         bool(e.has_had_call),\n  call_count_sql:           String(e.call_count||0),\n  last_call_date_sql:       dt(e.last_call_date),\n  source_url_sql:           sql(sourceUrl||e.source_url),\n  source_input_sql:         en('scraped','input_source_enum'),\n  job_type_sql:             sql(ni.job_type||'employment'),\n  summary_sql:              sql(e.summary),\n  category_sql:             en(e.category,'job_category_enum'),\n  action_sql:               sql(e.action),\n  is_job_related_sql:       bool(e.is_job_related),\n  call_platform_sql:        en(e.call_platform,'call_platform_enum'),\n  call_platform_raw_sql:    sql(e.call_platform_raw),\n  raw_text_sql:             sql(rawText),\n  parsed_json_sql:          jsonb(e),\n  sender_risk_level_sql:    sql('unknown'),\n  sender_risk_signals_sql:  arr([]),\n}}}];"
      },
      "id": "n_prepare",
      "name": "Prepare DB Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\nco AS (\n  INSERT INTO companies (company_id, name, meta)\n  VALUES ({{ $json.db.company_id_sql }}, {{ $json.db.company_name_sql }}, '{}')\n  ON CONFLICT (tenant_id, company_id) DO UPDATE SET updated_at = NOW()\n  RETURNING id\n),\nem AS (\n  INSERT INTO employers (employer_id, company_id, name)\n  SELECT {{ $json.db.employer_id_sql }}, {{ $json.db.company_id_sql }}, {{ $json.db.employer_name_sql }}\n  WHERE  {{ $json.db.employer_id_sql }} IS NOT NULL\n  ON CONFLICT (tenant_id, employer_id) DO UPDATE SET\n    name = COALESCE(EXCLUDED.name, employers.name), updated_at = NOW()\n  RETURNING id\n),\nj AS (\n  INSERT INTO jobs (\n    job_id_fuzzy, company_id, employer_id, job_title, location, seniority,\n    work_mode, work_mode_raw, working_hours,\n    salary_currency, salary_min, salary_max, salary_period,\n    tech_stack, key_requirements,\n    current_stage, priority, priority_level,\n    interview_date, response_deadline, application_deadline,\n    has_had_call, call_count, last_call_date,\n    source_url, source_input, summary, job_type\n  ) VALUES (\n    {{ $json.db.job_id_fuzzy_sql }}, {{ $json.db.company_id_sql }}, {{ $json.db.employer_id_sql }},\n    {{ $json.db.job_title_sql }}, {{ $json.db.location_sql }}, {{ $json.db.seniority_sql }},\n    {{ $json.db.work_mode_sql }}, {{ $json.db.work_mode_raw_sql }}, {{ $json.db.working_hours_sql }},\n    {{ $json.db.salary_currency_sql }}, {{ $json.db.salary_min_sql }}, {{ $json.db.salary_max_sql }}, {{ $json.db.salary_period_sql }},\n    {{ $json.db.tech_stack_sql }}, {{ $json.db.key_requirements_sql }},\n    {{ $json.db.current_stage_sql }}, {{ $json.db.priority_sql }}, {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }}, {{ $json.db.response_deadline_sql }}, {{ $json.db.application_deadline_sql }},\n    {{ $json.db.has_had_call_sql }}, {{ $json.db.call_count_sql }}, {{ $json.db.last_call_date_sql }},\n    {{ $json.db.source_url_sql }}, {{ $json.db.source_input_sql }}, {{ $json.db.summary_sql }}, {{ $json.db.job_type_sql }}\n  )\n  ON CONFLICT (tenant_id, job_id_fuzzy) DO UPDATE SET\n    current_stage = EXCLUDED.current_stage, priority = EXCLUDED.priority, priority_level = EXCLUDED.priority_level,\n    interview_date = COALESCE(EXCLUDED.interview_date, jobs.interview_date),\n    response_deadline = COALESCE(EXCLUDED.response_deadline, jobs.response_deadline),\n    application_deadline = COALESCE(EXCLUDED.application_deadline, jobs.application_deadline),\n    tech_stack = CASE WHEN array_length(EXCLUDED.tech_stack,1)>0 THEN EXCLUDED.tech_stack ELSE jobs.tech_stack END,\n    source_url = COALESCE(EXCLUDED.source_url, jobs.source_url),\n    summary = EXCLUDED.summary, job_type = EXCLUDED.job_type, updated_at = NOW()\n  RETURNING id, job_id_fuzzy, current_stage::text, priority::text, summary, interview_date\n),\nev AS (\n  INSERT INTO job_events (\n    job_id, job_thread_key, job_id_fuzzy, input_source, source_detail,\n    category, is_job_related, action, stage, priority, priority_level,\n    interview_date, response_deadline, application_deadline,\n    call_platform, call_platform_raw, raw_text, parsed_json,\n    sender_risk_level, sender_risk_signals\n  )\n  SELECT (SELECT id FROM j), {{ $json.db.job_thread_key_sql }}, {{ $json.db.job_id_fuzzy_sql }},\n    {{ $json.db.source_input_sql }}, 'rss',\n    {{ $json.db.category_sql }}, {{ $json.db.is_job_related_sql }}, {{ $json.db.action_sql }},\n    {{ $json.db.current_stage_sql }}, {{ $json.db.priority_sql }}, {{ $json.db.priority_level_sql }},\n    {{ $json.db.interview_date_sql }}, {{ $json.db.response_deadline_sql }}, {{ $json.db.application_deadline_sql }},\n    {{ $json.db.call_platform_sql }}, {{ $json.db.call_platform_raw_sql }},\n    {{ $json.db.raw_text_sql }}, {{ $json.db.parsed_json_sql }},\n    {{ $json.db.sender_risk_level_sql }}, {{ $json.db.sender_risk_signals_sql }}\n  RETURNING id\n)\nSELECT (SELECT id FROM j) AS job_id, (SELECT job_id_fuzzy FROM j) AS job_id_fuzzy,\n       (SELECT current_stage FROM j) AS stage, (SELECT priority FROM j) AS priority,\n       (SELECT summary FROM j) AS summary, (SELECT interview_date FROM j) AS interview_date,\n       (SELECT id FROM ev) AS event_id;",
        "options": {}
      },
      "id": "n_db_write",
      "name": "DB: Write All",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3060,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "Tvuhat51UDCzKwnE",
          "name": "Postgres account"
        }
      },
      "notes": "Idempotent upsert on job_id_fuzzy.\nsource_detail='rss' in job_events for audit."
    },
    {
      "parameters": {
        "jsCode": "const e  = $('Parse LLM Response').item.json.job_event;\nconst ni = $('Normalize Item').item.json.normalized_input;\nconst db = $input.item.json;\nconst rel = parseInt(e.relevance_score || 0);\nconst isFreelance = (ni.job_type === 'freelance');\nconst colorId = rel >= 80 ? '2' : rel >= 50 ? '5' : '8';\nconst icon = isFreelance ? '🔧' : '💼'; // 🔧 or 💼\n\nlet rateStr = '';\nif (e.salary_min) {\n  const p = {hourly:'/h',daily:'/d',monthly:'/mo'}[e.salary_period]||'';\n  rateStr = ' | '+(e.salary_min)+(e.salary_max?'–'+e.salary_max:'')+(e.salary_currency||'EUR')+p;\n}\nconst calSummary = icon+' [RSS] '+(e.job_title||'Job')+' @ '+(e.company_name||'?')+rateStr;\nconst todayISO = new Date().toISOString().split('T')[0];\nconst calStart = ((e.application_deadline||e.response_deadline||todayISO)+'').substring(0,10);\nconst sourceUrl = (ni.raw_meta&&ni.raw_meta.url)||'';\nconst platform  = (ni.raw_meta&&(ni.raw_meta.platform||ni.raw_meta.label))||'?';\nconst today = new Date().toLocaleDateString('de-DE',{day:'2-digit',month:'2-digit',year:'numeric'});\nconst tech = Array.isArray(e.tech_stack)&&e.tech_stack.length ? e.tech_stack.slice(0,8).join(' · ') : null;\nconst bar = '█'.repeat(Math.round(rel/10))+'░'.repeat(10-Math.round(rel/10));\n\nconst lines = ['═'.repeat(30), icon+' RSS '+(isFreelance?'GEWERBE':'JOBS')+'-RADAR', '═'.repeat(30), '',\n  '🟢 '+(e.company_name||'?')];\nif (tech) lines.push('🔧 Stack: '+tech);\nif (e.location) lines.push('📍 '+(e.location)+(e.work_mode?' | '+e.work_mode:''));\nif (e.salary_min) lines.push('💰 '+(e.salary_min)+(e.salary_max?'–'+e.salary_max:'')+' '+(e.salary_currency||'EUR'));\nlines.push('', '📈 Relevanz: ['+bar+'] '+rel+'/100', '');\nif (e.summary) { lines.push('💬 '+e.summary, ''); }\nlines.push('─'.repeat(30));\nif (sourceUrl) lines.push('🔗 '+sourceUrl);\nlines.push('🏷️ '+platform+' | 📅 '+today, '', 'JobRadar RSS — KI Automation Intelligence Hub');\n\nreturn [{json:{job_id:db.job_id, stage:db.stage, priority:db.priority, summary:db.summary,\n  job_type:ni.job_type, calSummary, calStart, calEnd:calStart, calColorId:colorId,\n  calDescription:lines.join('\\n')}}];"
      },
      "id": "n_cal_prep",
      "name": "Prepare Calendar Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        300
      ],
      "notes": "💼 = employment (Anstellung), 🔧 = freelance.\nColor: green>=80, yellow>=50, grey<50."
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "cdb3fac04c0616e603e1ced86dfe3022950d443273a66812e83b847306508d49@group.calendar.google.com",
          "mode": "id"
        },
        "start": "={{ $json.calStart }}",
        "end": "={{ $json.calEnd }}",
        "additionalFields": {
          "summary": "={{ $json.calSummary }}",
          "description": "={{ $json.calDescription }}",
          "colorId": "={{ $json.calColorId }}",
          "allday": true
        }
      },
      "id": "n_calendar",
      "name": "Calendar: RSS Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        3500,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eLQTxfMJ6kryO1Iy",
          "name": "Google Calendar account"
        }
      },
      "notes": "Writes to JobRadar Gewerbe calendar (both employment and freelance).\nTODO: add JOBRADAR_MAIN_CALENDAR_ID env var for employment if needed."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  chat_id: parseInt($env.TELEGRAM_GEWERBE_CHAT_ID),\n  parse_mode: 'HTML',\n  text: [\n    ($json.job_type==='freelance' ? '🔧' : '💼')\n      + ' <b>[RSS] ' + ($('Parse LLM Response').item.json.job_event.company_name || '?') + '</b>',\n    ($('Parse LLM Response').item.json.job_event.job_title || '—'),\n    '',\n    'Stage: <code>' + ($json.stage||'discovered') + '</code>  Priority: <b>' + ($json.priority||'?') + '</b>',\n    'Feed: ' + ((($('Normalize Item').item.json.normalized_input.raw_meta)||{}).label||'?'),\n    '',\n    ($json.summary || '')\n  ].join('\\n'),\n  disable_web_page_preview: true\n}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "n_telegram",
      "name": "Telegram: RSS Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3720,
        300
      ],
      "notes": "Sends to TELEGRAM_GEWERBE_CHAT_ID.\n💼 icon = employment job, 🔧 = freelance project."
    }
  ],
  "connections": {
    "Schedule: Every 6h": {
      "main": [
        [
          {
            "node": "RSS Feed List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "RSS Feed List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed List": {
      "main": [
        [
          {
            "node": "HTTP: Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "IF: fetch ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: fetch ok": {
      "main": [
        [
          {
            "node": "Parse RSS Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Parse RSS Items": {
      "main": [
        [
          {
            "node": "Keyword Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Filter": {
      "main": [
        [
          {
            "node": "Normalize Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Item": {
      "main": [
        [
          {
            "node": "Skip Security Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Security Checks": {
      "main": [
        [
          {
            "node": "LLM Call (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call (OpenRouter)": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "IF: is_job_related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: is_job_related": {
      "main": [
        [
          {
            "node": "Filter: Skip Expired",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Filter: Skip Expired": {
      "main": [
        [
          {
            "node": "Prepare DB Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Params": {
      "main": [
        [
          {
            "node": "DB: Write All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Write All": {
      "main": [
        [
          {
            "node": "Prepare Calendar Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calendar Data": {
      "main": [
        [
          {
            "node": "Calendar: RSS Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar: RSS Event": {
      "main": [
        [
          {
            "node": "Telegram: RSS Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}